<div class="consultation-bg-img" appDefaultImage [type]="'consultation-cover'"
[ngStyle]="profileData?.ministry?.category?.coverPhoto?.url ? {'background-image': 'url(' + profileData?.ministry?.category?.coverPhoto?.url + ')'} : null"
[ngClass]="profileData?.visibility === 'private_consultation' ? 'private-bg' : ''"></div>
<div class="consultation-profile">
  <aside class="consultation-profile__sidebar-section">
    <app-profile-card [profile]='profileData'></app-profile-card>
  </aside>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>
<app-footer></app-footer>
