@import './src/assets/styles/app';

.consultation-profile {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-column-gap: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 25px 0;

  margin-top: 77px;
  
  @media screen and (max-width: 991px) {
    margin-top: 57px;
  }

  &__sidebar-section {

  }

  &__main-section {

    .paper-effect {
      padding: 28px 32px;
      background-color: $white;
      box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.13);
      border-radius: 5px;
    }

    .heading {
      @include general-text($font-size: 16px, $weight: bold);
    }

    .summary-content {
      @include general-text;
    }

    .response-container {
      padding: 25px 0;
      border-bottom: 1px solid $divider-border;
      &:last-child {
        border-bottom: none;
      }
      .vote-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .vote-count {
          span:nth-child(1) {
            color: $blue-bg-light;
            font-size: 24px;
            cursor: pointer;
          }
          span:nth-child(2) {
            color: #A6A6A6;
            font-size: 24px;
            cursor: pointer;
          }
        }
        .response-btn {
          padding: 5px 10px;
          color: $primary-color;
          background-color: transparent;
          border-radius: 3px;
          border: 1px solid #1894EA;
        }
      }
    }
  }
}