  
    <div>
      <div class="satisfactory-heading" id="satisfactory-heading" >
        {{'How satisfied are you with this ' | translate}}
        {{profileData?.visibility === 'public_consultation' ? 'Consultation' : 'Document' | translate }}
      </div>
      <div class="satisfactory-tip" id="satisfactory-tip">
        {{'Choose an option to submit your feedback' | translate}}
      </div>
    </div>
        <div 
          class="options-block" 
          [ngClass]="{'response-form-invalid-input': (showError && !responseFeedback)}"
          role="radiogroup" 
          aria-errormessage="satisfaction-rating-error"
          [attr.aria-invalid]="showError && !responseFeedback"
          aria-required="true"
          tabindex="0"
          aria-describedby="satisfactory-tip"
          aria-labelledby="satisfactory-heading">
        
        <button 
            class="grey-bg SatisfactionRating"
            [ngClass]="{'active': (responseFeedback === 'dissatisfied')}"
            (click)="setSatisfactoryRating('dissatisfied')" role="radio" aria-checked="false" value="dissatisfied">
            <span>
              <img *ngIf="profileData?.visibility !== 'private_consultation'" src="assets/images/dissatisfied.svg" alt=""/>
              <img *ngIf="profileData?.visibility === 'private_consultation'" class="s-32" src="assets/images/private_dissatisfied.png" alt=""/>
              Dissatisfied
            </span>
          </button>
          <button 
            class="grey-bg SatisfactionRating"
            [ngClass]="{'active': (responseFeedback === 'somewhat_dissatisfied')}"
            (click)="setSatisfactoryRating('somewhat_dissatisfied')" role="radio" aria-checked="false" value="somewhat_dissatisfied">
            <span>
              <img *ngIf="profileData?.visibility !== 'private_consultation'" src="assets/images/somewhat_dissatisfied.svg" alt=""/>
              <img *ngIf="profileData?.visibility === 'private_consultation'" class="s-32" src="assets/images/private_somewhat_dissatisfied.png" alt=""/>
              Somewhat Dissatisfied
            </span>
          </button>
          <button 
            class="grey-bg SatisfactionRating"
            [ngClass]="{'active': (responseFeedback === 'somewhat_satisfied')}"
            (click)="setSatisfactoryRating('somewhat_satisfied')" role="radio" aria-checked="false" value="somewhat_satisfied">
            <span>
              <img *ngIf="profileData?.visibility !== 'private_consultation'"  src="assets/images/somewhat_satisfied.svg" alt=""/>
              <img *ngIf="profileData?.visibility === 'private_consultation'" class="s-32" src="assets/images/private_somewhat_satisfied.png" alt=""/>
              Somewhat Satisfied
            </span>
          </button>
          <button 
            class="grey-bg SatisfactionRating"
            [ngClass]="{'active': (responseFeedback === 'satisfied')}"
            (click)="setSatisfactoryRating('satisfied')" role="radio" aria-checked="false" value="satisfied">
            <span>
              <img *ngIf="profileData?.visibility !== 'private_consultation'"  src="assets/images/satisfied.svg" alt=""/>
              <img *ngIf="profileData?.visibility === 'private_consultation'" class="s-32" src="assets/images/private_satisfied.png" alt=""/>
              Satisfied
            </span>
          </button>
        </div>
        <p class="error-msg" *ngIf="showError && !responseFeedback" tabindex="0">Please select a Satisfaction Rating to submit the response</p>
        <div class="hr-line"></div>
