<section>
    <p class="satisfactory-heading">
        <p class="satisfactory-heading" tabindex="0">
          {{'How satisfied are you with this ' | translate}}
          {{profileData?.visibility === 'public_consultation' ? 'Consultation' : 'Document' | translate }}
        </p>
        <p class="satisfactory-tip" tabindex="0">
          {{'Choose an option to submit your feedback' | translate}}
        </p>
        <div class="options-block" role="radiogroup" aria-required="true">
          <button 
            class="grey-bg SatisfactionRating"
            [ngClass]="{'active': (responseFeedback === 'dissatisfied')}"
            (click)="setSatisfactoryRating('dissatisfied')" role="radio" aria-checked="false" value="dissatisfied">
            <span>
              <img *ngIf="profileData?.visibility !== 'private_consultation'" src="assets/images/dissatisfied.svg" alt=""/>
              <img *ngIf="profileData?.visibility === 'private_consultation'" class="s-32" src="assets/images/private_dissatisfied.png" alt=""/>
              Dissatisfied
            </span>
          </button>
          <button 
            class="grey-bg SatisfactionRating"
            [ngClass]="{'active': (responseFeedback === 'somewhat_dissatisfied')}"
            (click)="setSatisfactoryRating('somewhat_dissatisfied')" role="radio" aria-checked="false" value="somewhat_dissatisfied">
            <span>
              <img *ngIf="profileData?.visibility !== 'private_consultation'" src="assets/images/somewhat_dissatisfied.svg" alt=""/>
              <img *ngIf="profileData?.visibility === 'private_consultation'" class="s-32" src="assets/images/private_somewhat_dissatisfied.png" alt=""/>
              Somewhat Dissatisfied
            </span>
          </button>
          <button 
            class="grey-bg SatisfactionRating"
            [ngClass]="{'active': (responseFeedback === 'somewhat_satisfied')}"
            (click)="setSatisfactoryRating('somewhat_satisfied')" role="radio" aria-checked="false" value="somewhat_satisfied">
            <span>
              <img *ngIf="profileData?.visibility !== 'private_consultation'"  src="assets/images/somewhat_satisfied.svg" alt=""/>
              <img *ngIf="profileData?.visibility === 'private_consultation'" class="s-32" src="assets/images/private_somewhat_satisfied.png" alt=""/>
              Somewhat Satisfied
            </span>
          </button>
          <button 
            class="grey-bg SatisfactionRating"
            [ngClass]="{'active': (responseFeedback === 'satisfied')}"
            (click)="setSatisfactoryRating('satisfied')" role="radio" aria-checked="false" value="satisfied">
            <span>
              <img *ngIf="profileData?.visibility !== 'private_consultation'"  src="assets/images/satisfied.svg" alt=""/>
              <img *ngIf="profileData?.visibility === 'private_consultation'" class="s-32" src="assets/images/private_satisfied.png" alt=""/>
              Satisfied
            </span>
          </button>
        </div>
        <p class="error-msg" *ngIf="showError && !responseFeedback" tabindex="0">Please select a Satisfaction Rating to submit the response</p>
        <div class="hr-line"></div>
</section>