<div class="login-index row no-gutters">

  <div class="login-index__left col-md-4">
    <div class="overlay"></div>
    <div class="cover-detail">
      <button class="back-btn" [routerLink]="['/']">
        <span><i class="fa fa-angle-left back-arrow"></i></span>
        Back
      </button>
      <ng-container *ngIf="caseStudyList && caseStudyList.length; else defaultCaseStudy">
        <div *ngFor="let caseStudy of caseStudyList; let i = index">
          <div class="info-box" *ngIf="i === activeCaseStudy">
            <p class="info-box__title">
              {{'IN THE PAST' | translate}}
            </p>
            <p class="info-box__heading">
              {{caseStudy?.name + ', ' | translate}}
              <span *ngIf="caseStudy?.createdAt">
                {{caseStudy?.createdAt | date: 'yyyy' }}
              </span>
            </p>
            <p class="info-box__sub-heading">
              {{caseStudy?.ministryName | translate}}
            </p>
            <p class="info-box__message mb-4" *ngIf="caseStudy?.noOfCitizens">
              <span><i class="fa fa-line-chart mr-2"></i></span>{{ caseStudy?.noOfCitizens + ' citizen leaders participated' | translate}}
            </p>
            <a class="app-btn circular read-case-btn"
              [href]="caseStudy?.url">{{'READ CASE STUDY' | translate}}</a>
          </div>
        </div>
      </ng-container>
      <ng-template #defaultCaseStudy> 
        <div class="info-box">
          <p class="info-box__title">
            {{'IN THE PAST' | translate}}
          </p>
          <p class="info-box__heading">
            {{'Bengaluru Revised Master Plan, 2031' | translate}}
          </p>
          <p class="info-box__sub-heading">
            {{'Bengaluru Development Authority' | translate}}
          </p>
          <p class="info-box__message mb-4">
            <span><i class="fa fa-line-chart mr-2"></i></span>{{'1,096 citizen leaders participated' | translate}}
          </p>
          <a class="app-btn circular read-case-btn"
            href="https://medium.com/civis-vote/case-study-bengaluru-master-plan-2031-7131687468f2">{{'READ CASE STUDY' | translate}}</a>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="login-index__right col-md-8 col-12">
    <div class="header mx-auto">
      <div class="logo-container">
        <img class="logo" [routerLink]="['/']" src='assets/images/brand-logo/brand-logo.svg' />
      </div>
      <div class="sign-up-container">
        <p class="auth-text">
          Don't have an account??
        </p>
        <button class="app-btn circular auth-btn" [routerLink]="['/auth-private', 'sign-up']">Sign Up</button>
      </div>
      <div class="sign-up-mobile-container">
        <div>
          <button class="app-btn primary sign-up-btn" [routerLink]="['/auth-private', 'sign-up']">Sign Up</button>
        </div>
      </div>
    </div>
    <p class="logo-heading mx-auto">Log in to your account</p>

    <div class="form-space row no-gutters mt-4">
      <!-- <div class="form-space-right">
          <button class="app-btn gmail" (click)="redirectTo('google')">
            <div class="social-img">
              <picture>
                <source srcset="assets/images/Gmail.webp" type="image/webp">
                <source srcset="assets/images/Gmail.jpg" type="image/jpeg">
                <img src="assets/images/Gmail.jpg" alt="Gmail logo" />
              </picture>
            </div>
            <p class="mb-0 ml-2">Sign in with Google</p>
          </button> 
          <button class="app-btn facebook ml-3" (click)="redirectTo('facebook')">
            <div class="social-img">
              <picture>
                <source srcset="assets/images/Facebook.webp" type="image/webp">
                <source srcset="assets/images/Facebook.jpg" type="image/jpeg">
                <img src="assets/images/Facebook.jpg" alt="Facebook logo" />
              </picture>
            </div>
            <p class="mb-0 ml-1">Sign in with Facebook</p>
          </button>
        </div> -->

      <!-- <div class="form-space-middle col-md-12">
          <hr class="horizontal-divider-desktop" data-content="OR"> -->
      <!-- horizontal-divider for mobile -->
      <!-- <hr class="horizontal-divider" data-content="OR">  
        </div> -->


      <div class="form-space__left">
        <form #loginForm="ngForm" (ngSubmit)="submit(loginForm.valid)" autocomplete="off">
          <div class="row">
            <div class="input-box col-12">
              <label for="email">Email</label>
              <div class="input-box__border">
                <input placeholder="Email" type="email" id="email" #email="ngModel" name="email"
                  [(ngModel)]="loginObject.email" required email />
              </div>
              <div *ngIf="email.invalid && (email.touched || loginForm.submitted)" class="error-msg">
                <div *ngIf="email.errors.required">Email is Required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
              </div>
            </div>

            <div class="input-box col-12">
              <div class="d-flex justify-content-between">
                <label for="password">Password</label>
                <input class="pull-right" type="button" tabindex="-1" value="Forgot my password" class="forgot-link"
                  [routerLink]="['/auth-private', 'forgot-password']">
              </div>
              <div class="input-box__border">
                <input placeholder="Password" type="password" id="password" #password="ngModel" name="password"
                  [(ngModel)]="loginObject.password" required />
              </div>
              <div *ngIf="password.invalid && (password.touched || loginForm.submitted)" class="error-msg">Password is
                Required</div>
            </div>

            <div class="col-12">
              <button class="app-btn secondary get-start-btn mt-1" type="submit">
                <p class="m-auto">Log In</p>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>