@import "../helpers/variables";

.avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;

  &--24 {
    height: 24px;
    width: 24px;
  }

  &--64 {
    height: 64px;
    width: 64px;
  }

  &--80 {
    height: 80px;
    width: 80px;
  }
}