<div #questionnaireContainer>
  <div class="paper-effect  mt-4 m-0-sm" *ngIf="!responseCreated">
    <app-satisfaction-rating-selection (selectSatisfaction)="responseFeedback = $event"></app-satisfaction-rating-selection>
    <div class="question-box">
      <form [formGroup]="questionnaireForm"  #f="ngForm">
        <div class="questions-container">
          <div class="question-index" *ngFor="let question of questions; let i = index">
              <div class="question">
                <p class="question-text">
                  <span class="question-text__number">{{i+1}}.</span>
                  {{question.questionText}} 
                  <span *ngIf="!question.isOptional" class="required-text pl-1"> *</span>
                </p>
                <div class="answer" *ngIf="question.questionType === 'multiple_choice'">
                  <div class="option-box" *ngFor="let subQuestion of question.subQuestions">
                    <label>
                      <input type="radio" class="cm-radio" (input)="onAnswerChange(question,subQuestion)" [formControlName]="question.id" [value]="subQuestion.id">
                      <span>{{subQuestion.questionText}}</span>
                    </label>
                  </div>
                  <div *ngIf="showError && questionnaireForm.controls[question.id].errors" class="error-msg text-left">This is a mandatory question and your response is required</div>
                </div>
                <div class="answer" *ngIf="question.questionType === 'dropdown'">
                    <ng-select 
                    [items]="question.subQuestions" bindLabel="questionText" [virtualScroll]="true" dropdownPosition="bottom" 
                    bindValue="id"  [clearable]="false" loadingText="Searching..." [searchable]="false" (change)="onAnswerChange(question, $event)"
                    placeholder="Select an option" [formControlName]="question.id"> 
                    </ng-select>
                    <div *ngIf="showError && questionnaireForm.controls[question.id].errors" class="error-msg text-left">This is a mandatory question and your response is required</div>  
                </div>
                <div class="answer" [formGroupName]="question.id" *ngIf="question.questionType === 'checkbox'">
                  <label class="answer__tips">Choose as many as you like</label>
                  <div class="option-box" *ngFor="let subQuestion of question.subQuestions">
                    <label>
                      <input type="checkbox" class="cm-radio" (input)="onAnswerChange(question,subQuestion, $event.target.checked)" [formControlName]="subQuestion.id" (click)="toggleCheckbox(question.id, subQuestion.id)">
                      <span>{{subQuestion.questionText}}</span>
                    </label>
                  </div>
                  <div *ngIf="showError && questionnaireForm.controls[question.id].errors" class="error-msg text-left">This is a mandatory question and your response is required</div>
                </div>
                <div class="answer" [id]="'text-area-' + question.id" *ngIf="question.questionType === 'long_text'">
                  <div class="text-area">
                    <textarea (input)="longTextAnswer = $event.target.value" placeholder="Type your answer here, please refrain from using profane words" 
                    [formControlName]="question.id" [(ngModel)]='userResponse'></textarea>
                  </div>
                  <div *ngIf="showError && questionnaireForm.controls[question.id].errors" class="error-msg text-left">This is a mandatory question and your response is required</div> 
                </div>
                <div class="input-box" *ngIf="question.is_other">
                  <div class="input-box__border">
                    <input placeholder="Type answer here" type="text"
                    [formControlName]="question.other_answer" />
                  </div>
                </div>
                <div *ngIf="showError && questionnaireForm.controls[question.other_answer]?.errors && question.is_other" class="error-msg text-left ml-3">This is a mandatory question and your response is required</div> 
              </div>
            </div>
          </div>
          <div class="checkbox-area" *ngIf="showPublicResponseOption()">
            <div class="input-checbox" >
              <input class="cm-checkbox mr-2" type="checkbox" [(ngModel)]="responseVisibility" [ngModelOptions]="{standalone: true}"/> 
              <label class="m-0">{{'Make my response public' | translate}}</label>
              <span class="link" tooltip="If you feel passionately about this Consultation, you can make your response public, 
              for others to use as a template. Your first name is shared with the Government if you make your response public.
              If you’re not sure what to write, you can choose other people’s responses to send as your own.">{{'What does this mean?' | translate}}</span>
            </div>
          </div>
          <div class="py-3">
            <button  class="btn-submit active" (click)='submitAnswer()' [tooltip]="(showError && !f.valid)  ? 'Please fill all the answers to submit response.' : ''" data-event="purchase">
              <p class="m-0">
                SUBMIT RESPONSE
              </p>
              <span class="ml-2"><i class="fa fa-angle-right"></i></span>
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
<app-confirm-email-modal *ngIf="showConfirmEmailModal" (close)="showConfirmEmailModal = false">
</app-confirm-email-modal>

<app-auth-modal *ngIf="authModal" [consultationId]="consultationId" (close)="authModal = false"></app-auth-modal>
<app-profane-modal *ngIf="isConfirmModal" [message]='confirmMessage' [showCancel]=false (close)='confirmed($event)'></app-profane-modal>