<div #questionnaireContainer>
  <div class="paper-effect  mt-4 m-0-sm" *ngIf="!responseCreated">
    <app-satisfaction-rating-selection (selectSatisfaction)="responseFeedback = $event"></app-satisfaction-rating-selection>
    <div class="question-box">
      <form [formGroup]="questionnaireForm"  #f="ngForm">
        <div class="questions-container">
          <div class="question-index" *ngFor="let question of questions; let question_number = index">                        
              <div class="question" tabindex="0" [ngClass]="{'response-form-invalid-input': (showError && questionnaireForm.controls[question.id].errors)}" >
                <div class="answer">
                  <ng-container *ngIf="question.questionType === 'multiple_choice'">
                    <fieldset id="{{question.id}}" >    
                      <legend 
                          aria-hidden="true"
                          id="question-{{question.id}}-label" 
                          class="question-text" >
                          <app-hidden-text
                            main_class="question-text__number" 
                            main_text="{{question_number + 1}}. "
                            accessibility_text="Question number {{question_number + 1}}"></app-hidden-text>
                          {{question.questionText}} 
                          <app-required-indicator *ngIf="!question.isOptional"></app-required-indicator>
                      </legend>                    
                      <div 
                          class="option-box" 
                          *ngFor="let subQuestion of question.subQuestions">
                                          
                          <input 
                            type="checkbox" 
                            class="cm-radio" 
                            (input)="onAnswerChange(question,subQuestion)" 
                            [formControlName]="question.id" 
                            [value]="subQuestion.id"           
                            id="option-{{subQuestion.id}}"> 

                          <label for="option-{{subQuestion.id}}"><span>{{subQuestion.questionText}}</span></label>
                      </div>
                    </fieldset>               
                  </ng-container>  
                  
                  <ng-container *ngIf="question.questionType === 'dropdown'">
                    <label 
                      for="question-{{question.id}}" 
                      id="question-{{question.id}}-label" 
                      class="question-text">
                      <app-hidden-text
                        main_class="question-text__number" 
                        main_text="{{question_number + 1}}. "
                        accessibility_text="Question number {{question_number + 1}}"></app-hidden-text>

                      {{question.questionText}} 
                      <app-required-indicator *ngIf="!question.isOptional"></app-required-indicator>
                  </label>

                    <ng-select 
                      id="question-{{question.id}}"
                      [items]="question.subQuestions" 
                      bindLabel="question-{{question.id}}-label" 
                      [virtualScroll]="true" 
                      dropdownPosition="bottom" 
                      aria-labelledby="question-{{question.id}}-label"
                      bindValue="id"  
                      [clearable]="false" 
                      loadingText="Searching..." 
                      [searchable]="false"
                      aria-errormessage="{{question.id}}-error-msg"  
                      [attr.aria-invalid]="showError && questionnaireForm.controls[question.id].errors"
                      (change)="onAnswerChange(question, $event)"
                      placeholder="Select an option" 
                      [formControlName]="question.id"
                      [attr.required]="!question.isOptional" > 
                    </ng-select>

                  </ng-container>                  

                  <ng-container *ngIf="question.questionType === 'checkbox'">
                      <fieldset id="{{question.id}}" [formGroupName]="question.id">    

                        <legend 
                          aria-hidden="true"
                          id="question-{{question.id}}-label" 
                          class="question-text">        
                          <app-hidden-text
                            main_class="question-text__number" 
                            main_text="{{question_number + 1}}. "
                            accessibility_text="Question number {{question_number + 1}}"></app-hidden-text>
                          {{question.questionText}} 
                          <app-required-indicator *ngIf="!question.isOptional"></app-required-indicator>
                        </legend> 
                      
                        <span 
                            class="answer__tips" 
                            tabindex="-1" id="{{question.id}}-sublabel">{{ 'Choose as many as you like' | translate }}</span>
                            
                        <div 
                            class="option-box" 
                            *ngFor="let subQuestion of question.subQuestions">
                                            
                            <input 
                              type="checkbox" 
                              class="cm-radio" 
                              (input)="onAnswerChange(question,subQuestion, $event.target.checked)" 
                              [formControlName]="subQuestion.id" 
                              (click)="toggleCheckbox(question.id, subQuestion.id)"
                              id="option-{{subQuestion.id}}">   
                            <label for="option-{{subQuestion.id}}"><span>{{subQuestion.questionText}}</span></label>
                        </div>
                      </fieldset>      
                  </ng-container>

                  <ng-container *ngIf="question.questionType === 'long_text'">
                    <div [id]="'text-area-' + question.id">
                      <label
                        aria-hidden="true"
                        for="question-{{question.id}}" 
                        class="question-text">        
                        <app-hidden-text
                          main_class="question-text__number" 
                          main_text="{{question_number + 1}}. "
                          accessibility_text="Question number {{question_number + 1}}"></app-hidden-text>

                        {{question.questionText}} 
                        <app-required-indicator *ngIf="!question.isOptional"></app-required-indicator>
                    </label>
                      <div class="text-area">
                        <textarea id="responseTextArea" 
                          (input)="longTextAnswer=$event.target.value" 
                          placeholder="Type your answer here, please refrain from using profane words" 
                          [formControlName]="question.id" 
                          [(ngModel)]='userResponse' 
                          id="question-{{question.id}}" ></textarea>
                          <!--="Type your answer here, please refrain from using profane words -->
                      </div>
    
                    </div>
                  </ng-container>

                </div>
                    
                <div class="input-box" *ngIf="question.is_other">
                  <div class="input-box__border">
                    <input placeholder="Type answer here" type="text"
                    [formControlName]="question.other_answer" />
                  </div>
                </div>

                <div id="{{question.id}}-error-msg" *ngIf="showError && questionnaireForm.controls[question.other_answer]?.errors && question.is_other" class="error-msg text-left ml-3">This is a mandatory question and your response is required</div> 

                <div id="{{question.id}}-error-msg" *ngIf="showError && questionnaireForm.controls[question.id].errors" class="error-msg text-left">This is a mandatory question and your response is required</div>

              </div>
            </div>
          </div>

          <div class="checkbox-area" *ngIf="showPublicResponseOption()">
            <div class="input-checbox" >
              <input aria-describedby="response-visibility-sub-label" aria-labelledby="response-visibility-label" class="cm-checkbox mr-2" type="checkbox" [(ngModel)]="responseVisibility" [ngModelOptions]="{standalone: true}"/> 
              <label id="response-visibility-sub-label" class="m-0" id="response-visibility-label">{{'Make my response public' | translate}}</label>
              <!-- hidden text showing described by for the checkbox -->
              <span class="visually-hidden" id="response-visibility-sub-label">
                If you feel passionately about this Consultation, you can make your response public, 
                for others to use as a template. Your first name is shared with the Government if you make your response public.
                If you’re not sure what to write, you can choose other people’s responses to send as your own.
              </span>
              <span aria-hidden="true" class="link" tooltip="If you feel passionately about this Consultation, you can make your response public, 
              for others to use as a template. Your first name is shared with the Government if you make your response public.
              If you’re not sure what to write, you can choose other people’s responses to send as your own.">{{'What does this mean?' | translate}}</span>
            </div>
          </div>

          <div class="py-3">
            <button aria-labelledby="response-submit-btn-label" class="btn-submit active" (click)='submitAnswer()' [tooltip]="(showError && !f.valid)  ? 'Please fill all the answers to submit response.' : ''" data-event="purchase">
              <p id="response-submit-btn-label" class="m-0">
                SUBMIT RESPONSE
              </p>
              <span class="ml-2"><i class="fa fa-angle-right"></i></span>
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
<app-confirm-email-modal *ngIf="showConfirmEmailModal" (close)="showConfirmEmailModal = false">
</app-confirm-email-modal>

<app-auth-modal *ngIf="authModal" [consultationId]="consultationId" (close)="authModal = false"></app-auth-modal>
<app-profane-modal *ngIf="isConfirmModal" [message]='confirmMessage' [showCancel]=false (close)='confirmed($event)'></app-profane-modal>