<div *ngIf="tab == 'submit-response'">
  <div class="steps-wrapper" @fadeIn [ngSwitch]="submitStep">
    <div class="carousel-arrow-left pointer" (click)="submitPreviousStep()"><i class="fa fa-angle-left"></i></div>
    <div class="steps-inner-container" *ngSwitchCase="1">
      <div class="step-left-section">
        <picture>
          <source srcset="assets/images/step1.webp" type="image/webp">
          <source srcset="assets/images/step1.jpg" type="image/jpeg">
          <img appLazyLoad src="assets/images/step1.jpg" alt="steps image" />
        </picture>
      </div>
      <div class="step-right-section">
        <p class="step-text" i18n>STEP 1</p>
        <ul class="step-detail w-80">
          <li i18n>A Public Consultation is the process through which the Government asks for your feedback on policies that impact you.</li>
          <li i18n>Find a consultation that interests you, and give its summary a read.</li>
        </ul>
        <button class="app-btn circular blue-light btn-next" (click)="handleSubmitNext()">
          <span i18n>NEXT</span>
          <span><i class="fa fa-angle-right"></i></span>
        </button>
      </div>
    </div>
    <div class="steps-inner-container" *ngSwitchCase="2"> 
      <div class="step-left-section">
        <picture>
          <source srcset="assets/images/step3.webp" type="image/webp">
          <source srcset="assets/images/step3.jpg" type="image/jpeg">
          <img appLazyLoad src="assets/images/step3.jpg" alt="steps image" />
        </picture>
      </div>
      <div class="step-right-section">
        <p class="step-text">STEP 2</p>
        <ul class="step-detail w-80">
          <li i18n>Discuss the consultation with our online community, then submit your feedback!</li>
          <li i18n>Your inputs are sent to the Government - you can also choose to share your feedback anonymously.</li>
        </ul>
      </div>
    </div>
    <div class="carousel-arrow-right pointer" (click)="submitNextStep()"><i class="fa fa-angle-right"></i></div>
  </div>
</div>

<div *ngIf="tab == 'add-consultation'">
  <div class="steps-wrapper" @fadeIn [ngSwitch]="consultationStep">
    <div class="carousel-arrow-left pointer" (click)="consultationPreviousStep()"><i class="fa fa-angle-left"></i></div>
    <div class="steps-inner-container" *ngSwitchCase="1">
      <div class="step-left-section">
        <picture>
          <source srcset="assets/images/step2.webp" type="image/webp">
          <source srcset="assets/images/step2.jpg" type="image/jpeg">
          <img appLazyLoad src="assets/images/step2.jpg" alt="steps image" />
        </picture>
      </div>
      <div class="step-right-section">
        <p class="step-text" i18n>STEP 1</p>
        <ul class="step-detail w-80">
          <li i18n>Found a Consultation to share with our community? Click on 'Submit a Consultation'.</li>
        </ul>
        <button class="app-btn circular blue-light btn-next" (click)="handleConsultationNext()">
          <span i18n>
            NEXT
          </span>
          <span><i class="fa fa-angle-right"></i></span>
        </button>
      </div>
    </div>
    <div class="steps-inner-container" *ngSwitchCase="2">
      <div class="step-left-section">
        <picture>
          <source srcset="assets/images/step4.webp" type="image/webp">
          <source srcset="assets/images/step4.jpg" type="image/jpeg">
          <img appLazyLoad src="assets/images/step4.jpg" alt="steps image" />
        </picture>
      </div>
      <div class="step-right-section">
        <p class="step-text">STEP 2</p>
        <ul class="step-detail w-80">
          <li i18n>Add a few details about the consultation, our moderators will take a look and make it public!</li>
        </ul>
      </div>
    </div>
    <div class="carousel-arrow-right pointer" (click)="consultationNextStep()"><i class="fa fa-angle-right"></i></div>
  </div>
</div>