@import './src/assets/styles/app';

.app-landing {
  margin-top: 77px;
  
  @media screen and (max-width: 991px) {
    margin-top: 57px;
  }

  &__cover-section {
    width: 100%;
    height: 773px;
    background-color: $primary-color;
    @media screen and (max-width: 990px) {
      height: auto;
    }
    .cover-inner-container {
      display: flex;
      align-items: center;
      width: 80%;
      height: 773px;
      margin: 0 auto;
      @media screen and (max-width: 1400px) and (min-width: 991px) {
        width: 90%;
      }
      @media screen and (max-width: 990px) {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
      }

      .cover-details {
        width: 40%;
        @media screen and (max-width: 1400px) and (min-width: 991px) {
          width: 50%;
        }
        @media screen and (max-width: 990px) {
          width: 80%;
          margin: 0 auto;
          padding: 30px 0;
          text-align: center;
        }
        .cover-title {
          font-size: 82px;
          font-weight: bold;
          color: $white;
          line-height: 86px;
          @media screen and (max-width: 990px) {
            font-size: 40px;
            line-height: 46px;
          }
        }
        .cover-subtitle {
          @include general-text($color: rgba(255, 255, 255, 0.7));
          margin: 0;
        }
        .cover-btn-section {
          @media screen and (max-width: 990px) {
            justify-content: center;
            flex-wrap: wrap;
          }
        }
      }
      
      .cover-card {
        width: 60%;
        @media screen and (max-width: 1400px) and (min-width: 991px) {
          width: 50%;
        }
        @media screen and (max-width: 990px) {
          width: 100%;
          padding: 15px 0;
          background-color: #E5F4FF;
        }
      }
    }
  }

  &__detail-section {
    background-color: $blue-bg-light;
    padding: 46px 0 0;
  }

  .latest-response-container {
    width: 90%;
    margin: 0 auto;
  }


  .person-carousel {
    position: relative;
    width: 100%;
    padding-top: 37px;

    .carousel-inner-container {
      width: 50%;
      text-align: center;
      margin: 0 auto;
      @media screen and (max-width: 991px) {
        width: 100%;
        text-align: left;
      }

      .carousel-header {
        @media screen and (max-width: 991px) {
          display: grid;
          grid-template-columns: 50px 1fr;
          align-items: center;
          margin-bottom: 5px;
        }
        .avatar {
          @media screen and (max-width: 991px) {
            width: 40px;
            height: 40px;
          }
        }
        p {
          color: $black;
          font-size: 18px;
          @media screen and (max-width: 991px) {
            font-size: 14px;
          }
        }
      }

      .response-title {
        color: $black;
        font-size: 24px;
        @media screen and (max-width: 991px) {
          font-size: 18px;
        }
      }

      .response-content {
        color: $black;
        font-size: 18px;
        @media screen and (max-width: 991px) {
          font-size: 14px;
        }
      }
    }

    .carousel-indicator {
      display: flex;
      justify-content: center;
      padding-top: 80px;
      @media screen and (max-width: 991px) {
        padding-top: 10px;
      }
      .dot {
        display: inline-block;
        width: 9px;
        height: 9px;
        margin: 20px 5px 0 5px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .carousel-arrow-left {
      position: absolute;
      top: 45%;
      left: 20px;
      font-size: 84px;
      color: rgba(24, 148, 234, .4);
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
  
    .carousel-arrow-right {
      position: absolute;
      top: 45%;
      right: 20px;
      font-size: 84px;
      color: rgba(24, 148, 234, .4);
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
  }

  .citizen-leader-section {
    text-align: center;
    padding: 50px 0;
    @media screen and (max-width: 991px) {
      width: 90%;
      margin: 0 auto;
      text-align: left;
    }
    .leaders-list {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      padding: 48px 0 42px;
      @media screen and (max-width: 991px) {
        display: none;
      }
      .leader-profile {
        text-align: center;
      }
    }
    .leaders-list-row {
      display: none;
      grid-template-columns: 50px 1fr;
      grid-column-gap: 10px;
      padding: 10px 0;
      box-shadow: inset 60px 0 0 0 #e5f4ff, inset 0 -1px 0 0 #C0E6FF;
      @media screen and (max-width: 991px) {
        display: grid;
      }
      .leader-detail {
        .leader-name {
          color: $black;
          font-size: 14px;
          font-weight: bold;
          margin: 0;
        }

        .leader-stats {
          display: flex;
          align-items: center;
          font-size: 12px;
          color: #848484;
          margin: 0;
          .seprator-dot {
            width: 3px;
            height: 3px;
            margin: 0 10px;
            background-color: #848484;
            border-radius: 50%;
          }
        }
        
      }
    }
  }

  .civis-work-section {
    @media screen {
      width: 90%;
      margin: 0 auto;
    }
  }

  .impact-section {
    @media screen and (max-width: 991px) {
      width: 90%;
      margin: 0 auto;
    }
    .count-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 36px 0;
      @media screen and (max-width: 991px) {
        grid-template-columns: auto;
        padding: 0;
      }
      .count-item {
        text-align: center;
        @media screen and (max-width: 991px) {
          text-align: left;
        }
        p:nth-child(1) {
          @include general-text(16px, $primary-color);
          @media screen and (max-width: 991px) {
            margin: 0;
          }
        }
        p:nth-child(2) {
          @include general-text(53px, $primary-color);
          @media screen and (max-width: 991px) {
            font-size: 36px;
          }
        }
      }
    }
  }
  
  .press-section {
    padding: 40px 0;
    background-color: $white;
    @media screen and (max-width: 991px) {
      padding: 40px 20px;
    }
    .press-logo-grid {
      display: grid;
      grid-template-columns: repeat(5, 150px);
      grid-gap: 60px;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 991px) {
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: 100px;
        justify-content: start;
      }
      img {
        width: 100%;
      }
    }
  }

  .section-heading {
    text-align: center;
    font-size: 16px;
    color: #F0653A;
    font-weight: bold;
    letter-spacing: 0.38em;
    @media screen and (max-width: 991px) {
      text-align: left;
      font-size: 14px;
    }
  }

  .participate-btn {
    font-size: 16px;
    color: $white;
    font-weight: bold;
    padding: 15px 25px;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    @media screen and (max-width: 991px) {
      font-size: 14px;
      padding: 10px 20px;
    }
  }

  .civis-works-link {
    @include general-text($color: $white, $weight: 600);
    border-bottom: 1px dashed $white;
    border-bottom-width: 2px;
    margin-left: 20px;
    @media screen and (max-width: 991px) {
      font-size: 14px;
      margin-top: 20px;
    }
  }

  .landing-btn {
    padding: 5px 23px;
  }
}

.card-carousel {
  width: 50%;
  float: right;
  @media screen and (max-width: 1400px) and (min-width: 991px) {
    width: 80%;
  }
  @media screen and (max-width: 990px) {
    width: 100%;
    float: inherit;
  }
  &__carouse-title {
    text-align: center;
    @include general-text(18px, $white, bold);
    @media screen and (max-width: 990px) {
      text-align: left;
      font-size: 14px;
      color: #F0653A;
      margin-left: 25px;
    }
  }

  &__carousel-indicators {
    display: flex;
    justify-content: center;
    .dot {
      display: inline-block;
      width: 9px;
      height: 9px;
      margin: 20px 5px 0 5px;
      background-color: #A6DAFF;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  .consultation-card {
    @media screen and (max-width: 990px) {
      border-radius: 0;
      box-shadow: none;
      margin: 0;
    }
    &__card-image {
      @media screen and (max-width: 990px) {
        border-radius: 0;
      }
    }
  }
}

.steps-wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
  .steps-inner-container {
    display: flex;
    align-items: center;
    @media screen and (max-width: 991px) {
      flex-direction: column;
    }
    .step-left-section {
      width: 60%;
      text-align: center;
      @media screen and (max-width: 991px) {
        width: 100%;
      }
      img {
        @media screen and (max-width: 991px) {
          width: 100%;
          height: 300px;
          object-fit: contain;
        }
      }
    }
    .step-right-section {
      width: 40%;
      @media screen and (max-width: 991px) {
        width: 80%;
      }
      .step-text {
        @include regular-text($color: #A1D5FA, $weight: bold);
      }
      .step-detail {
        padding: 0;
        li {
          font-size: 24px;
          color: #F0653A;
          font-weight: bold;
          list-style-type: none;
          @media screen and (max-width: 991px) {
            font-size: 16px;
          }
        }
      }
    }
  }
  .carousel-arrow-left {
    position: absolute;
    top: 45%;
    left: 20px;
    font-size: 84px;
    color: rgba(24, 148, 234, .4);
    @media screen and (max-width: 991px) {
      top: 50%;
      left: 0;
      font-size: 38px;
    }
  }

  .carousel-arrow-right {
    position: absolute;
    top: 45%;
    right: 20px;
    font-size: 84px;
    color: rgba(24, 148, 234, .4);
    @media screen and (max-width: 991px) {
      top: 50%;
      right: 0;
      font-size: 38px;
    }
  }
  .btn-next {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    span {
      font-size: 20px;
      line-height: 0;
      margin-left: 20px;
    }
  }
  .w-80 {
    width: 80%;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
}