  <div class="app-landing">
  <section class="app-landing__cover-section">
    <div class="cover-inner-container">
      <div class="cover-details">
        <p class="cover-title">{{'Your turn, citizen' | translate}}</p>
        <p class="cover-subtitle">
          {{'Simple thing is, the bodies that create laws, rules and regulations seek feedback from us, the citizens, to finalise them. What are we waiting for?' | translate}}
        </p>
        <div class="d-flex align-items-center mt-4 cover-btn-section">
          <button class="app-btn secondary circular participate-btn" [routerLink]="['/auth', 'sign-up']">{{'Start participating' | translate}}</button>
          <p class="civis-works-link pointer" [routerLink]="['/how-civis-works']">{{'How Civis Works' | translate}}</p>
        </div>
      </div>
      <div class="cover-card">
        <div class="card-carousel">
          <p class="card-carousel__carouse-title">{{'IN FOCUS' | translate}}</p>
          <div class="card-carousel__inner">
            <div *ngIf='coverCardData?.length && coverCardData[current_card_index]'>
              <app-consultation-card [consultation]="coverCardData[current_card_index]"></app-consultation-card> 
            </div>
            <div class="loading-card" *ngIf="loadingCard">
              <div class="loading-wave image-space"></div>
              <div class="content-space">
                <div class="loading-wave title-line"></div>
                <div class="loading-wave title-line small-line"></div>
                <div class="loading-wave content-line"></div>
                <div class="loading-wave content-line"></div>
              </div>
            </div>
          </div>
          <div class="card-carousel__carousel-indicators">
            <span 
              class="dot" 
              [ngStyle]="{'background-color': current_card_index == 0 ? '#A6DAFF' : 'rgba(24, 148, 234, 0.7)'}" 
              (click)="changeCard(0)">
            </span>
            <span 
              class="dot" 
              [ngStyle]="{'background-color': current_card_index == 1 ? '#A6DAFF' : 'rgba(24, 148, 234, 0.7)'}" 
              (click)="changeCard(1)">
            </span>
            <span 
              class="dot" 
              [ngStyle]="{'background-color': current_card_index == 2 ? '#A6DAFF' : 'rgba(24, 148, 234, 0.7)'}" 
              (click)="changeCard(2)">
            </span>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <section class="app-landing__detail-section">

    <div class="latest-response-container">
      <p class="section-heading">{{'LATEST RESPONSES' | translate}}</p>
      <div class="person-carousel">
        <div class="carousel-arrow-left pointer" (click)='previousSlide()'><i class="fa fa-angle-left"></i></div>
        <div @slideInRight class="carousel-inner-container">
          <div class="carousel-header">
            <img class="avatar avatar--60 pointer" appDefaultImage appLazyLoad [type]="'user'" [src]="currentReponseData?.user?.profilePicture?.url" (click)="openUserProfile(currentReponseData?.user)" />
            <p class="bold-text mt-1 mb-1">{{currentReponseData?.user?.firstName}}</p>
          </div>
          <p class="response-title bold-text">{{currentReponseData?.consultation?.title}}</p>
          <p class="response-content italic truncate" [innerHTML]="currentReponseData?.responseText"></p>
        </div>
        <div class="carousel-indicator">
          <span 
          class="dot" 
          *ngFor="let response of latestResponse; let i = index"
          [ngStyle]="{'background-color': current_response_index == i ? '#67B3E8' : 'rgba(172, 221, 255, 0.7)'}" 
          (click)="changeSlider(i)">
        </span>
        </div>
        <div class="carousel-arrow-right pointer" (click)='nextSlide()'><i class="fa fa-angle-right"></i></div>
      </div>
    </div>

    <div class="citizen-leader-section">
      <p class="section-heading">{{'CITIZEN LEADERS ON CIVIS' | translate}}</p>
      <div class="leaders-list">
        <div class="leader-profile" *ngFor='let item of citizenLeaders'>
          <img class="avatar avatar--60 mb-2 pointer" appDefaultImage appLazyLoad [type]="'user'" [src]="item?.profilePicture?.url" (click)="openUserProfile(item)" />
          <p class="text-18 m-0">{{item?.firstName}}</p>
          <p class="blue-text m-0">{{item?.points}} &nbsp; {{'Points' | translate}}</p>
        </div>
      </div>
      <!-- leaders-list-mobile -->
      <div class="mb-3">
        <div class="leaders-list-row" *ngFor='let item of citizenLeaders'>
          <img class="avatar avatar--42" appDefaultImage appLazyLoad [type]="'user'" [src]="item?.profilePicture?.url" (click)="openUserProfile(item)" />
          <div class="leader-detail">
            <p class="leader-name">{{item?.firstName}}</p>
            <p class="leader-stats">
              <span class="bold-text mr-1">{{item?.points}}</span>{{' Points <span class="seprator-dot"></span> {{item?.points > 500 ? 'SuperLeader' : 'ActiveLeader'}}
            </p>
          </div>
        </div>
      </div>
      <button [routerLink]="['/leader-board']" class="app-btn circular blue-light landing-btn">
        {{'View Leaderboard' | translate}}
        <span class="btn-arrow"><i class="fa fa-angle-right"></i></span>
      </button>
    </div>

    <div class="civis-work-section">
      <p class="section-heading">{{'HOW CIVIS WORKS' | translate}}</p>
      <div class="d-flex justify-content-center mt-5">
        <button 
          class="app-btn circular landing-btn" 
          [ngClass]="activeTab == 'submit-response' ? 'primary' : 'blue-light'"
          (click)="submitResponse('submit-response')">
          {{'Submit a Response' | translate}}
          <span class="btn-arrow"><i class="fa fa-angle-right"></i></span>
        </button>
        <button 
          class="app-btn circular ml-4 landing-btn"
          [ngClass]="activeTab == 'add-consultation' ? 'primary' : 'blue-light'" 
          (click)="addConsultation('add-consultation')">
          {{'Add a Consultation' | translate}}
          <span class="btn-arrow"><i class="fa fa-angle-right"></i></span>
        </button>
      </div>
    </div>

    <app-how-civis-works-carousel [tab]="activeTab"></app-how-civis-works-carousel>

    <div class="impact-section">
        <p class="section-heading">{{'IMPACT SO FAR' | translate}}</p>
      <div class="count-grid">
        <div class="count-item">
          <p>{{'Consultations Created on Civis' | translate}}</p>
          <p>{{numberWithCommas(impactStats?.consultation_count + 2)}}</p>
        </div>
        <div class="count-item">
          <p>{{'Total Number of Responses' | translate}}</p>
          <p>{{numberWithCommas(impactStats?.consultation_response_count + 3083)}}</p>
        </div>
        <div class="count-item">
          <p>{{'Total Number of Citizens Engaged' | translate}}</p>
          <p>{{numberWithCommas(impactStats?.consultation_response_distinct_users + 3057)}}</p>
        </div>
      </div>
    </div>

    <div class="press-section">
      <p class="section-heading">{{'IN THE PRESS' | translate}}</p>
      <div class="press-logo-grid">
        <a href="https://audioboom.com/posts/6611014-what-is-civis" class="grid-item" target="_blank">
          <picture>
            <source srcset="assets/images/RedFM_Logo.webp" type="image/webp">
            <source srcset="assets/images/RedFM_Logo.jpg" type="image/jpeg">
            <img appLazyLoad src="assets/images/RedFM_Logo.jpg" alt="Red FM logo" />
          </picture>
        </a>
        <a 
          href="https://www.financialexpress.com/industry/technology/bridging-the-gap-apps-that-are-bringing-voters-closer-to-their-leaders/1540300/" 
          class="grid-item"
          target="_blank"
          >
          <picture> 
            <source srcset="assets/images/Financial-Express-Logo.webp" type="image/webp">
            <source srcset="assets/images/Financial-Express-Logo.jpg" type="image/jpeg">
            <img appLazyLoad src="assets/images/Financial-Express-Logo.jpg" alt="Financial-Express-Logo" />
          </picture>
        </a>
        <a 
          href="http://www.forbesindia.com/article/poll-vault/poll-apps-giving-power-to-the-people/52303/1" 
          class="grid-item" 
          target="_blank"
        >
          <picture>
            <source srcset="assets/images/forbes.webp" type="image/webp">
            <source srcset="assets/images/forbes.jpg" type="image/jpeg">
            <img appLazyLoad src="assets/images/forbes.jpg" alt="Forbes logo" />
          </picture>
        </a>
        <a href="https://www.dropbox.com/s/obr9ows30x9fukh/TOI_9.30.2018-1.png?dl=0" class="grid-item" target="_blank">
          <picture>
            <source srcset="assets/images/TOI.webp" type="image/webp">
            <source srcset="assets/images/TOI.jpg" type="image/jpeg">
            <img appLazyLoad src="assets/images/TOI.jpg" alt="TOI logo" />
          </picture>
        </a>
        <a 
          href="https://www.livemint.com/Technology/hJ85warpy0LPmiimg3HhvJ/Civic-technology-apps-are-giving-voters-a-voice.html" 
          class="grid-item" 
          target="_blank"
        >
          <picture>
            <source srcset="assets/images/Mint-Logo.webp" type="image/webp">
            <source srcset="assets/images/Mint-Logo.jpg" type="image/jpeg">
            <img appLazyLoad src="assets/images/Mint-Logo.jpg" alt="Mint logo" />
          </picture>
        </a>
      </div>
    </div>
  </section>
  <div *ngIf="selectedUser && showLeaderProfileModal">
    <app-user-profile-modal (close)="closeModal($event)" [userId]="selectedUser"></app-user-profile-modal>
  </div>
  <app-footer></app-footer>
</div>
