<div class="bg-color-wrapper">
  <div class="consultation-listing-container">
    <p class="list-heading"> {{consultationListData?.paging?.totalItems}} Active Consultations </p>
    <p class="list-subheading mb-5">These are open consultatons which are still seeking feedback from citizens like yourself</p>
    <div class="card-listing-grid">
      <ng-container *ngFor="let item of consultationListArray">
        <div class="card-item">
          <app-consultation-card [consultation]="item"></app-consultation-card>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="closed-list-container">
    <p class="list-heading">{{closedConsultationPaging?.totalItems}} Closed Consultations</p>
    <p class="list-subheading mb-5">These consultations are closed for public feedback but you can still participate in the discussions.</p>
    <div class="closed-list-table">
      <div class="table-header">
        <div class="cell-1"><p class="header-title">CONSULTATION</p></div>
        <div class="cell-2"><p class="header-title">NO. OF RESPONSES</p></div>
        <div class="cell-3"><p class="header-title">CLOSED ON</p></div>
        <div class="cell-4"></div>
      </div>
      <ng-container *ngFor="let item of closedConsultationList">
        <div class="table-body">
          <div class="cell-1 consultation-cell">
            <img [src]="item.ministry.coverPhoto.url" class="avatar avatar--64" />
            <div class="c-profile-data">
              <p>{{item?.title}}</p>
              <p>{{item?.ministry?.name}}</p>
            </div>
          </div>
          <div class="cell-2">
            <p class="reponse-count-text">{{item.responses.totalCount}}</p>
          </div>
          <div class="cell-3">
            <p class="closed-date">{{convertDateType(item.responseDeadline)}}</p>
          </div>
          <div class="cell-4 text-center">
            <button class="app-btn view-btn pointer" [routerLink]="['/consultations', item.id]">VIEW DISCUSSION</button>
          </div>
        </div>
        <hr class="row-divider" />
      </ng-container>
    </div>
  </div>
</div>


