.image-modal {
        background: rgba(14, 115, 185, 0.6);
        height: 100vh;

        .modal-dialog {
            width: 30%;
            max-width: 30% !important;
            margin: 0 auto;
    
            .modal-header {
                padding: 30px;
                .title {
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 124.7%;
                    letter-spacing: 0.02em;
                    color: #525252;
                }
            }
    
            .modal-body {
                padding: 30px;


                .get-start-btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%; 
                    padding: 12px 20px;

                    @media screen and (max-width: 991px) {
                        width: 100%;
                    }

                    i {
                        font-size: 24px;
                    }
                }

                .cancel-btn {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    letter-spacing: 0.105em;
                    text-transform: uppercase;
                    color: #A4A4A4;
                    margin-top: 5px;
                }
            }
          }
}

.align-center {
    display: flex !important;
    align-items: center;
}