<div class="response-block" *ngIf="answers.length">
  <div class="answers" *ngFor="let responseAnswer of alignedData; let i = index">
      <div *ngIf="responseAnswer.questionType === 'checkbox' && !showOnlyLongTextAnswer">
        <div class="answer" >
          <p class="question-text">
            <span class="question-text__number">{{i+1}}.</span>
            {{responseAnswer.questionText}}
          </p>
          <div *ngFor="let item of responseAnswer.answer">
            <p class="question-answer answer-text">
              {{item}}
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="responseAnswer.questionType === 'multiple_choice' && !showOnlyLongTextAnswer">
        <div class="answer" >
          <p class="question-text">
            <span class="question-text__number">{{i+1}}.</span>
            {{responseAnswer.questionText}}
          </p>
          <p class="answer-text question-answer">
            {{responseAnswer.answer}}
          </p>
        </div>
      </div>
      <div *ngIf="responseAnswer.questionType === 'dropdown' && !showOnlyLongTextAnswer">
          <div class="answer" >
            <p class="question-text">
              <span class="question-text__number">{{i+1}}.</span>
              {{responseAnswer.questionText}}
            </p>
            <p class="answer-text question-answer">
              {{responseAnswer.answer}}
            </p>
          </div>
        </div>
      <div *ngIf="responseAnswer.questionType === 'long_text'">
        <div class="answer">
          <p class="question-text">
            <span class="question-text__number">{{i+1}}.</span>
            {{responseAnswer.questionText}}
          </p>
          <p class="answer-text">
            {{responseAnswer.answer}}
          </p>
        </div>      
      </div>
  </div>
</div>