<div class="response-block" *ngIf="answers.length">
  <div class="answers" *ngFor="let responseAnswer of alignedData; let question_number = index">
      <div *ngIf="responseAnswer.questionType === 'checkbox' && !showOnlyLongTextAnswer">
        <div class="answer" >
          <p class="question-text">
            <app-hidden-text
            main_class="question-text__number" 
            main_text="{{question_number + 1}}. "
            accessibility_text="Question number {{question_number + 1}}"></app-hidden-text>
            {{question.questionText}}
          </p>
          <div *ngFor="let item of responseAnswer.answer">
            <p class="question-answer answer-text">
              {{item}}
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="responseAnswer.questionType === 'multiple_choice' && !showOnlyLongTextAnswer">
        <div class="answer" >
          <p class="question-text">
            <app-hidden-text
              main_class="question-text__number" 
              main_text="{{question_number + 1}}. "
              accessibility_text="Question number {{question_number + 1}}"></app-hidden-text>
            {{question.questionText}}
          </p>
          <p class="answer-text question-answer">
            {{responseAnswer.answer}}
          </p>
        </div>
      </div>
      <div *ngIf="responseAnswer.questionType === 'dropdown' && !showOnlyLongTextAnswer">
          <div class="answer" >
            <p class="question-text">
              <app-hidden-text
                main_class="question-text__number" 
                main_text="{{question_number + 1}}. "
                accessibility_text="Question number {{question_number + 1}}"></app-hidden-text>
              {{question.questionText}}
            </p>
            <p class="answer-text question-answer">
              {{responseAnswer.answer}}
            </p>
          </div>
        </div>
      <div *ngIf="responseAnswer.questionType === 'long_text'">
        <div class="answer">
          <p class="question-text">
            <app-hidden-text
              main_class="question-text__number" 
              main_text="{{question_number + 1}}. "
              accessibility_text="Question number {{question_number + 1}}"></app-hidden-text>
            {{question.questionText}}
          </p>
          <p class="answer-text">
            {{responseAnswer.answer}}
          </p>
        </div>      
      </div>
  </div>
</div>