<div class="sign-up-index row no-gutters">
  <div class="sign-up-index__left col-md-4">
    <div class="overlay"></div>
    <div class="cover-detail">
      <button class="back-btn"
        [routerLink]="['/']"
        aria-label="Go back to home page">      
      >
        <span><i class="fa fa-angle-left back-arrow"></i></span>
        {{ 'Back' | translate }}
      </button>
      <app-case-studies-list></app-case-studies-list>
    </div>
  </div>

  <div class="sign-up-index__right col-md-8 col-12">
    <div class="header">
      <div class="logo-container" tabindex="0">
        <img
          class="logo"
          aria-hidden="true"
          alt=""
          role="presentation"
          src="assets/images/brand-logo/brand-logo.svg"
        />
        <div class="logo-heading">
          <h1>{{ 'Sign up as a Citizen Leader.' | translate }}</h1>
          <p>
            {{ 'Join the movement towards citizen-led governance.' | translate }}
          </p>
        </div>
      
      </div>
      <div class="login-container">
        <p class="auth-text" id="signin-btn-description">
          {{ 'Already have an account with Civis?' | translate }}
        </p>
        <button
          class="app-btn circular auth-btn"
          [routerLink]="['/auth', 'login']"
          aria-label="Sign into your Civis account"
          aria-describedby="signin-btn-description">
          {{ 'Sign In' | translate }}
        </button>
      </div>
      <div class="login-mobile-container">
        <div>
          <button
            class="app-btn primary sign-in-btn"
            [routerLink]="['/auth', 'login']"
            aria-label="Sign into your Civis account">
            {{ 'Sign In' | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="form-space no-gutters mt-md-5 mt-2">
      <div class="row">
        <div class="col-md-5">
          <app-social-login-options [userSignUp]="true"></app-social-login-options>
        </div>
      </div>
      <div class="row">
        <div class="form-space-middle col-md-5">
          <div class="or-text">{{ 'OR' | translate }}</div>
          <!-- horizontal-divider for mobile -->
          <hr class="horizontal-divider" data-content="OR" />
        </div>
      </div>

      <div class="row">
        <div class="form-space__left col-md-5">
          <app-signup-form (onSubmit)="submitSignupForm($event)"></app-signup-form>
        </div>
      </div>
    </div>
  </div>
</div>
