@import './src/assets/styles/app';

.sign-up-index {
    height: 100vh;
    width: 100%;

    &__left {
        padding: 70px 80px;
        background-image: url('../../../../assets/images/featured-case-study.png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, #0E73B9 28.22%, rgba(14, 115, 185, 0) 95.05%);
        }

        .cover-detail {
            position: relative;
            z-index: 1;
        }

        .back-btn {
            border: none;
            padding: 0;
            color: $white;
            font-size: 12px;
            cursor: pointer;
            background: none;

            &:focus {
                outline: none;
            }
            .back-arrow {
                font-size: 16px;
                font-weight: bold;
                margin-right: 5px;
                vertical-align: top;
            }
        }

        .info-box {
            margin-top: 95px;

            &__title {
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0.165em;
                color: $white;
                opacity: 0.5;
                margin-bottom: 10px;
            }

            &__heading {
                width: 300px;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                color: $white;
                margin-bottom: 5px;
            }

            &__sub-heading {
                font-size: 14px;
                color: $white;
            }

            &__message {
                font-size: 14px;
                font-weight: bold;
                color: $white;
                margin: 14px 0;
            }

            .read-case-btn {
                font-size: 9px;
                letter-spacing: 0.1em;
                color: $white;
                padding: 7px 20px;
                background-color: transparent;
                border: 1px solid $white;
                &:focus {
                    outline: none;
                }
            }
        }

        @media screen and (max-width: 991px) {
            display: none;
        }
    }

    &__right {
        padding: 50px 70px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .login-container {
                display: flex;
                align-items: center;

                .auth-text {
                    font-size: 12px;
                    color: $black;
                    margin-right: 10px;
                    margin-bottom: 0;
                }
                
                .auth-btn {
                    background-color: transparent;
                    padding: 3px 15px;
                    font-size: 12px;
                    font-weight: normal;
                    color: $black;
                    border: 1px solid $black;
                }

                @media screen and (max-width: 991px) {
                    display: none;
                }
            }

            .login-mobile-container {
                display: none;

                @media screen and (max-width: 991px) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 35%;

                    .sign-in-btn {
                        background: #1894EA;
                        border-radius: 3px;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 16px;
                        text-align: center;
                        color: #FFFFFF;
                        padding: 15px 30px;
                        cursor: pointer;
                    }
                }
            }
        }

        .logo-heading {
            margin: 15px 0;
            font-size: 16px;
            color: $primary-color;
            font-weight: 600;
            letter-spacing: 0.025em;
        }

        .form-space {
            &__left {
                .input-box {
                    margin-bottom: 15px;

                    &__border {
                        width: 90%;
                        border: 1px solid $input-border;
                        box-sizing: border-box;
                        border-radius: 3px;
                        padding: 10px;

                        input { 
                            width: 100%;
                            font-weight: 500;
                            font-size: 15px;
                            background: $white;
                            border: none;

                            &:focus {
                                outline: none;
                            }
                        }

                        @media screen and (max-width: 991px) {
                            width: 100%;
                        }
                    }

                    label {
                        display: block;
                        font-weight: 600;
                        font-size: 14px;
                        color: $black;
                        margin-bottom: 10px;
                    }
                }

                .input-checbox {
                    display: flex;
                    margin-bottom: 15px;

                    label {
                        margin-left: 12px;
                        font-size: 14px;
                        color: $black;
                    }
                }

                .location-box {
                    width: 90%;
                    margin-bottom: 15px;

                    label {
                        display: block;
                        font-weight: 500;
                        font-size: 15px;
                        color: #151515;
                        margin-bottom: 5px;
                    }

                    @media screen and (max-width: 991px) {
                        width: 100%;
                    }
                }

                .get-start-btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 90%; 
                    padding: 12px 20px;

                    @media screen and (max-width: 991px) {
                        width: 100%;
                    }

                    i {
                        font-size: 24px;
                    }
                }

                .error-msg {
                    margin: 10px 0;
                    color: #F0653A;
                    font-size: 14px;
                }
            }

            .vertical-divider {
                position: absolute;
                display: table;
                text-align: center;
                height: 95%;
                
                .center-element {
                    position: relative;
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 14px;
                    font-weight: 600;
                    color: #C0C0C0;
                    
                    &:before, &:after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        left: 50%;
                        border-left: 1px solid #DFDFDF;
                    }
                    &:before {
                        bottom: 50%;
                        top: 0;
                        margin-bottom: 20px;
                    }
                    &:after {
                        top: 50%;
                        bottom: 0;
                        margin-top: 20px;
                    }
                }
            }

            .form-space-right {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

    }
}