@import './src/assets/styles/app';

.navbar-index {
   height: 77px;
   width: 100%;
   padding: 0 30px 0 80px;
   position: fixed;
   top:0;
   z-index: 999;

   @media screen and (max-width: 991px) {
        height: 58px;
        padding: 0 20px;    
    }

   .navbar-space {
       height: 100%;
       align-items: center;
       &__left{
        height: 100%;
        display: flex;
        align-items: center;
        .logo-space {
            height: 100%;
            background: #ffffff;
            width: 135px;
            display: flex;
            align-items: center;

            .logo {
                width: 100%;
                height: 77px;
            }

            @media screen and (max-width: 991px) {
                width: 100.18px; 
            }
        }

        .links {
            margin-left: 37px;
            padding-top: 15px;
            height: 100%;
            width: calc(100% - 172px);
        }

        .nav-btns {
            .btn {
                font-size: 14px;
                color: #E2F3FF;
            }

            @media screen and (max-width: 991px) {
                display: none;
            }
        }
       }

       &__middle {
           height: 100%;
        .profile-tab {
            height: 100%;
            text-align: center;
            padding-top: 15px;
            &:nth-child(2) {
                margin-left: 30px;
            }
            p:nth-child(1) {
                color: $primary-color;
                font-size: 16px;
                font-weight: bold;
                margin: 0;
            }
            p:nth-child(2) {
                font-size: 12px;
                font-weight: 500;
                color: #71BCF0;
                margin: 0;
            }
        }

        .active-tab {
            border-bottom: 4px solid #1894EA;
        }
       }

       &__right {
           height: 100%;
           display: flex;
           justify-content: flex-end;
           align-items: center;
           padding-top: 15px;

           .nav-btns {
               .btn-oval {   
                font-size: 14px;
                font-weight: bold; 
                padding: 5px 20px;  
                background: rgba(255, 255, 255, 0.3);
                border-radius: 33px;
                color: #ffffff;
                margin-right: 15px;
               }

               .auth-btn {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: rgba(255, 255, 255, 0.7);
               }

               @media screen and (max-width: 991px) {
                display: none;
               }
           }

           .profile-item {
               position: relative;
                span {
                    font-size: 20px;
                    line-height: 0;
                }
           }

           .mobile-space {
               display: none;
               height: 100%;

               @media screen and (max-width: 991px) {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }

                &__auth {
                    margin-right: 15px;
                    .nav-btn {
                        background-color: #1894EA;
                        border-radius: 3px;
                        color: #FFFFFF;
                        padding: 5px 15px;
                        font-weight: 500;
                        font-size: 13px;
                    }
                }
                &__menu {
                    color: #ffffff;

                    .icon {
                        i {
                            font-size: 18px;
                        }
                    }
                }
           }
       }
   }
}

.blue-nav {
    background-color: #0E73B9;
    transition: background-color .3s ease-in-out;
}

.white-nav {
    background-color: #FFFFFF;
    transition: background-color .3s ease-in-out;

    .nav-btns {
        .btn {
            color: #0E73B9 !important; 
        }

        .btn-oval {   
            font-size: 16px;
            font-weight: bold;   
            background: rgba(14, 115, 185, 0.7) !important;            
            border-radius: 33px;
            color: #ffffff !important;
            margin-right: 15px;
           }

           .auth-btn {
            font-weight: 600;
            font-size: 16px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.7);
           }
    }
}

.profile-popup {
    position: absolute;
    top: 50px;
    right: 0;
    width: 160px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.2), 0 4px 20px 0 rgba(0,0,0,.19); 
    p {
        font-size: 14px;
        color: $black;
        padding: 5px;
        margin: 0;
        &:hover {
            background-color: $primary-color;
            color: $white;
        }
    }
}

.mobile-menu {
    background: rgba(14, 115, 185, 0.5);

    .modal-dialog {
        margin: 0;

        .modal-content {
            background: #003F6B !important;
            border: none;
            border-radius: 0;
            padding: 24px;

            .modal-body {
                padding: 0;
                .nav-btn {
                    margin-bottom: 25px;
                    .close-btn {
                        color: #FFFFFF;
                        font-size: 22px;

                        &:focus {
                            box-shadow: none;
                        }
                    }

                    .btn-oval {
                        border: none;
                        background: rgba(255, 255, 255, 0.3);
                        border-radius: 33px;
                        color: #ffffff;
                        font-size: 22px;
                        padding: 10px 15px;

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }

        }
    }

}

.active-count-box {
    display: inline-block;
    margin-left: 5px;
    padding: 1px 5px;
    font-size: 14px;
    font-weight: 600;
    color: $white;
    background-color: #46A4E5;
    border-radius: 2px;
}

.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(125%, 0, 0);
    transform: translate3d(125%, 0, 0);
}