<div class="nav-container white-nav" *ngIf="currentUrl !== 'auth'">
  <nav class="app-navbar" [ngClass]="currentUrl == 'landing' ? 'landing-nav-spacer' : 'nav-spacer'">
    <div class="app-navbar__left-item">
      <div class="logo-space pointer" [routerLink]="['/']">
        <img class="logo pointer" [src]="getLogoUrl()" [ngClass]="(currentUrl == 'consultations-profile') ? 'xs-logo' : ''" />
      </div>
      <div class="left-nav-link" *ngIf="currentUrl !== 'consultations-profile'">
        <p class="nav-link-text bold-text" [routerLink]="['consultations/list']">
          Active Consultations <span class="active-count-box">{{activeCount}}</span>
        </p>
        <p class="nav-link-text bold-text" [routerLink]="['/leader-board']">Leaderboard</p>
        <p class="nav-link-text" [routerLink]="['/how-civis-works']">How Civis Works</p>
      </div>
    </div>

    <div class="app-navbar__center-item" *ngIf="currentUrl === 'consultations-profile'">
      <div class="profile-tab-wrapper">
        <a class="profile-tab px-3" [ngClass]="activeTab === 'read & respond' ? 'active-tab' : ''" (click)="routeToConsultation('read')">
          <p>Read & Respond</p>
          <p>Submit your feedback</p>
        </a>
        <a class="profile-tab px-3" [ngClass]="activeTab === 'discuss & engage' ? 'active-tab' : ''" (click)="routeToConsultation('discuss')">
          <p>Discuss & Engage</p>
          <p>Talk to the community</p>
        </a>
      </div>
      <!-- profile-tab-mobiel-code -->
      <div class="profile-tab-mobile">
        <div class="profile-options-container">
          <form #consultationTab="ngForm">
            <ng-select id="menu" #menu="ngModel" name="menu" [items]="menus" bindLabel="name" [virtualScroll]="true"
              dropdownPosition="bottom" bindValue="name" [searchable]="false" [clearable]="false"
              (change)="changeMenu($event)" [(ngModel)]="menuObject.name">
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div>
                  <p class="mb-1 font-weight-bold">{{item.name}}</p>
                  <p class="m-0" style="font-size:13px">{{item.description}}</p>
                </div>
              </ng-template>
              <ng-template ng-label-tmp let-item="item">
                <div>
                  <p class="mb-1 font-weight-bold">{{item.name}}</p>
                  <p class="m-0" style="font-size:13px">{{item.description}}</p>
                </div>
              </ng-template>
            </ng-select>
          </form>
        </div>
      </div>
    </div>

    <div class="app-navbar__right-item">
      <div class="nav-btns" *ngIf="currentUrl !== 'consultations-profile'">
        <button class="btn btn-oval" (click)="submitConsultation()">
          Submit a Consultation
        </button>
      </div>
      <div class="nav-btns" *ngIf="!currentUser">
        <button class="btn btn-transparent auth-btn" [routerLink]="['/auth', 'sign-up']">Log In / Sign Up</button>
      </div>
      <div class="nav-btns profile-item pointer" *ngIf="currentUser" (click)="showProfilePopup()">
        <img class="avatar avatar--42" appDefaultImage [type]="'user'" [src]="currentUser?.profilePicture?.url"/>
        <span class="clr-black"><i
            class="fa fa-angle-down ml-2"></i></span>

        <div class="profile-popup" *ngIf="profilePopup">
          <p [routerLink]="['/profile']">Profile</p>
          <p (click)="logout($event)">Logout</p>
        </div>
      </div>
      <!-- <div class="mobile-space">
        <div class="mobile-space__auth">
          <button class="nav-btn">Sign Up</button>
        </div>
        <div class="mobile-space__menu">
          <div class="icon" (click)="openMenu()">
            <i class="fa fa-bars"></i>
          </div>
        </div>
      </div> -->
      <div class="mobile-space">
        <div class="mobile-space__auth" *ngIf="!currentUser">
          <button class="nav-btn" [routerLink]="['/auth', 'sign-up']">Sign Up</button>
        </div>
        <div *ngIf="currentUser">
          <img class="avatar avatar--32" appDefaultImage [type]="'user'" [src]="currentUser?.profilePicture?.url" />
          <span (click)="showProfilePopup()" class="clr-black"><i
              class="fa fa-angle-down ml-2 mr-3"></i></span>
  
          <div class="profile-popup" *ngIf="profilePopup">
            <p [routerLink]="['/profile']" (click)="showProfilePopup()">Profile</p>
            <p (click)="logout($event)">Logout</p>
          </div>
        </div>
        <div class="mobile-space__menu">
          <div class="icon" (click)="openMenu()">
            <i class="fa fa-bars"></i>
          </div>
        </div>
      </div>

    </div>

  </nav>

</div>

<div class="menu-modal">
  <div bsModal #menuModal="bs-modal" class="modal fade mobile-menu" tabindex="-1"
    [config]="{show: false, backdrop: 'static', ignoreBackdropClick: true, keyboard: false}" role="dialog"
    aria-labelledby="menuModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="nav-btn">
            <button class="close-btn btn btn-transparent" (click)="closeMenu()">
              <i class="fa fa-times"></i>
            </button>
          </div>
          <div class="nav-btn">
            <button class="close-btn btn btn-transparent" [routerLink]="['consultations/list']"
              (click)="closeMenu()">Active Consultations<span class="active-count-box">{{activeCount}}</span></button>
          </div>
          <div class="nav-btn">
            <button class="close-btn btn btn-transparent" [routerLink]="['/leader-board']"
              (click)="closeMenu()">Leaderboard</button>
          </div>
          <div class="nav-btn">
            <button class="close-btn btn btn-transparent" [routerLink]="['/how-civis-works']" (click)="closeMenu()">
              How Civis Works
            </button>
          </div>
          <div class="nav-btn">
            <button class="btn-oval" 
              (click)="closeMenu(); submitConsultation()">Submit a Consultation</button>
          </div>
          <div class="nav-btn" *ngIf="!currentUser">
            <button class="close-btn btn btn-transparent" (click)="closeMenu()" [routerLink]="['/auth', 'sign-up']">
              Log In / Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-confirm-email-modal *ngIf="showConfirmEmailModal" (close)="showConfirmEmailModal = false"></app-confirm-email-modal>
