@import "./src/assets/styles/app";

.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 77px;
  z-index: 999;

  @media screen and (max-width: 991px) {
    height: 58px;
  }

  .landing-nav-spacer {
    padding: 0 32px 0 81px;

    @media screen and (max-width: 991px) {
      padding: 0 20px;
    }
  }

  .nav-spacer {
    padding: 0 30px;
    @media screen and (max-width: 500px) {
      padding: 0 10px;
    }
  }

  .app-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 77px;

    @media screen and (max-width: 991px) {
      height: 58px;
    }

    &__left-item {
      display: flex;
      align-items: center;

      .left-nav-link {
        display: flex;
        margin-left: 36px;

        @media screen and (max-width: 991px) {
          display: none;
        }
      }

      .logo {
        @media screen and (max-width: 991px) {
          height: 58px;
        }
      }
    }

    &__center-item {
      .profile-tab-wrapper {
        display: flex;
        align-items: center;

        @media screen and (max-width: 991px) {
          display: none;
        }

        .profile-tab {
          height: 100%;
          text-align: center;
          padding: 30px 0 5px;
          cursor: pointer;

          &:nth-child(2) {
            margin-left: 30px;
          }

          p:nth-child(1) {
            color: $primary-color;
            font-size: 16px;
            font-weight: bold;
            margin: 0;
          }

          p:nth-child(2) {
            font-size: 12px;
            font-weight: 500;
            color: #71bcf0;
            margin: 0;
          }
        }

        .active-tab {
          border-bottom: 4px solid #1894ea;
        }
      }

      .profile-tab-mobile {
        display: none;
      }

      @media screen and (max-width: 991px) {
        .profile-tab-mobile {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;

          .profile-options-container {
            width: 100%;

            form {
              width: 100%;
            }
          }

          ng-select {
            .ng-select-container {
              background-color: transparent;
              border: none;
              color: $primary-color;
              font-size: 14px;
            }
          }

          .ng-select.ng-select-opened > .ng-select-container .ng-arrow {
            border-color: transparent transparent $primary-color;
          }

          .ng-select .ng-arrow-wrapper .ng-arrow {
            border-color: $primary-color transparent transparent;
          }

          .ng-dropdown-panel {
            margin-top: 10px;

            .ng-option {
              color: $primary-color;
              font-size: 14px;
            }
          }

          .single-option {
            color: $primary-color;
            font-size: 14px;
          }
        }
      }
    }

    &__right-item {
      display: flex;
      align-items: center;
      height: 100%;

      .profile-item {
        position: relative;

        span {
          font-size: 20px;
          line-height: 0;
        }
      }
    }

    .nav-link-text {
      font-size: 14px;
      color: #e2f3ff;
      margin: 0 30px;
      letter-spacing: 0.065em;
      cursor: pointer;
    }

    .nav-btns {
      .btn-oval {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 20px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 33px;
        color: $white;
        letter-spacing: 0.005em;
        margin-right: 15px;
      }

      .auth-btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.035em;
        color: rgba(255, 255, 255, 0.7);
      }

      @media screen and (max-width: 991px) {
        display: none;
      }
    }
  }

  .xs-logo {
    @media screen and (max-width: 991px) {
      width: 30px;
    }
  }
}

.profile-popup {
  position: absolute;
  top: 50px;
  right: 0;
  width: 160px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  @media screen and (max-width: 991px) {
    width: 110px;
    right: 45px;
  }
  .menu-option {
    font-size: 14px;
    color: $black;
    padding: 5px;
    margin: 0;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
}

.blue-nav {
  background-color: $primary-color;
  transition: background-color 0.3s linear;
}

.white-nav {
  background-color: $white;
  transition: background-color 0.3s linear;

  .nav-link-text {
    font-size: 14px;
    color: $primary-color !important;
    margin: 0 30px;
    letter-spacing: 0.05em;
    cursor: pointer;
  }

  .nav-btns {
    .btn {
      color: #0e73b9 !important;
    }

    .btn-oval {
      font-size: 14px;
      font-weight: bold;
      background: rgba(14, 115, 185, 0.7) !important;
      border-radius: 33px;
      color: #ffffff !important;
      margin-right: 15px;
    }

    .auth-btn {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.035em;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .mobile-space {
    &__menu {
      color: $primary-color !important;
    }
  }
}

.mobile-space {
  display: none;
  height: 100%;

  @media screen and (max-width: 991px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__auth {
    margin-right: 15px;

    .nav-btn {
      background-color: #1894ea;
      border-radius: 3px;
      color: #ffffff;
      padding: 5px 15px;
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 0.05em;
      border: none;
    }
  }

  &__menu {
    color: #ffffff;

    .icon {
      i {
        font-size: 18px;
      }
    }
  }
}

.mobile-menu {
  background: rgba(14, 115, 185, 0.5);

  .modal-dialog {
    margin: 0;

    .modal-content {
      background: #003f6b !important;
      border: none;
      border-radius: 0;
      padding: 24px;

      .modal-body {
        padding: 0;

        .nav-btn {
          margin-bottom: 25px;

          .close-btn {
            color: #ffffff;
            font-size: 22px;

            &:focus {
              box-shadow: none;
            }
          }

          .btn-oval {
            border: none;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 33px;
            color: #ffffff;
            font-size: 22px;
            padding: 10px 15px;

            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

.active-count-box {
  display: inline-block;
  margin-left: 5px;
  padding: 1px 5px;
  font-size: 14px;
  font-weight: 600;
  color: $white;
  background-color: #46a4e5;
  border-radius: 2px;
}

.modal.fade:not(.in) .modal-dialog {
  -webkit-transform: translate3d(125%, 0, 0);
  transform: translate3d(125%, 0, 0);
}
