@import './src/assets/styles/app';

.content-policy-wrapper {
  margin-top: 77px;
  padding: 60px 60px 60px 45px;
  max-width: 700px;
  @media screen and (max-width: 991px) {
   margin-top: 58px;
   padding: 30px;
  } 

  &__title {
    font-size: 42px;
    color: $primary-color;
    margin: 0;
    @media screen and (max-width: 991px) {
      font-size: 28px;
    } 
  }

  &__subtitle {
    font-size: 16px;
    color: #808080;
  }

  &__policy-detail-container {
    margin-top: 33px;

    .dark-text {
      font-size: 20px;
      color: #000;
      @media screen and (max-width: 991px) {
        font-size: 18px;
      } 
    }

    .detail-section {
      padding-bottom: 5rem;
      @media screen and (max-width: 991px) {
        padding-bottom: 2rem;
      } 
      &__heading {
        font-size: 18px;
        font-weight: bold;
        color: $black;
        @media screen and (max-width: 991px) {
          font-size: 16px;
        } 
      }
      &__subheading {
        font-size: 16px;
        color: $black;
        @media screen and (max-width: 991px) {
          font-size: 14px;
        } 
      }
      &__content {
        font-size: 16px;
        color: $black; 
        @media screen and (max-width: 991px) {
          font-size: 14px;
        } 
      }
    }

  }
}