<div class="content-policy-wrapper">
  <p class="content-policy-wrapper__title">Civic Innovation Foundation (“Civis”) Content Policy</p>
  <p class="content-policy-wrapper__subtitle">(Effective 2nd September 2018. Last Revised 13th August 2019)</p>
  <div class="content-policy-wrapper__policy-detail-container">
    <p class="dark-text">
      This Content Policy explains what kind of content you can share on Civis. 
      At Civis, we believe in open dialogue and freedom of expression, however, 
      we do not tolerate abuse or behavior that promotes hate. 
      <br /><br />
      While Civis provides considerable leeway in the content it considers acceptable, certain types of content are unwelcome. 
    </p>
    <section class="detail-section">
      <p class="detail-section__heading">UNWELCOME CONTENT</p>
      <p class="detail-section__subheading">Sharing the following types of content on Civis is prohibited:</p>
      <p class="detail-section__content">
        <u>Abusive Language:</u> The use of harsh or coarsely insulting language is prohibited.<br /><br />
        <u>Violence:</u> Making specific threats of violence or wish for the serious physical harm, death, or disease of an individual or group of people is prohibited. Content that glorifies violence or glorifies suffering is prohibited. 
        <br /><br/>
        <u>Hateful Conduct:</u> You may not promote violence against, threaten, or harass other people on the basis of race, ethnicity, national origin, sexual orientation, gender, gender identity, religious affiliation, age, disability, or serious disease.
        <br /><br />
        <u>Confidential Information:</u> You may not post your own personal information or personal information of any other individual in the feedback section of Civis. 
        Posting such information is not permitted, even if consent is granted to post confidential information on the platform. 
        <br /><br />
        <u>Pornographic or Sexually Explicit Content:</u> Any media that is pornographic and/or may be intended to cause sexual arousal is prohibited.  
        <br /><br />
        <u>Spam:</u> Spam, defined as any bulk or aggressive activity that attempts to manipulate or disrupt Civis or the experience of users on Civis, is prohibited.
      </p>
    </section>

    <section class="detail-section">
      <p class="detail-section__heading">PROHIBITED BEHAVIOUR </p>
      <p class="detail-section__subheading">In addition to posting unwelcome content, the following behavior is prohibited on Civis:</p>
      <p class="detail-section__content">
        <u>Feedback Manipulation:</u> Feedback manipulation will result in immediate termination of your account. Feedback manipulation includes: 
        <br /><br />
        - Using multiple accounts or voting software to manipulate feedback for personal gain.
        <br /><br />
        <u>Unlawful Use:</u> You may not use our service for any unlawful purposes or in furtherance of illegal activities.
        <br /><br />
        <u>Multiple Accounts:</u> You may not create multiple accounts to evade punishment or avoid restrictions. 
      </p>
    </section>

    <section class="detail-section">
      <p class="detail-section__heading">ENFORCEMENT </p>
      <p class="detail-section__subheading">Civis has a number of ways of enforcing its Content Policy, these include but are not limited to:</p>
      <p class="detail-section__content">
        - Requesting that content guidelines be followed.
        <br /> <br />
        - Removal of content and not sharing data with our government and non-governmental partners. 
        <br /> <br />
        - Temporary or permanent suspension of accounts. 
        <br /> <br />
        - Permanent termination of an account. 
        <br /> <br />
        - Banning users.
      </p>
    </section>
  </div>
</div>
<app-footer></app-footer>