@import './src/assets/styles/app';

.content-policy-wrapper {
  margin-top: 77px;
  padding: 60px;

  &__title {
    font-size: 42px;
    color: $primary-color;
    margin: 0;
  }

  &__subtitle {
    font-size: 16px;
    color: #808080;
  }

  &__policy-detail-container {
    margin-top: 33px;

    .dark-text {
      font-size: 20px;
      color: #000;
    }

    .detail-section {
      padding-bottom: 5rem;
      &__heading {
        font-size: 18px;
        font-weight: bold;
        color: $black;
      }
      &__subheading {
        font-size: 16px;
        color: $black;
      }
      &__content {
        font-size: 16px;
        color: $black; 
      }
    }

  }
}