<div class="content-policy-wrapper">
  <p class="content-policy-wrapper__title" i18n>Civic Innovation Foundation (“Civis”) Content Policy</p>
  <p class="content-policy-wrapper__subtitle" i18n>(Effective 2nd September 2018. Last Revised 13th August 2019)</p>
  <div class="content-policy-wrapper__policy-detail-container">
    <p class="dark-text">
      <span i18n>
        This Content Policy explains what kind of content you can share on Civis. 
        At Civis, we believe in open dialogue and freedom of expression, however, 
        we do not tolerate abuse or behavior that promotes hate.
      </span>
      <br /><br />
      <span i18n>
        While Civis provides considerable leeway in the content it considers acceptable, certain types of content are unwelcome. 
      </span>
    </p>
    <section class="detail-section">
      <p class="detail-section__heading" i18n>UNWELCOME CONTENT</p>
      <p class="detail-section__subheading" i18n>Sharing the following types of content on Civis is prohibited:</p>
      <p class="detail-section__content">
        <u i18n>Abusive Language:</u> <span i18n>The use of harsh or coarsely insulting language is prohibited.</span><br /><br />
        <u i18n>Violence:</u> <span i18n>Making specific threats of violence or wish for the serious physical harm, death, or disease of an individual or group of people is prohibited. Content that glorifies violence or glorifies suffering is prohibited.</span> 
        <br /><br/>
        <u i18n>Hateful Conduct:</u> <span i18n>You may not promote violence against, threaten, or harass other people on the basis of race, ethnicity, national origin, sexual orientation, gender, gender identity, religious affiliation, age, disability, or serious disease.</span>
        <br /><br />
        <u i18n>Confidential Information:</u> <span i18n>You may not post your own personal information or personal information of any other individual in the feedback section of Civis. 
          Posting such information is not permitted, even if consent is granted to post confidential information on the platform. </span>
        <br /><br />
        <u i18n>Pornographic or Sexually Explicit Content:</u> <span i18n>Any media that is pornographic and/or may be intended to cause sexual arousal is prohibited. </span> 
        <br /><br />
        <u i18n>Spam:</u> <span i18n>Spam, defined as any bulk or aggressive activity that attempts to manipulate or disrupt Civis or the experience of users on Civis, is prohibited.</span>
      </p>
    </section>

    <section class="detail-section">
      <p class="detail-section__heading" i18n>PROHIBITED BEHAVIOUR </p>
      <p class="detail-section__subheading" i18n>In addition to posting unwelcome content, the following behavior is prohibited on Civis:</p>
      <p class="detail-section__content">
        <u i18n>Feedback Manipulation:</u> <span i18n>Feedback manipulation will result in immediate termination of your account. Feedback manipulation includes: </span>
        <br /><br />
        <span i18n>- Using multiple accounts or voting software to manipulate feedback for personal gain.</span>
        <br /><br />
        <u i18n>Unlawful Use:</u> <span i18n>You may not use our service for any unlawful purposes or in furtherance of illegal activities.</span>
        <br /><br />
        <u i18n>Multiple Accounts:</u> <span i18n>You may not create multiple accounts to evade punishment or avoid restrictions. </span>
      </p>
    </section>

    <section class="detail-section">
      <p class="detail-section__heading" i18n>ENFORCEMENT </p>
      <p class="detail-section__subheading" i18n>Civis has a number of ways of enforcing its Content Policy, these include but are not limited to:</p>
      <p class="detail-section__content">
        <span i18n>- Requesting that content guidelines be followed.</span>
        <br /> <br />
        <span i18n>- Removal of content and not sharing data with our government and non</span>
        <span i18n>-governmental partners.</span> 
        <br /> <br />
        <span i18n>- Temporary or permanent suspension of accounts. </span>
        <br /> <br />
        <span i18n>- Permanent termination of an account.</span> 
        <br /> <br />
        <span i18n>- Banning users.</span>
      </p>
    </section>
  </div>
</div>
<app-footer></app-footer>