<div class="c-profile-card sticky">
  <div class="c-profile-card__top-section">
    <p class="light-text m-0" tabindex="0">{{summaryData?.title ? summaryData?.title : 'SENDING IN YOUR RESPONSE TO' | translate}}</p>
    <div class="d-flex justify-content-between mb-1 mt-2">
      <p class="card-title m-0" tabindex="0">{{profile?.title | translate}}</p>
      <a class="icon-circle" [href]="profile?.url" target="_blank" *ngIf="!summaryData" aria-label="directs to consultation">
        <i class="fa fa-link" aria-hidden="true"></i>
      </a>
    </div>
      <div class="ministry-detail">
        <img [src]="profile?.ministry?.logo?.url" class="avatar avatar--42" role="presentation"/>
        <p class="regular-text m-0" tabindex="0">{{profile?.ministry?.name}}</p>
      </div>
      <div *ngIf="!summaryData">
        <div *ngIf="!profile?.respondedOn || showResponseCreation">
          <div class="d-flex justify-content-between align-items-center mb-1 mt-1">
            <p class="days-remaining m-0" tabindex="0">{{getRemainigDays(profile?.responseDeadline)}}</p>
            <a  [href]="createCalendarEvent()" class="icon-circle" target="_blank" tabindex="0" aria-label="directs to calender">
              <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            </a>
          </div>
          <button *ngIf="consultationStatus === 'active'" class="btn-submit mt-3 active" (click)='stepNext(profile?.respondedOn)' data-event="lead">
            <p class="m-0">
              <span>
                <picture class="citizen-logo">
                  <source srcset="assets/images/Vector.webp" type="image/webp">
                  <source srcset="assets/images/Vector.jpg" type="image/jpeg">
                  <img src="assets/images/Vector.jpg" alt=""/>
                </picture>
              </span>
              {{'SUBMIT RESPONSE' | translate}}
            </p>
            <span><i class="fa fa-angle-right"></i></span>
          </button>
        </div>
        <div *ngIf="profile?.respondedOn && !showResponseCreation" class="response-submitted-block">
          <div>
            <span class="success-text mr-1"><i class="fa fa-check"></i></span>
          </div>
          <div>
            <p class="mb-1 success-text">
              {{'RESPONSE SUBMITTED' | translate}}
            </p>
            <p class="success-date m-0">{{convertDateFormat(profile?.respondedOn)}}</p>
          </div>
        </div>
        <div class="share-block" *ngIf="profile?.visibility === 'public_consultation'">
          <div class="share-block__position">
            <div #shareOptionsElement class="share-pop-up" *ngIf="showShareOptions">
                <a class="share-btn"
                  aria-label="facebook"
                  [href]="getFbUrl(currentUrl)"
                  target="_blank" >
                  <span>
                    <i class="fa fa-facebook"></i>
                  </span>
                </a>
                <a class="share-btn"
                  aria-label="twitter"
                  [href]="getTwitterUrl(currentUrl)"
                  target="_blank">
                  <span>
                    <i class="fa fa-twitter"></i>
                  </span>
                </a>
                <a class="share-btn"
                  aria-label="whatsapp"
                  [href]="getWhatsappUrl(currentUrl)"
                  target="_blank">
                  <span>
                    <i class="fa fa-whatsapp"></i>
                  </span>
                </a>
                <a class="share-btn"
                  aria-label="linkedin"
                  [href]="getLinkedinUrl(currentUrl)"
                  target="_blank">
                  <span>
                    <i class="fa fa-linkedin"></i>
                  </span>
                </a>
            </div>
          </div>
          <div class="spread-btn mt-3">
            <button data-event="click-sidebar-share" #spreadButtonElement class="btn-circular"
              (click)="showShareOptions = !showShareOptions">
              <span class="mr-2 clr-blue"><i class="fa fa-share"></i></span>
              <span class="blue-text bold-text">{{'Spread the word' | translate}}</span>
            </button>
            <button mat-button (click)="openDialog()" class="btn-circular" style="float: right;">
              <span class="blue-text bold-text" tabindex="-1">{{'Glossary' | translate}}</span>
            </button>
          </div>
        </div>

      </div>
      <div *ngIf="summaryData" class="report-download-block">
        <div>
          <button  class="btn-submit mt-3  active" (click)='downloadReport()'>
            <p class="m-0">
              <span><i class="fa fa-download"></i></span>
              <span>{{'Download report as pdf' | translate}}</span>
            </p>
          </button>
        </div>
      </div>
  </div>

  <hr class="divider" />

  <div class="c-profile-card__bottom-section">
    <div class="d-flex justify-content-between mb-3">
      <p class="count-text m-0" tabindex="0">{{'TOTAL RESPONSES' | translate}}</p>
      <p class="count-number bold-text text-right m-0" tabindex="0">
        {{profile?.consultationResponsesCount ? profile?.consultationResponsesCount : 0}}
      </p>
    </div>
    <!-- <div class="d-flex justify-content-between mb-3">
      <p class="count-text m-0">{{'TOTAL PUBLIC RESPONSES' | translate}}</p>
      <p class="count-number bold-text text-right m-0" *ngIf="!summaryData; else summaryDataCount">
        {{profile?.sharedResponses?.totalCount ? profile?.sharedResponses?.totalCount : 0 }}
      </p>
      <ng-template #summaryDataCount>
        <p>
          {{summaryData?.publicResponseCount ? summaryData?.publicResponseCount : 0}}
        </p>
      </ng-template>
    </div> -->
    <div class="d-flex justify-content-between">
      <p class="count-text m-0" tabindex="0">{{profile?.visibility === 'public_consultation' ?  'DRAFT MADE PUBLIC ON'  : 'CONSULTATION PUBLISHED ON' | translate}}</p>
      <p class="count-number bold-text text-right m-0" tabindex="0">{{convertDateFormat(profile?.publishedAt)}}</p>
    </div>
  </div>
</div>
<app-glossary *ngIf="showGlossaryModal" (close)="showGlossaryModal = false"></app-glossary>
<app-confirm-email-modal *ngIf="showConfirmEmailModal" (close)="showConfirmEmailModal = false"></app-confirm-email-modal>
