@import './src/assets/styles/app';

.c-profile-card {
  width: 100%;
  min-height: 435px;
  background-color: #F2FAFF;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.13);
  border-radius: 5px;

  &__top-section {
    padding: 20px 24px;

    .light-text {
      font-size: 11px;
      color: #929292;
      letter-spacing: 0.115em;
      line-height: 13px;
    }
  
    .card-title {
      width: 90%;
      @include general-text($font-size: 20px, $weight: bold);
      line-height: 24px;
      letter-spacing: 0.005em;
      @media screen and (max-width: 991px) {
        font-size: 16px;
      }
    }
    
    .ministry-detail {
      display: grid;
      grid-template-columns: 50px 1fr;
      align-items: center;
      margin: 10px 0 15px;
      p {
        line-height: 17px;
        letter-spacing: 0.035em;
      }
    }
  
    .days-remaining {
      @include general-text($font-size: 14px, $color: $error-color, $weight: bold);
    }
  
    .icon-circle {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      width: 36px;
      height: 36px;
      background-color: #E5F2FA;
      border-radius: 50%;
    }
  
    .btn-circular {
      padding: 5px 15px;
      background-color: #E5F2FA;
      border: none;
      border-radius: 22px;
    }

    .report-download-block {
      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    .response-submitted-block {
      display: flex;
      margin: 20px 0 0;
      .success-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #3AC52E;
      }

      .success-date {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.035em;
        color: #929292;
      }
    }

    .share-block {
      position: relative;

      &__position {
        position: absolute;
        bottom: 35px;
        .share-pop-up {
          width: 250px;
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          background: white;
          padding: 10px; 
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.13);
          border-radius: 5px;
          position: relative;
    
          &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-top: 10px solid white;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
          }
          .share-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .3125em;
            border: none;
            border-radius: 5px;
            width: 57px;
            height: 35px;

            &:visited {
              color: transparent;
            }
            &:hover {
              color: transparent;
            }
            &:active {
              color: transparent;
            }

            i {
              color: $white;
              font-size: 18px;
            }

            &:nth-child(1) {
              background-color: #4267b2
            }
            &:nth-child(2) {
              background-color: #00acee;
            }
            &:nth-child(3) {
              background-color: #25D366;
            }
            &:nth-child(4) {
              background-color: #0e76a8;
            }
          }
        }
      }
    }

    .btn-submit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: 14px;
      color: $white;
      font-weight: 600;
      padding: 10px 15px;
      background-color: #CACACA;
      border: none;
      border-radius: 4px;
      i {
        font-size: 18px;
        line-height: 22px;
      }
      span {
        margin-right: 5px;
        vertical-align: text-bottom;
      }
    }

    .active {
      background-color: #F0653A;
    }
  }

  &__bottom-section {
    padding: 20px 24px;

    .count-text {
      font-size: 11px;
      letter-spacing: 0.115em;
      line-height: 13px;
      color: #6F6F6F;
    }

    .count-number {
      font-size: 13px;
      letter-spacing: 0.035em;
      line-height: 16px;
      color: #6F6F6F;
    }
  }

  .divider {
    border: 1px solid #CAE5F5;
    margin: 0 0 16px;
  }
}