<div class="login-index row no-gutters">

    <div class="login-index__left col-md-4">
      <button class="back-btn" [routerLink]="['/']">Back</button>
  
      <div class="info-box">
          <div class="info-box__title">
            IN THE PAST
          </div>
          <div class="info-box__heading">
            National Urban Policy Framework, 2018
          </div>
          <div class="info-box__sub-heading">
            Ministry of Housing and Urban Affairs
          </div>
          <div class="info-box__message">
            3251 citizen leaders participated
          </div>
          <button class="rounded-btn">READ CASE STUDY</button>
      </div>
  
    </div>
    <div class="login-index__right col-md-8 col-12 p-3 p-md-5">
      <div class="header">
        <div class="logo-container">
          <img class="logo" src='../../../../assets/images/brand-logo/brand-logo.svg' />
        </div>
        <div class="sign-up-container">
          <div> 
            Don't have an account with Civis?
          </div>
          <button class="rounded-btn" [routerLink]="['/auth', 'sign-up']">Sign Up</button>
        </div>
        <div class="sign-up-mobile-container">
            <div>
              <button class="sign-up-btn" [routerLink]="['/auth', 'sign-up']">Sign Up</button>
            </div>
          </div>
      </div>
      <div class="heading my-md-3 mt-5 mb-3">
        <div>Sign in to your Citizen Leader account</div>
      </div>
  
      <div class="form-space row no-gutters mt-md-5 mt-2">
        <div class="form-space__left col-md-5">
          <form #loginForm="ngForm" (ngSubmit)="submit(loginForm.valid)" autocomplete="off">
      
              <div class="input-box">
                  <label for="email">Email</label>
                  <div class="input-box__border">
                      <input placeholder="email" type="email" id="email" #email="ngModel" name="email" [(ngModel)]="loginObject.email" required email />
                  </div>
                  <div *ngIf="email.invalid && (email.touched || loginForm.submitted)" class="error-msg">
                      <div *ngIf="email.errors.required">Email is Required</div>
                      <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    </div>
              </div>
      
              <div class="input-box">
                  <label for="password">Password</label>
                  <div class="input-box__border">
                      <input placeholder="password" type="password" id="password" #password="ngModel" name="password" [(ngModel)]="loginObject.password" required />
                  </div>
                  <div *ngIf="password.invalid && (password.touched || loginForm.submitted)" class="error-msg">Password is Required</div>
              </div>
      
              <div>
                <button class="submit-btn" type="submit">SIGN IN TO MY ACCOUNT</button>
              </div>
            </form>
        </div>
      </div>
      
    </div>
  
  </div>
  