<form 
    #loginForm="ngForm"
    (ngSubmit)="submit()"
    autocomplete="off" >
    <div>
        <div class="input-box">
            <label for="email">{{'Email' | translate}} <app-required-indicator></app-required-indicator> </label>
            <div class="input-box__border">
                <input
                  placeholder="Email"
                  type="email"
                  id="email"
                  #email="ngModel"
                  name="email"
                  [(ngModel)]="loginObject.email"
                  [attr.aria-invalid]="email.invalid && (email.touched || loginForm.submitted)"
                  aria-describedby="email-error" 
                  aria-required="true"                                  
                  required
                  email />
            </div>
            <div
              *ngIf="email.invalid && (email.touched || loginForm.submitted)"
              class="error-msg"
              id="email-error" >
                <div *ngIf="email.errors.required">{{'Email is Required' | translate}}</div>
                <div *ngIf="email.errors.email">{{'Email must be a valid email address' | translate}}</div>
            </div>
        </div>

        <div class="input-box">
            <label for="password">{{'Password' | translate}} <app-required-indicator></app-required-indicator> </label>
            <div class="input-box__border">
                <input
                  placeholder="Password"
                  type="password"
                  id="password"
                  #password="ngModel"
                  name="password"
                  [(ngModel)]="loginObject.password"
                  required
                  [attr.aria-invalid]="password.invalid && (password.touched || loginForm.submitted)"
                  aria-describedby="password-error" 
                  aria-required="true"
                  required                  
                />        
            </div>
            <div
              *ngIf="password.invalid && (password.touched || loginForm.submitted)"
              class="error-msg"
              id="password-error"
              >
              {{'Password is Required' | translate}}
            </div>
        </div>        

        <div>
            <button 
                class="forgot-link"
                [routerLink]="['/auth', 'forgot-password']"
                tabindex="0">
                <p id="forgot-link" class="m-0">{{'Forgot my password' | translate}}</p>
            </button>
        </div>

        <div>
            <button
              class="app-btn secondary get-start-btn"
              type="submit"
              aria-labelledby="signin-label" >
                <p id="signin-label" class="m-0">{{'SIGN IN TO MY ACCOUNT' | translate}}</p>
                <i class="fa fa-angle-right"></i>
            </button>
        </div>          


    </div>
</form>