<div class="leader-wrapper">
  <div class="leader-wrapper__inner-container">
    <section class="container-header">
      <div class="header-left">
        <p>Civis Citizen Leaders</p>
        <p>Everyday citizens who’re taking initiative and making sure our voices reach the government</p>
      </div>
      <div class="header-right">
        <form #locationForm="ngForm">
          <ng-select id="location" #location="ngModel" name="location"  
          [items]="locations" bindLabel="name" [virtualScroll]="true" dropdownPosition="bottom" 
          bindValue="name" [searchable]="false" [clearable]="false" (change)="changeLocatioFilter($event)"
          [(ngModel)]="locationObject.name"> 
          </ng-select>
        </form>
      </div>
      <!-- <span class="header-right">All India<span><i class="fa fa-angle-down"></i></span></p> -->
    </section>
    <section class="container-body">
      <div class="container-body__data-row pointer" *ngFor="let item of userListData?.data; let i = index" (click)="openLeaderModal(item)">
        <div class="row-left-item">
          <p class="row-num"># {{i + 1}}</p>
          <img 
            appDefaultImage [type]="'user'"
            [src]="item?.profilePicture?.url" 
            class="avatar avatar--56 profile-pic"
            alt="profile Picture"
          />
          <p class="profile-name">{{item?.firstName}}</p>
        </div>
        <p class="row-right-item mb-0">{{item?.points}}<span> Points</span></p>
      </div>

      <!-- data-row-mobile-layout -->
      <div class="container-body__data-row-xs" *ngFor="let item of userListData?.data; let i = index" (click)="openLeaderModal(item)">
        <p class="row-num"># {{i + 1}}</p>
        <img 
            appDefaultImage [type]="'user'"
            [src]="item?.profilePicture?.url" 
            class="avatar avatar--42 profile-pic"
            alt="profile Picture"
          />
        <div class="leader-detail">
          <p>{{item?.firstName}}</p>
          <p><span class="bold-text">{{item?.points}}</span> Points</p>
        </div>
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>

<!-- leader modal -->
<div 
  bsModal #leaderModal="bs-modal" class="modal fade leader-modal" tabindex="-1"
  [config]="{show: false, backdrop: 'static'}"
  role="dialog" aria-labelledby="leaderModal"
>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <div class="leader-profile">
          <img 
          appDefaultImage [type]="'user'"
          [src]="leaderData?.profilePicture?.url" 
          class="avatar avatar--80"
          />
          <p class="profile-name">{{leaderData?.firstName}}</p>
        </div>
        <div class="modal-close-btn" (click)="closeModal()"><i class="fa fa-times"></i></div>
      </div>

      <div class="modal-body">
        <div class="leader-detail-grid">
          <div class="detail-item">
            <p>TOTAL POINTS</p>
            <p>{{leaderData?.points}}</p>
          </div>
          <div class="detail-item">
            <p>RANK IN CITY</p>
            <p *ngIf="leaderData?.cityRank">{{leaderData?.cityRank}}</p>
            <p *ngIf="!leaderData?.cityRank">N/A</p>
          </div>
          <div class="detail-item">
            <p>RANK IN STATE</p>
            <p *ngIf="leaderData?.stateRank">{{leaderData?.stateRank}}</p>
            <p *ngIf="!leaderData?.stateRank">N/A</p>
          </div>
          <div class="detail-item">
            <p>BEST SO FAR</p>
            <p>#{{leaderData?.rank}} in All India</p>
          </div>
        </div>

        <div class="participated-section">
          <p class="paticipant-title">Consultations participated in</p>
          <div class="participation-list-container">
            <div *ngFor="let item of leaderData?.sharedResponses?.edges">
              <div class="paticipant-list">
                <img [src]="item?.node?.consultation?.ministry?.logo?.url"  class="avatar avatar--42" />
                <div class="list-detail">
                  <p>{{item?.node?.consultation?.title}}</p>
                  <p>{{item?.node?.consultation?.ministry?.name}}</p>
                  <div class="response-cta">
                    <button class="btn btn-transparent action-btn" [routerLink]="['/consultations/response', item?.node?.id]">
                        View my response
                        <span><i class="fa fa-angle-right"></i></span>
                    </button>
                  </div>
                </div>
              </div>
              <hr  class="paticipant-divider" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
