@import './src/assets/styles/app';

.profile-index {
    background: #E5F4FF;
    width: 100%;
    height: calc(100vh - 77px);
    margin-top: 77px;

    @media screen and (max-width: 991px) {
      margin-top: 57px;
    }
    

    &__left {
        .heading {
            font-weight: 500;
            font-size: 20px;
            color: #0E73B9;
            margin-bottom: 35px;
        }

        .profile-space {
            padding-bottom: 25px;
            border-bottom: 1px solid #BFE4FF;
            .header {
                font-weight: 500;
                font-size: 11px;
                color: #6DB4E4;
            }

            .profile-info {
                margin: 20px 0;
                .profile-details {
                    &__name {
                        font-size: 16px;
                        color: #151515;
                        margin-bottom: 5px;
                    }
                    &__active {
                        font-weight: normal;
                        font-size: 13px;
                        color: #4B94C7;
                    }
                }
            }

            .profile-change-cta {
                .btn {
                    font-size: 13px;
                    color: #0E73B9;
                    cursor: pointer;
                }
                
            }
        }

        .login-space {
            padding: 25px 0;
            border-bottom: 1px solid #BFE4FF;

            .header {
                font-weight: 500;
                font-size: 11px;
                color: #6DB4E4;
            }

            .login-info {
                margin: 20px 0;
                .login-details {
                    &__email {
                        font-size: 16px;
                        color: #151515;
                        margin-bottom: 5px;
                    }
                }
            }

            .login-change-cta {
                .btn {
                    font-size: 13px;
                    color: #0E73B9;
                    margin-bottom: 5px;
                }
            }   
        }

        .contact-space {
            padding: 25px 0;
            border-bottom: 1px solid #BFE4FF;

            .header {
                font-weight: 500;
                font-size: 11px;
                color: #6DB4E4;
            }

            .contact-info {
                margin: 20px 0;
                .contact-details {
                    &__phone {
                        font-size: 16px;
                        color: #151515;
                        margin-bottom: 5px;
                    }
                }
            }

            .contact-change-cta {
                .btn {
                    font-size: 13px;
                    color: #0E73B9;
                    margin-bottom: 5px;
                    cursor: pointer;
                }
            }
        }

        .delete-space {
            margin-top: 20px;

            .delete-cta {
                font-size: 13px;
                color: #ED5C5C;
                margin-bottom: 5px;
            }

            .tips {
                font-size: 13px;
                color: #919191;
            }
        }
    }

    &__right {

        .achievements-block {
            .heading {
                font-weight: 500;
                font-size: 20px;
                color: #0E73B9;
            }
            .info-block {
                margin: 20px 0;
                .sm-text {
                    font-size: 13px;
                    color: #4B94C7;
                }
                .lg-text {
                    font-weight: 600;
                    font-size: 24px;
                    color: #61B8F5;
                }   
            }
            .stats-info {
                padding: 30px 0;
                border-bottom: 1px solid #BFE4FF;

                &__heading {
                    font-weight: 500;
                    font-size: 11px;
                    color: #6DB4E4;
                    margin-bottom: 10px;
                }
                &__rewards {
                    font-weight: 600;
                    font-size: 16px;
                    color: #151515;
                }
            }
        }

        .consultations-block {
            padding: 30px 0;
            .heading {
                margin-bottom: 70px;
                font-weight: 500;
                font-size: 20px;
                color: #0E73B9;
            }
            .message {
                text-align: center;
                font-weight: 500;
                font-size: 24px;
                color: #6EB9ED;
            }
            .consultations-cta {
                text-align: center;
                margin-top: 15px;
                .btn-oval {
                    font-weight: bold;
                    font-size: 17px;
                    color: #FFFFFF;
                    background: #F0653A;
                    border-radius: 33px;
                    padding: 10px 15px;
                }

            }
        }

    }
}

.update-user-index {
    .align-center {
        display: flex !important;
        align-items: center;
      }
    
      .modal {
        background: rgba(14, 115, 185, 0.6);
        height: 100vh;
        
      .modal-dialog {
        width: 30%;
        max-width: 30% !important;
        margin: 0 auto;

        .modal-header {
            padding: 30px;
            .title {
                font-weight: 500;
                font-size: 21px;
                line-height: 124.7%;
                letter-spacing: 0.02em;
                color: #525252;
            }
        }

        .modal-body {
            padding: 30px;

            .input-box {
                margin-bottom: 15px;

                &__border {
                    width: 100%;
                    border: 1px solid $input-border;
                    box-sizing: border-box;
                    border-radius: 3px;
                    padding: 10px;
                    input { 
                        width: 100%;
                        font-weight: 500;
                        font-size: 15px;
                        background: $white;
                        
                        border: none;

                        &:focus {
                            outline: none;
                        }
                    }

                    @media screen and (max-width: 991px) {
                        width: 100%;
                    }
                }

                label {
                    display: block;
                    font-weight: 600;
                    font-size: 14px;
                    color: $black;
                    margin-bottom: 10px;
                }

                .error-msg {
                    margin: 10px 0;
                    color: #F0653A;
                    font-size: 14px;
                }
            }

            .get-start-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%; 
                padding: 12px 20px;

                @media screen and (max-width: 991px) {
                    width: 100%;
                }

                i {
                    font-size: 24px;
                }
            }

            .cancel-btn {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                letter-spacing: 0.105em;
                text-transform: uppercase;
                color: #A4A4A4;
                margin-top: 5px;
            }

            .info-tips {
                font-weight: normal;
                font-size: 16px;
                line-height: 130.5%;
                letter-spacing: 0.045em;
                color: #919191;
                margin-bottom: 15px;
            }
        }
      }
    }
}