<div class="sign-up-index row no-gutters">

  <div class="sign-up-index__left col-md-4">
    <div class="overlay"></div>
    <div class="cover-detail">
      <button class="back-btn" [routerLink]="['/']">
        <span><i class="fa fa-angle-left back-arrow"></i></span>
        Back
      </button>
      <app-case-studies-list></app-case-studies-list>
    </div>
  </div>

  <div class="sign-up-index__right col-md-8 m-auto">
    <div class="text-center">
      <img src="assets/images/mail.svg">
    </div>
    <p class="logo-heading text-center ml-3">Check your Mail Box</p>
    <p class="text-center">We sent you an activation link. Please click on that <br>link to verify your profile.</p>
    <div class="d-flex justify-content-center">
      <button class="btn resend-btn" (click)=resendEmailVerification()>Resend email</button>
    </div>
  </div>
</div>