@import './src/assets/styles/app';

.about-us-wrapper {
  margin-top: 77px;
  padding-top: 60px;
  background-color: $blue-bg-light;
  @media screen and (max-width: 991px) {
    margin-top: 58px;
    padding-top: 30px;
  }

  &__quote-section {
    padding: 0 65px 30px;
    max-width: 900px;
    @media screen and (max-width: 991px) {
      max-width: 100%;
      padding: 0 30px 20px;
    }

    .quote-title {
      font-size: 47px;
      color: $primary-color;
      line-height: 54px;
      font-family: Playfair Display;
      margin-bottom: 10px;
    }

    .quote-subtitle {
      font-size: 18px;
      font-weight: bold;
      color: #1998F0;
      margin-bottom: 20px;
    }

    .quote-content {
      font-size: 24px;
      color: #000;
      margin-bottom: 2rem;
      @media screen and (max-width: 991px) {
        font-size: 18px;
      }
    }
  }

  &__content-section {
    padding: 30px 65px;
    max-width: 900px;
    @media screen and (max-width: 991px) {
      max-width: 100%;
      padding: 30px;
    }
   
    .content-detail {
      font-size: 18px;
      color: #000;
      @media screen and (max-width: 991px) {
       font-size: 14px;
      }
    }
  }

  &__people-section {
    padding: 30px 65px;
    @media screen and (max-width: 991px) {
      padding: 30px;
    }
    .people-list-wrapper {
      padding-bottom: 35px;

      .list-title {
        font-size: 15px;
        font-weight: 500;
        color: #F0653A;
        @media screen and (max-width: 500px) {
          text-align: center;
        }
      }

      .people-list-grid {
        display: grid;
        grid-column-gap: 113px;
        grid-template-columns: repeat(5, 1fr);
        padding-top: 15px;
        @media screen and (max-width: 500px) {
          grid-template-columns: auto;
          grid-column-gap: 0;
          grid-row-gap: 25px;
        }

        .people-profile {
          text-align: center;

          .profile-name {
            font-size: 16px;
            font-weight: bold;
            color: $primary-color;
            margin: 5px 0 0;
            
          }

          .profile-subtitle {
            font-size: 16px;
            color: $black;
          }
        }
      }
    }
  }

  .content-title {
    font-size: 42px;
    color: $primary-color;
    @media screen and (max-width: 991px) {
      font-size: 28px;
    }
  }

  .content-divider {
    border-bottom: 1px solid #A8DCFF;
    margin: 0;
  }

  .abt-btn {
    display: inline-flex;
    align-items: center;
    background-color: $white;
    color: $primary-color;
    font-size: 13px;
    padding: 7px 21px;
    &:hover {
      background-color: darken($white, 2%);
    }
    span {
      margin-left: 15px;
      font-size: 20px;
      line-height: 0;
    }
  }
}