<div class="about-us-wrapper">
  <div class="about-us-wrapper__quote-section">
    <p class="quote-title italic-text">“No Office in this land is more important than that of being a citizen”</p>
    <p class="quote-subtitle">Felix Frankfurter</p>
    <p class="quote-content">
      Civis is India's first platform that enables citizens to understand legislation and share their 
      feedback on laws and policy decisions; while providing an avenue for the Government to understand citizen's 
      priorities and gather feedback on policies in real time.
      <br /><br />
      Civis is built and maintained by Civic Innovation Foundation, 
      a non-profit organisation whose aim is to generate public awareness and provide education on issues of civic importance.
      <br /><br />
      Civis is incubated by the Indian Institute of Management, Nagpur and the Indian Institute of Management, Bangalore.
    </p>
  </div>

  <hr class="content-divider" />

  <div class="about-us-wrapper__content-section">
    <p class="content-title">Why Participate, You Ask? </p>
    <p class="content-detail">
      Do you get irritated when stuck in traffic? Frustrated by inadequate medical facilities? Or irked by excess pollution? 
      <br /><br />
      Laws and policies impact nearly every aspect of daily life. The Government, however, has limited resources and capacity. 
      The Government often asks its citizens to contribute to law making and send in their suggestions on how policies can be made for them.
      <br /><br />
      Civis is simplifying the process for you to participate, because your participation can make a real difference.
    </p>
    <button class="app-btn abt-btn circular" [routerLink]="['/how-civis-works']"> Learn How Civis Works <span><i class="fa fa-angle-right"></i></span></button>
  </div>

  <hr class="content-divider" />

  <div class="about-us-wrapper__people-section">
    <p class="content-title">The people behind Civis</p>
    <div class="people-list-wrapper">
      <p class="list-title">THE TEAM</p>
      <div class="people-list-grid">
        <div class="people-profile">
          <img class="avatar avatar--128" src="../../../assets/images/antaraa.png" />
          <p class="profile-name">Antaraa Vasudev</p>
          <p class="profile-subtitle">Founder</p>
        </div>
        <div class="people-profile">
          <img class="avatar avatar--128" src="../../../assets/images/aditya.png" />
          <p class="profile-name">Aditya Dipankar</p>
          <p class="profile-subtitle">Volunteer, UX Design</p>
        </div>
        <div class="people-profile">
          <img class="avatar avatar--128" src="../../../assets/images/bini.png" />
          <p class="profile-name">Bini Mishra</p>
          <p class="profile-subtitle">Intern, Policy Analysis</p>
        </div>
        <div class="people-profile">
          <img class="avatar avatar--128" src="../../../assets/images/rohan.png" />
          <p class="profile-name">Rohan Shukla</p>
          <p class="profile-subtitle">Intern, Web Development </p>
        </div>
        <div class="people-profile">
          <img class="avatar avatar--128" src="../../../assets/images/surej.png" />
          <p class="profile-name">Surej Reginald</p>
          <p class="profile-subtitle">Policy Analyst</p>
        </div>
      </div>
    </div>
    <div class="people-list-wrapper">
      <p class="list-title">BOARD OF ADVISORS</p>
      <div class="people-list-grid">
        <div class="people-profile">
          <img class="avatar avatar--128" src="../../../assets/images/starlene.png" />
          <p class="profile-name">Starlene Sharma</p>
        </div>
        <div class="people-profile">
          <img class="avatar avatar--128" src="../../../assets/images/srikanth.png" />
          <p class="profile-name">Srikanth Viswanathan</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="content-divider" />

  <div class="about-us-wrapper__content-section">
    <p class="content-title">Why Participate, You Ask? </p>
    <p class="content-detail">
      Do you get irritated when stuck in traffic? Frustrated by inadequate medical facilities? Or irked by excess pollution? 
      <br /><br />
      Laws and policies impact nearly every aspect of daily life. The Government, however, has limited resources and capacity. 
      The Government often asks its citizens to contribute to law making and send in their suggestions on how policies can be made for them.
      <br /><br />
      Civis is simplifying the process for you to participate, because your participation can make a real difference.
    </p>
    <button class="app-btn abt-btn circular" [routerLink]="['/how-civis-works']">Write to us<span><i class="fa fa-angle-right"></i></span></button>
  </div>
  <hr class="content-divider" />

</div>
<app-footer></app-footer>