<div class="about-us-wrapper">
  <div class="about-us-wrapper__quote-section">
    <p class="quote-title" i18n>“No Office in this land is more important than that of being a citizen”</p>
    <p class="quote-subtitle">Felix Frankfurter</p>
    <p class="quote-content">
      <span i18n>
        At Civis, we believe it is you who know what's best for your community. 
        We are building a bridge between citizens and Governments, to ensure that people's voice isn't just heard but 
        acknowledged and acted upon by those in power.
      </span>
      <br /><br />
      <span i18n>
        We present various public policies being worked on by the government on our website, and allow you to share your feedback on them. This feedback gets passed on to the relevant authorities. 
        We believe that it is essential that dialogue between citizens and government remains vibrant and thriving. 
        Civis gives your opinion the ability to rise above the noise and be registered by your leaders.
      </span>
      <br /><br />
      <span i18n>
        By facilitating this back and forth, we keep the spirit of democracy alive as we form a part of a billion-strong citizenry - working together to build this massive project that we call India.
      </span>
      <br /><br />
      <span i18n>
        Keen to implement Civis in your own country?
      </span>
    </p>
    <a href="mailto:info@civis.vote" class="text-decoration-none">
      <button class="app-btn abt-btn circular"> <span i18n>Start A Chapter</span><span><i class="fa fa-angle-right"></i></span></button>
    </a>
  </div>

  <hr class="content-divider" />

  <div class="about-us-wrapper__content-section">
    <p class="content-title" i18n>Why Participate, You Ask? </p>
    <p class="content-detail">
      <span i18n>
        India has a population of 1.2 billion, and each one of us has an opinion. 
        We argue about them over cups of chai, in our family Whatsapp groups, at our parlours and our barber's, 
        on the news and in our living rooms, we scream them and we whisper them, we type them and we recite them. 
        It's all a bit of chaos, really.
      </span>
      <br /><br />
      <span i18n>
        Now, imagine a space that could filter out all of that noise, and give shape and direction to the countless 
        conversations going on at any given time all over the country - imagine a space that could be a platform for you, 
        the citizen's, voice to emerge front and center.
      </span> 
    </p>
    <button class="app-btn abt-btn circular" [routerLink]="['/how-civis-works']"> <span i18n>Learn How Civis Works</span> <span><i class="fa fa-angle-right"></i></span></button>
  </div>

  <hr class="content-divider" />

  <div class="about-us-wrapper__people-section">
    <p class="content-title" i18n>The people behind Civis</p>
    <div class="people-list-wrapper">
      <p class="list-title" i18n>THE TEAM</p>
      <div class="people-list-grid">
        <a class="people-profile text-decoration-none" href=" https://in.linkedin.com/in/antaraavasudev" target="_blank">
          <picture class="avatar avatar--128">
            <source srcset="assets/images/antaraa.webp" type="image/webp">
            <source srcset="assets/images/antaraa.jpg" type="image/jpeg">
            <img src="assets/images/antaraa.jpg" alt="Antaraa image" />
          </picture>
          <p class="profile-name">Antaraa Vasudev</p>
          <p class="profile-subtitle" i18n>Founder</p>
        </a>
        <a class="people-profile text-decoration-none" href="https://in.linkedin.com/in/bini-mishra-77066a49" target="_blank">
          <picture class="avatar avatar--128">
            <source srcset="assets/images/bini.webp" type="image/webp">
            <source srcset="assets/images/bini.jpg" type="image/jpeg">
            <img src="assets/images/bini.jpg" alt="Bini image" />
          </picture>
          <p class="profile-name">Bini Mishra</p>
          <p class="profile-subtitle" i18n>Moderator</p>
        </a>
      </div>
    </div>
    <div class="people-list-wrapper">
      <p class="list-title">BOARD OF ADVISORS</p>
      <div class="people-list-grid">
        <a class="people-profile text-decoration-none" href="https://in.linkedin.com/in/starlenesharma" target="_blank">
          <picture class="avatar avatar--128">
            <source srcset="assets/images/starlene.webp" type="image/webp">
            <source srcset="assets/images/starlene.jpg" type="image/jpeg">
            <img src="assets/images/starlene.jpg" alt="Starlene image" />
          </picture>
          <p class="profile-name">Starlene Sharma</p>
        </a>
        <a class="people-profile text-decoration-none" href="https://in.linkedin.com/in/srikanth-viswanathan-087b2735" target="_blank">
          <picture class="avatar avatar--128">
            <source srcset="assets/images/srikanth.webp" type="image/webp">
            <source srcset="assets/images/srikanth.jpg" type="image/jpeg">
            <img src="assets/images/srikanth.jpg" alt="Srikanth image" />
          </picture>
          <p class="profile-name">Srikanth Viswanathan</p>
        </a>
      </div>
    </div>
  </div>
  <hr class="content-divider" />

  <div class="about-us-wrapper__content-section">
    <p class="content-title" i18n>Tell Me More…</p>
    <p class="content-detail">
      <span i18n>Civis is a community driven platform, which is built and maintained by Civic Innovation Foundation.</span>
      <br /><br />
      <span i18n>Civic Innovation Foundation is a non-profit organisation whose aim is to generate public awareness and provide education on issues of civic importance.</span>
      <br /><br />
      <span i18n>The Foundation has worked in partnership with non-profit organisations and Government bodies to facilitate citizen’s participation in the law making process at a ward, city and state level.</span>
      <br /><br />
      <span i18n>To enable other organisations to conduct citizen’s engagement, we have created open source toolkits on civic engagement, which can be implemented in low literacy areas, as well as the open source platform - Civis. </span>
    </p>
    <a class="text-decoration-none" href="https://bit.ly/2GMvtSw" target="_blank">
      <button class="app-btn abt-btn circular"><span i18n>Learn More</span><span><i class="fa fa-angle-right"></i></span></button>
    </a>
  </div>
  
  <hr class="content-divider" />
</div>
<app-footer></app-footer>