<div class="works-wrapper">
  <p class="works-wrapper__title">How Civis Works</p>
  <p class="works-wrapper__subtitle">
    In India, you are the superhero of the country, and the guardian of our destiny. <br />
    Laws meant for you and I can be shaped by people like you and I. <br />
    The process where you share feedback with the government on how a policy may impact you and your community, is known as a public consultation.
  </p>
  <div class="works-wrapper__step-section mt-5">
    <p class="step-section-title">Submit A Response</p>
    <div class="step-grid">
      <picture>
        <source srcset="../../../assets/images/step1.webp" type="image/webp">
        <source srcset="../../../assets/images/step1.jpg" type="image/jpeg">
        <img src="../../../assets/images/step1.jpg" alt="steps image" />
      </picture>
      <div>
        <ul class="step-points">
          <p class="step-number">Step One: Select A Consultation</p>
          <li>
            On Civis, you will find all the draft documents which the Government wants your feedback on. 
            Select a consultation to get started! 
          </li>
          <li>Can’t find a consultation you know about on Civis? Why don’t you add it in!</li>
          <button class="app-btn primary mt-2" (click)="scrollToResponses()">Add A Consultation</button>
        </ul>
        <ul class="step-points">
          <p class="step-number">Step Two: Read The Summary</p>
          <li>
            We know sometimes laws and policies can get intimidating, but don’t worry, we have you covered! 
            Read a summary of the document in simple English, and if you’d like,
            go through the full document to know more. 
          </li>
        </ul>
      </div>
    </div>

    <div class="step-grid">
      <picture>
        <source srcset="../../../assets/images/step3.webp" type="image/webp">
        <source srcset="../../../assets/images/step3.jpg" type="image/jpeg">
        <img src="../../../assets/images/step3.jpg" alt="steps image" />
      </picture>
      <div>
        <ul class="step-points">
          <p class="step-number">Step Three: Discuss The Document</p>
          <li>
            Never shy away from asking questions, our community is here to answer them all! 
            Go to the ‘Discuss & Engage’ tab to ask questions and share your thoughts. 
            Remember, discussing a document is not the same as sending a response to the Government.
          </li>
        </ul>
        <ul class="step-points">
          <p class="step-number">Step Four: Choose A Response Or Write Your Own</p>
          <li>
            Once you have all your questions answered, submit your response through the ‘Read & Respond’ tab. 
            If you feel passionately about a document, you can make your response a public response, 
            for others to use too. If you’re not too sure what to write, you can choose other people’s responses to use as your own! 
          </li>
        </ul>
      </div>
    </div>

    
    <div class="step-grid">
      <picture>
        <source srcset="../../../assets/images/step4.webp" type="image/webp">
        <source srcset="../../../assets/images/step4.jpg" type="image/jpeg">
        <img src="../../../assets/images/step4.jpg" alt="steps image" />
      </picture>
      <div>
        <ul class="step-points">
          <p class="step-number">Step Five: Submit Your Response!</p>
          <li>
            Don’t forget, once your response is submitted, you won’t be able to edit it again, 
            so type wisely! Civis will submit your response onward to the government. 
            If you haven’t chosen to make your response public, your name and personal details will not be shown to the government, 
            if your response is public, only your first name will be shown along with your response.
          </li>
        </ul>
        <ul class="step-points">
          <p class="step-number">Step Six: Share Your Super-Citizen Status!</p>
          <li>Excited to share your super-citizen status with friends and family? We are too, spread the word!</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="works-wrapper__step-section" #addConultationSection>
    <p class="step-section-title">Add A Consultation</p>
    <div class="step-grid">
      <picture>
        <source srcset="../../../assets/images/step2.webp" type="image/webp">
        <source srcset="../../../assets/images/step2.jpg" type="image/jpeg">
        <img src="../../../assets/images/step2.jpg" alt="steps image" />
      </picture>
      <div>
        <ul class="step-points">
          <p class="step-number">Step One: Stumbled Upon A Consultation?</p>
          <li>
            Well done champ! Congratulations on finding a consultation to share with our community. 
            If you’ve found a consultation on a government website, be sure to share it with us, 
            so that others active citizens can share their feedback too. 
            Confused about what a consultation is? Read this document on consultations from the Ministry of Law & Justice.
          </li>
        </ul>
        <ul class="step-points">
          <p class="step-number">Step Two: Click On ‘Submit A Consultation’</p>
          <li>We need a few details from you to help us out and we’ll be good to go!</li>
        </ul>
      </div>
    </div>

    <div class="step-grid">
      <picture>
        <source srcset="../../../assets/images/step4.webp" type="image/webp">
        <source srcset="../../../assets/images/step4.jpg" type="image/jpeg">
        <img src="../../../assets/images/step4.jpg" alt="steps image" />
      </picture>
      <div>
        <ul class="step-points">
          <p class="step-number">Step Three: Add A Few Details To Help Us Out</p>
          <li>
            We need a few details from you like the document title and deadline. 
            Also, don’t forget to share the link to the document, from the official website of the government. 
            This helps us get back to you quickly with the simplified document.
          </li>
        </ul>
        <ul class="step-points">
          <p class="step-number">Step Four: Select The Department</p>
          <li>
            When you select the department the consultation is from, you help us share feedback with the right people. 
            If you can’t find the department in the dropdown menu, be sure to add it.
          </li>
          <button class="app-btn primary mt-2" [routerLink]="['/consultations/new']">
            Add a department page
          </button>
        </ul>
        <ul class="step-points">
          <p class="step-number">Step Five: Submit The Consultation</p>
          <li>
            When you hit submit, our moderators will go through the Consultation and make it public in a few hours. 
            We try to work as fast as possible, check back soon to be the first person to submit your feedback on the document!
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
