<div class="works-wrapper">
  <p class="works-wrapper__title">How Civis Works</p>
  <p class="works-wrapper__subtitle">
    In India, you are the superhero of the country, and the guardian of our destiny. <br />
    Laws meant for you and I can be shaped by people like you and I. <br />
    The process where you share feedback with the government on how a policy may impact you and your community, is known as a public consultation.
  </p>
  <div class="works-wrapper__step-section">
    <div class="step-grid">
      <img class="step-image" src="../../../assets/images/step1.png" />
      <ul class="step-points">
        <li>Select a consultation.</li>
        <li>Read the summary.</li>
      </ul>
    </div>

    <div class="step-grid">
      <img class="step-image" src="../../../assets/images/step2.png" />
      <ul class="step-points">
        <li>Have you stumbled upon a document open for consultation?</li>
        <li>Click on ‘Submit A Consultation’</li>
      </ul>
    </div>

    <div class="step-grid">
      <img class="step-image" src="../../../assets/images/step3.png" />
      <ul class="step-points">
        <li>Discuss the document and ask questions.</li>
        <li>Choose a response, or write your own.</li>
        <li>Submit your response!</li>
        <li>Share the consultation with friends.</li>
      </ul>
    </div>

    <div class="step-grid">
      <img class="step-image" src="../../../assets/images/step4.png" />
      <ul class="step-points">
        <li>Add a few details like the title and deadline, and share the link to the document.</li>
        <li>Select the department the consultation has been shared by, or add a department.</li>
        <li>Submit the consultation, our moderators will take a look and make it public.</li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
