@import './src/assets/styles/app';

.works-wrapper {
  margin-top: 77px;
  padding: 60px 60px 60px 45px;
  background-color: $blue-bg-light;
  @media screen and (max-width: 991px) {
    margin-top: 58px;
    padding: 30px;
  }

  &__title {
    font-size: 42px;
    color: #0E73B9;
    @media screen and (max-width: 991px) {
      font-size: 28px;
    }
  }

  &__subtitle {
    color: $black;
    font-size: 24px;
    margin-bottom: 2rem;
    line-height: 36px;
    letter-spacing: 0.03em;
    @media screen and (max-width: 991px) {
      font-size: 20px;
      line-height: 32px;
    }
  }

  &__step-section {

    .step-section-title {
      display: inline-block;
      font-size: 34px;
      color: $primary-color;
      @media screen and (max-width: 991px) {
        font-size: 20px;
      }
    }

    .step-grid {
      display: grid;
      grid-template-columns: 640px 1fr;
      align-items: center;
      @media screen and (max-width: 991px) {
        grid-template-columns: auto;
        justify-content: flex-start;
      }

      .step-image {
        width: 640px;
        height: 640px;
        object-fit: cover;
        @media screen and (max-width: 991px) {
          width: 100%;
          height: 300px;
          object-fit: contain;
        }
      }

      .step-points {
        color: $black;
        @media screen and (max-width: 991px) {
          padding: 0;
        }
        .step-number {
          font-size: 20px;
          font-weight: bold;
          @media screen and (max-width: 991px) {
            font-size: 16px;
          }
        }

        li {
          font-size: 16px;
          list-style-type: none;
          @media screen and (max-width: 991px) {
            font-size: 14px;
          }
        }
      }
    }
  } 
}