@import './src/assets/styles/app';

.open-spaces-wrapper {
    margin-top: 77px;
    background-color: $blue-bg-light;
    @media screen and (max-width: 991px) {
      margin-top: 58px;
    }
    .open-spaces-page-header {
      width: 100%;
    }
    .form-container {
      padding: 60px 0;
      @media screen and (max-width: 991px) {
        padding: 30px 0;
      }
    }
}