<div class="response-container pb-0" [id]="response?.node?.id">
    <div class="d-inline-flex align-items-center">
      <img class="avatar avatar--42 pointer" alt="" appDefaultImage [type]="'user'"
        [src]="response?.node?.user?.profilePicture?.url" (click)="openUserProfile(response?.node?.user)" />
        <p class="regular-text bold-text m-0 ml-2" tabindex="0">{{response?.node?.user ? response?.node?.user?.firstName : 'Anonymous'}}</p>
        <p class="unverified-text" tooltip="The person who made this response has not verified their email address yet." *ngIf="!response?.node?.isVerified">(Unverified)</p>
    </div>     
    <p class="text-16" *ngIf="!response?.node?.answers && response?.node?.responseText ; else responseAnswers" [innerHTML]="response.node?.responseText"></p>
    <ng-template #responseAnswers>
      <div tabindex="0">
        <app-response-answers [showOnlyLongTextAnswer]="true" [activeRoundNumber]="activeRoundNumber" [response]="response?.node"></app-response-answers>
      </div>
    </ng-template>
    <app-response-footer [response]="response"></app-response-footer>
  </div>