<div class="thankyou-modal">
    <div bsModal #thankyouModal="bs-modal" class="modal fade" tabindex="-1" [ngClass]="showThankYouModal? 'align-center' : ''"
      [config]="{show: true, backdrop: 'static', ignoreBackdropClick: true, keyboard: false}" role="dialog"
      aria-labelledby="thankyouModal">
      <div class="modal-dialog">
        <div data-event="thank-you-modal-appear" class="modal-content">
          <div class="modal-body">
            <div class="thankyou-inner">
              <button class="close-btn" (click)="closeModal()"><img src="assets/images/close.png" /></button>
              <div class="thankyou-inner__top">
                <img class="thankyou-img" src="assets/images/thankyou.png" />
                <div class="thankyou-content">
                  <p>
                    Thank you for your response.
                    <span *ngIf="profileData?.visibility === 'public_consultation'">
                    You have scored {{points.toFixed(2)}} points for your response!
                    </span>
                  </p>
                  <p *ngIf="profileData?.responseSubmissionMessage ; else defaultContent"
                   [innerHTML]="profileData?.responseSubmissionMessage"></p>
                  <ng-template #defaultContent>
                    <p *ngIf="profileData?.visibility === 'public_consultation'; else privateContent" >
                      We appreciate you taking the time to submit your response. 
                      Please consider sharing this Consultation on Social Media to help spread the word. 
                      Together, we can make our voices heard and action real change!
                    </p>
                    <ng-template #privateContent>
                      <p>
                        We appreciate you taking the time to submit your response. 
                        You can browse through our other open Consultations to give your feedback.
                      </p>
                    </ng-template>
                  </ng-template>
                </div>
              </div> 
              <div class="thankyou-inner__bottom" *ngIf="profileData?.visibility === 'public_consultation'">
                <div class="social-list">
                  <a class="social-item" [href]="getSocialLink('whatsapp', currentUrl, profileData?.title)" target="_blank">
                    <img src="assets/images/whatsapp.svg" alt="whatsapp logo" />
                  </a>
                  <a class="social-item" [href]="getSocialLink('twitter', currentUrl, profileData?.title)" target="_blank">
                    <img src="assets/images/twitter.svg" alt="twitter logo" />
                  </a>
                  <a class="social-item" [href]="getSocialLink('facebook', currentUrl, profileData?.title)" target="_blank">
                    <img src="assets/images/facebook.svg" alt="facebook logo" />
                  </a>
                  <a class="social-item" [href]="getSocialLink('linkedin', currentUrl, profileData?.title)" target="_blank">
                    <img src="assets/images/linkedin.svg" alt="linkedin logo" />
                  </a>
                  <div class="social-item"
                  (click)="copyMessage(currentUrl)" 
                  [tooltip]="copyStatus ? 'Copied': 'Copy'">
                    <img src="assets/images/link.svg" alt="link logo" />
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
</div>