<div class="vote-section">
  <div *ngIf="currentUser" class="vote-count">
    <div
      class="vote-item"
      (click)="vote('up', response?.node)"
      aria-label="Upvote"
      role="button"
      tabindex="0"
      tooltip="{{ 'Upvote' }}"
      [ngClass]="
        response?.node?.votedAs?.voteDirection === 'up'
          ? 'vote-item-active'
          : ''
      "
    >
      <span><i class="fa fa-thumbs-up"></i></span>
      <span>
        {{ response.node?.upVoteCount ? response.node?.upVoteCount : '' }}
      </span>
    </div>
    <div
      class="vote-item"
      (click)="vote('down', response?.node)"
      tooltip="{{ 'Downvote' }}"
      role="button"
      tabindex="0"
      aria-label="Downvote"
      [ngClass]="
        response?.node?.votedAs?.voteDirection === 'down'
          ? 'vote-item-active'
          : ''
      "
    >
      <span><i class="fa fa-thumbs-down"></i></span>
      <span>
        {{ response.node?.downVoteCount ? response.node?.downVoteCount : '' }}
      </span>
    </div>
    <div
      tooltip="{{ 'Share' }}"
      class="share-block"
      role="button"
      tabindex="0"      
      aria-label="Share"
      #shareBlockElement
      (click)="toggleShareBlock(response?.node?.id)"
      *ngIf="profileData?.visibility === 'public_consultation'">
      <span class="fs-20">
        <i class="fa fa-share"></i>
      </span>
      <span *ngIf="response.node?.templatesCount">
        {{ response.node?.templatesCount ? response.node?.templatesCount : '' }}
      </span>      
      <div class="share-block__position">
        <div *ngIf="showShareBlock && responseId && responseId === response?.node?.id"
          class="share-pop-up" >
            <app-social-share-options [socialShareLinkMap]="generateShareURL(currentUrl, profileData?.title, response?.node?.id)"
            (closeShareOptions)="closeShareBlock($event)" ></app-social-share-options>          
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showCreateResponse() && activeRoundNumber === response?.node?.roundNumber" >
    <button
      class="app-btn response-btn"
      (click)="useThisResponse(response?.node)">
      {{ 'Use this response' | translate }}
    </button>
  </div>
</div>
