<div class="response-index"
  [ngStyle]="{'background-image': 'url(' + profile?.consultation?.ministry?.coverPhoto?.url + ')'}">
  <div class="response-profile">
    <section class="response-profile__sidebar-section">
      <div class="c-profile-card sticky">
        <div class="c-profile-card__top-section">
          <p class="light-text">{{'CONSULTATION BY'}}</p>
          <div class="ministry-detail">
            <img [src]="profile?.consultation?.ministry?.logo?.url" class="avatar avatar--42" alt=" " />
            <p class="ministry-text m-0">{{profile?.consultation?.ministry?.name}}</p>
          </div>
        </div>
        <div class="c-profile-card__middle-section">
          <p class="m-0 deadline">THE DEADLINE FOR THE CONSULTATION WAS
            {{profile?.consultation?.responseDeadline | date}}</p>
        </div>

        <div class="c-profile-card__bottom-section">
          <div class="d-flex justify-content-between mb-2">
            <p class="count-text m-0">TOTAL RESPONSES</p>
            <p class="count-text bold-text text-right m-0">{{profile?.consultation?.consultationResponsesCount}}</p>
          </div>
          <div class="d-flex justify-content-between mb-4">
            <p class="count-text m-0">TOTAL PUBLIC RESPONSES</p>
            <p class="count-text bold-text text-right m-0">
              {{ profile?.consultation?.sharedResponses?.totalCount }}
            </p>
          </div>
          <div>
            <p class="count-text m-0">DRAFT MADE PUBLIC ON {{convertDateFormat(profile?.consultation?.updatedAt)}}</p>
          </div>
        </div>
      </div>
    </section>
    <section class="response-profile__main-section">
      <div class="response-info">
        <div class="header">
          <p class="light-text">{{'SENDING IN YOUR RESPONSE TO'}}</p>
          <p class="card-title m-0">{{profile?.consultation?.title}}</p>
        </div>
        <div class="response-content">
          {{profile?.responseText}}
        </div>
      </div>
    </section>
  </div>
  <div class="footer">
    <div class="left-space">
      <div class="back-btn">
        <span><i class="fa fa-angle-left"></i></span>
      </div>
      <div class="draft-btn mx-4" [routerLink]="'/consultations/' + profile?.consultation?.id">
        <span><i class="fa fa-file"></i></span>
        <span class="mx-3">READ THE FULL DRAFT</span>
        <span><i class="fa fa-external-link"></i></span>
      </div>
    </div>
    <div class="right-space">
      <span class="mr-1"><i class="fa fa-check"></i></span>
      <span>You sent in your response on {{convertDateFormat(profile?.updatedAt)}}</span>
    </div>
  </div>
</div>
<div class="footer-margin">
  <app-footer></app-footer>
</div>

