<a href="javascript:void(0)" class="decoration-none" [routerLink]="['/consultations', consultation?.id]">
  <div class="consultation-card">
    <div class="consultation-card__card-image" appDefaultImage appLazyLoad [type]="'consultation-cover'" [ngStyle]="consultation?.ministry?.category?.coverPhoto?.url ? {'background-image': 'url(' + consultation?.ministry?.category?.coverPhoto?.url + ')'} : null"></div>
    <div class="consultation-card__details">
      <p class="title">{{ consultation?.title}}</p>
      <p class="sub-title">{{ consultation?.ministry?.name}}</p>
      <div class="cta-section">
        <div>
          <p class="days-remaining-text">{{getRemainigDays(consultation?.responseDeadline)}}</p>
          <p class="responses-text">
            {{consultation?.consultationResponsesCount ? consultation?.consultationResponsesCount : '--'}} 
            {{ consultation?.consultationResponsesCount <= 1 ? 'Response so far' : 'Responses so far' }} 
          </p>
        </div>
        <button class="app-btn secondary btn-respond">
          RESPOND 
          <span class="btn-right-arrow"><i class="fa fa-angle-right"></i></span>
        </button>
      </div>
    </div>  
  </div>
</a>

