<div class="consultation-card">
  <div role=”img” class="consultation-card__image" alt="Random image"></div>
  <div class="consultation-card__details">
    <p class="title">National Urban Policy Framework, 2018</p>
    <p class="sub-title">Ministry of Housing & Urban Affairs</p>
    <div class="cta-section">
      <div>
        <p class="days-remaining-text">12 Days Remaining</p>
        <p class="responses-text">6,712 Responses so far</p>
      </div>
      <button class="btn-arrow-right secondary">RESPOND</button>
    </div>
  </div>  
</div>
