<div class="footer-bg">
  <footer class="footer-wrapper">
    <div class="footer-wrapper__top-section">
      <div class="left-item">
        <ul class="item-list">
          <a [routerLink]="['/about-us']" class="text-decoration-none"> <li>{{'About Us' | translate}}</li></a>
          <a data-event="click-blog" href="https://medium.com/civis-vote" target="_blank" class="text-decoration-none">
            <li>{{'Blog' | translate}}</li>
          </a>
        </ul>
        <ul class="item-list">
          <a [routerLink]="['/terms']" class="text-decoration-none"><li>{{'Terms of Service' | translate}}</li></a>
          <a [routerLink]="['/privacy']" class="text-decoration-none"><li>{{'Privacy Policy' | translate}}</li></a>
          <a [routerLink]="['/content-policy']" class="text-decoration-none"><li>{{'Content Policy' | translate}}</li></a>
        </ul>
      </div>
      <div class="middle-item" tabindex="0">
        <p class="heading-text address-text text-center mb-1">Address:</p>
        <p class="body-content address-text text-center">Civic Innovation Foundation, Bootstart, Wakefield House, 2nd Floor, Ballard Estate, Fort, Mumbai, Maharashtra India - 400 001 </p>
        <p class="contact-text address-text text-center">+91-8976926914 | info@civis.vote</p>
      </div>
      <div class="right-item">
        <div class="social-icons">
          <a href="https://in.linkedin.com/company/civis-vote" aria-label="Links to Civis LinkedIn" target="_blank">
            <span ><i class="fa fa-linkedin-square"></i></span>
          </a>
          <a href="https://github.com/civis-vote" aria-label="Links to Civis Github" target="_blank">
            <span><i class="fa fa-github-square"></i></span>
          </a>
          <a href="https://www.facebook.com/Civis.Vote/" aria-label="Links to Civis Facebook" target="_blank">
            <span><i class="fa fa-facebook-square"></i></span>
          </a>
          <a href="https://twitter.com/civis_vote" aria-label="Links to Civis Twitter" target="_blank">
            <span><i class="fa fa-twitter-square"></i></span>
          </a>
          <div class="instagram-icon">
            <a href="https://www.instagram.com/civis.vote" aria-label="Links to Civis Instagram" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </div>
        <p class="help-text">{{'We’re here to help.' | translate}} <b><a href="mailto:info@civis.vote">{{'Get in touch' | translate}}</a></b></p>
      </div>
    </div>
    <div class="footer-wrapper__bottom-section">
      <div class="logo-container">
        <!-- <picture>
          <source srcset="assets/images/footerlogo2.webp" type="image/webp">
          <source srcset="assets/images/footerlogo2.jpg" type="image/jpeg">
          <img src="assets/images/footerlogo2.jpg" alt="footer logo" />
        </picture>
        <picture class="logo-2">
          <source srcset="assets/images/footerlogo-1.webp" type="image/webp">
          <source srcset="assets/images/footerlogo-1.jpg" type="image/jpeg">
          <img src="assets/images/footerlogo-1.jpg" alt="footer logo" />
        </picture> -->
        <div class="policy-text"  tabindex="0">
          {{'Civic Innovation Foundation 2021. Unless otherwise mentioned, all content is licensed under' | translate}}{{'a creative commons Attibution-No Derivates 4.0 International License' | translate}}
        </div>
      </div>
      <div class="logo-right">
        <div class="mr-2 language-box">
          <label for="languages" id="languages-label" class="visually-hidden">Language</label>
          <ng-select 
            id="languages"
            aria-labelledby="languages-label"
            [items]="languages" 
            bindLabel="name" 
            dropdownPosition="bottom"
            placeholder="Language"
            bindValue="id"
            [clearable]="false"
            [searchable]="false"
            (change)="setLanguage()"
            [(ngModel)]="selectedLanguage">
          </ng-select>
        </div>
            
        <a aria-label="Licence" href="https://creativecommons.org/licenses/by-nd/4.0/" target="_blank">
          <picture>
            <source srcset="assets/images/footerlogo3.webp" type="image/webp">
            <source srcset="assets/images/footerlogo3.jpg" type="image/jpeg">
            <img src="assets/images/footerlogo3.jpg" alt="" />
          </picture>
        </a>
      </div>
    </div>
  </footer>
</div>
