<div class="footer-bg">
  <footer class="footer-wrapper">
    <div class="footer-wrapper__top-section">
      <div class="left-item">
        <ul class="item-list">
          <li [routerLink]="['/about-us']">{{'About Us' | translate}}</li>
          <a href="https://medium.com/civis-vote" target="_blank" class="text-decoration-none">
            <li>{{'Blog' | translate}}</li>
          </a>
        </ul>
        <ul class="item-list">
          <li [routerLink]="['/terms']">{{'Terms of Service' | translate}}</li>
          <li [routerLink]="['/privacy']">{{'Privacy Policy' | translate}} </li>
          <li [routerLink]="['/content-policy']">{{'Content Policy' | translate}}</li>
        </ul>
      </div>
      <div class="right-item">
        <div class="social-icons">
          <a href="https://in.linkedin.com/company/civis-vote" target="_blank">
            <span><i class="fa fa-linkedin-square"></i></span>
          </a>
          <a href="https://github.com/civis-vote" target="_blank">
            <span><i class="fa fa-github-square"></i></span>
          </a>
          <a href="https://www.facebook.com/Civis.Vote/" target="_blank">
            <span><i class="fa fa-facebook-square"></i></span>
          </a>
          <a href="https://twitter.com/civis_vote" target="_blank">
            <span><i class="fa fa-twitter-square"></i></span>
          </a>
          <div class="instagram-icon" >
            <a href="https://www.instagram.com/civis.vote" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </div>
        <p class="help-text">{{'We’re here to help.' | translate}} <b><a href="mailto:info@civis.vote">{{'Get in touch' | translate}}</a></b></p>
      </div>
    </div>
    <div class="footer-wrapper__bottom-section">
      <div class="logo-container">
        <picture>
          <source srcset="assets/images/footerlogo2.webp" type="image/webp">
          <source srcset="assets/images/footerlogo2.jpg" type="image/jpeg">
          <img src="assets/images/footerlogo2.jpg" alt="footer logo" />
        </picture>
        <picture class="logo-2">
          <source srcset="assets/images/footerlogo-1.webp" type="image/webp">
          <source srcset="assets/images/footerlogo-1.jpg" type="image/jpeg">
          <img src="assets/images/footerlogo-1.jpg" alt="footer logo" />
        </picture>
        <div class="policy-text">
          {{'Civic Innovation Foundation 2019. Unless otherwise mentioned,
          all content is licensed under' | translate}} <br />&nbsp;{{'a creative commons Attibution-No Derivates 4.0 International License' | translate}}
        </div>
      </div>
      <div class="logo-right">
        <div class="mr-2 language-box">
          <ng-select 
          [items]="languages" bindLabel="name" dropdownPosition="bottom"
          bindValue="id"
          [clearable]="false"
          [searchable]="false"
          (change)="setLanguage()"
          [(ngModel)]="selectedLanguage">
          </ng-select>
        </div>
        <a href="https://creativecommons.org/licenses/by-nd/4.0/" target="_blank">
          <picture>
            <source srcset="assets/images/footerlogo3.webp" type="image/webp">
            <source srcset="assets/images/footerlogo3.jpg" type="image/jpeg">
            <img src="assets/images/footerlogo3.jpg" alt="footer logo" />
          </picture>
        </a>
      </div>
    </div>
  </footer>
</div>
