@import './src/assets/styles/app';

.footer-bg {
  width: 100%;
   background-color: $white;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.footer-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 51px 0;
  background-color: $white;

  &__top-section {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 991px) {
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    .left-item {
      display: flex;
      @media screen and (max-width: 991px) {
        justify-content: flex-start;
        width: 100%;
      }

      .item-list {
        list-style-type: none;
        padding: 0;
        &:nth-child(2) {
          margin-left: 10rem;
          @media screen and (max-width: 991px) {
           margin-left: 5rem;
          }
        }
        li {
          color: #757575;
          margin-bottom: 10px;
          transition: all .2s linear;
          cursor: pointer;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
    .middle-item {
      max-width: 300px;
      .address-text {
        font-size: 15px;
        color: #767676;
        line-height: 22.7px;
        font-weight: 400;
      }
    }

    .right-item {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media screen and (max-width: 991px) {
        align-items: flex-start;
        text-align: left;
      }
      .social-icons {
        display: flex;
        align-items: center;
        span {
          font-size: 38px;
          margin-right: 14px;
          opacity: .2;
          color: $black;
          transition: all .2s linear;
          @media screen and (max-width: 991px) {
            font-size: 28px;
          }
          &:hover {
            color: $primary-color;
            opacity: 1;
          }
        }
      }
      .help-text {
        font-size: 24px;
        color: $black;
        margin: 10px 0 0;
        @media screen and (max-width: 991px) {
          font-size: 20px;
          margin: 22px 0 0;
        }
        a {
          color: inherit;
          text-decoration: underline;
        }
      }

      .instagram-icon {
        width: 33px;
        height: 33px;
        border-radius: 6px;
        background-color: black;
        opacity: .2;
        margin-top: 2px;
        cursor: pointer;
    
        i {
          font-weight: bold;
          font-size: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          color: white;
          margin-top: 1px;
        }
    
        &:hover {
          background-color: $primary-color;
          opacity: 1;
        }  
      }
    }
  }

  &__bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 991px) {
      flex-wrap: wrap;
    }
    .logo-container {
      display: flex;
      align-items: center;
      @media screen and (max-width: 991px) {
        justify-content: flex-start;
        flex-wrap: wrap;
      }
      .logo-2 {
        margin-left: 30px;
        margin-top: 15px;
      }
      .policy-text {
        // margin-left: 53px;
        font-size: 12px;
        color: #767676;
        max-width: 315px;
        @media screen and (max-width: 991px) {
          margin: 15px 0;
        }
      }
    }
    .logo-right {
      display: flex;
      @media screen and (max-width: 991px) and (min-width: 450px) {
        width: 100%;
        text-align: left; 
      }
    }
    .language-box {
      z-index: 99;
    }
  }
}