<footer class="footer-wrapper">
  <div class="footer-wrapper__top-section">
    <div class="left-item">
      <ul class="item-list">
        <li>About Us</li>
        <li>Careers</li>
        <li>Blog</li>
      </ul>
      <ul class="item-list">
        <li>Terms of Service</li>
        <li>Privacy Policy </li>
        <li>Content Policy</li>
      </ul>
    </div>
    <div class="right-item">
      <div class="social-icons">
        <span><i class="fa fa-linkedin-square"></i></span>
        <span><i class="fa fa-github-square"></i></span>
        <span><i class="fa fa-facebook-square"></i></span>
        <span><i class="fa fa-twitter-square"></i></span>
      </div>
      <p class="help-text">We’re here to help. <b>Get in touch</b></p>
    </div>
  </div>
  <div class="footer-wrapper__bottom-section">
    <div class="logo-container d-flex align-items-center">
      <img src="../../../assets/images/footerlogo2.png" />
      <img class="logo-2" src="../../../assets/images/footerlogo-1.png" />
      <div class="policy-text">
        Civic Innovation Foundation 2019. Unless otherwise mentioned, 
        all content is licensed under <br /> a creative commons Attibution-No Derivates 4.0 International License
      </div>
    </div>
    <div>
      <img src="../../../assets/images/footerlogo3.png" />
    </div>
  </div>
</footer>
