.response-index {
    min-height: 386px;
    height: 386px;
    background: #ffffff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    position: relative;

    &__nav {
      height: 60px;
      background: #f2f2f2;
      border-radius: 5px 5px 0 0;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .heading {
        font-weight: bold;
        font-size: 18px;
        line-height: 106.6%;
        color: #525252;
      }

      .link {
        font-size: 14px;
        line-height: 106.6%;
        text-decoration-line: underline;
        color: #0e73b9;
        border: none;
        cursor: pointer;
      }

      .info-mark {
        font-size: 40px;
        cursor: pointer;
        color: rgba(196, 196, 196, 0.5);
      }
    }

    &__content {
      padding: 5px 30px;
      height: calc(100% - 115px);

      ckeditor {
        .cke {
          height: 100% !important;
          border: none !important;
          .cke_inner {
            height: 100% !important;
            .cke_top {
              display: none;
            }
            .cke_contents {
              height: 100% !important;
            }
          }
        }
      }
    }

    &__footer {
      position: absolute;
      bottom: 0;
      width: 100%;

      .draggable-area {
        height: 20px;
        background: #e3e3e3;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .drag-bars {
          width: 30px;
          border: 2px solid #ffffff;

          &:nth-child(1) {
            margin-bottom: 2px;
          }
        }
      }
    }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.auto-save-text{
  border: none;
}