<div 
  bsModal #leaderModal="bs-modal" class="modal fade leader-modal" tabindex="-1"
  [config]="{show: true}"
  (onHidden)="closeModal()"
  role="dialog" aria-labelledby="leaderModal"
>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <div class="leader-profile">
          <img 
          appDefaultImage [type]="'user'"
          [src]="user?.profilePicture?.url" 
          class="avatar avatar--80"
          />
          <p class="profile-name">{{user?.firstName}}</p>
        </div>
        <div class="modal-close-btn" (click)="closeModal()"><i class="fa fa-times"></i></div>
      </div>

      <div class="modal-body">
        <div class="leader-detail-grid">
          <div class="detail-item">
            <p i18n>TOTAL POINTS</p>
            <p>{{user?.points}}</p>
          </div>
          <div class="detail-item">
            <p i18n>RANK IN CITY</p>
            <p *ngIf="user?.cityRank">{{user?.cityRank}}</p>
            <p *ngIf="!user?.cityRank" i18n>N/A</p>
          </div>
          <div class="detail-item">
            <p i18n>RANK IN STATE</p>
            <p *ngIf="user?.stateRank">{{user?.stateRank}}</p>
            <p *ngIf="!user?.stateRank" i18n>N/A</p>
          </div>
          <div class="detail-item">
            <p i18n>BEST SO FAR</p>
            <p>#{{user?.rank}} <span i18n>in All India</span></p>
          </div>
        </div>

        <div class="participated-section">
          <p class="paticipant-title" i18n>Consultations participated in</p>
          <div class="participation-list-container">
            <div *ngFor="let item of user?.sharedResponses?.edges">
              <div class="paticipant-list">
                <img [src]="item?.node?.consultation?.ministry?.logo?.url"  class="avatar avatar--42" />
                <div class="list-detail">
                  <p>{{item?.node?.consultation?.title}}</p>
                  <p>{{item?.node?.consultation?.ministry?.name}}</p>
                  <div class="response-cta">
                    <button class="btn btn-transparent action-btn" (click)="viewResponse(item?.node)">
                      <span i18n>
                        View my response
                      </span>
                      <span><i class="fa fa-angle-right"></i></span>
                    </button>
                  </div>
                </div>
              </div>
              <hr  class="paticipant-divider" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>