<div tabindex="0" role="list" aria-label="Social sharing options" class="social-share-options">
        <a aria-label="Share on Facebook" class="share-btn"
            target="_blank"
            href="{{getSocialURL('facebook')}}">
            <span>
                <i class="fa fa-facebook"></i>
            </span>              
        </a>
        <a aria-label="Share on Twitter" class="share-btn"
            target="_blank"
            href="{{getSocialURL('twitter')}}">
            <span>
                <i class="fa fa-twitter"></i>
            </span>              
        </a>
        <a aria-label="Share on WhatsApp" class="share-btn"
            target="_blank"
            href="{{getSocialURL('whatsapp')}}">
            <span>
                <i class="fa fa-whatsapp"></i>
            </span>              
        </a>
        <a aria-label="Share on LinkedIn" class="share-btn"
            target="_blank"
            href="{{getSocialURL('linkedin')}}">
            <span>
                <i class="fa fa-linkedin"></i>
            </span>              
        </a>
</div>
  