@import "./src/assets/styles/app";

.share-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3125em;
    border: none;
    border-radius: 5px;
    width: 50px !important;
    height: 35px;

    &:visited {
      color: transparent;
    }
    &:hover {
      color: transparent;
    }
    &:active {
      color: transparent;
    }

    i {
      color: $white;
      font-size: 18px;
    }

    &:nth-child(1) {
      background-color: #4267b2
    }
    &:nth-child(2) {
      background-color: #00acee;
    }
    &:nth-child(3) {
      background-color: #25D366;
    }
    &:nth-child(4) {
      background-color: #0e76a8;
    }
}
