<app-popup-list [list_label]="'Social sharing options'" 
    [childQueryCls]="'share-btn'"
    (close_list_popup)="closeOptions($event)">
    <a aria-label="Share on Facebook" class="share-btn"
        target="_blank"
        href="{{socialShareLinkMap.facebook}}">
        <span>
            <i class="fa fa-facebook"></i>
        </span>              
    </a>
    <a aria-label="Share on Twitter" class="share-btn"
        target="_blank"
        href="{{socialShareLinkMap.twitter}}">
        <span>
            <i class="fa fa-twitter"></i>
        </span>              
    </a>
    <a aria-label="Share on WhatsApp" class="share-btn"
        target="_blank"
        href="{{socialShareLinkMap.whatsapp}}">
        <span>
            <i class="fa fa-whatsapp"></i>
        </span>              
    </a>
    <a aria-label="Share on LinkedIn" class="share-btn"
        target="_blank"
        href="{{socialShareLinkMap.linkedin}}">
        <span>
            <i class="fa fa-linkedin"></i>
        </span>              
    </a>
</app-popup-list>