@import "~src/assets/styles/helpers/variables";

.response-alert {
  display: none;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 400px;
  color: white;
  padding: 8px 25px;
  z-index: 9999999;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .16);
}

  .show {
    display: block !important;
  }

  .success {
    background-color: #28a745!important;
  }

  .error {
    background-color: #dc3545!important;
  }

