@import './variables';

@mixin display-text($color: $black, $weight: normal) {
  font-size: 38px;
  line-height: 46px;
  color: $color;
  font-weight: $weight;
}

@mixin general-text($font-size: 18px, $color: $black, $weight: normal) {
  font-size: $font-size;
  color: $color;
  font-weight: $weight;
}
@mixin regular-text($color: $black, $weight: normal) {
  font-size: 14px;
  color: $color;
  font-weight: $weight;
}

@mixin small-tex($color: $black, $weight: normal) {
  font-size: 12px;
  color: $color;
  font-weight: $weight;
}

@mixin  error-text($font-size: 14px, $weight: normal) {
  color: $error-color;
  font-size: $font-size;
  font-weight: $weight;
}
