// Colors

$primary-color: #0E73B9;
$secondary-color: #F0653A;
$cta-dark-color: #1894EA;
$cta-light-color: rgba(24, 148, 234, .1);
$error-color: #DD2828;
$blue-bg-light: #E5F4FF;
$yellow: #FFCC15;
$white: #FFFFFF;


//Font Colors

$black: #151515;
$light-blue: #6DB4E4;
$placeholder-color: #D5D5D5;
$dark-gray: #909090;
$light-gray: #BCBCBC;
$disabled:  #D0D0D0;

// Border

$input-border: #AEAEAE;
$divider-border: #DFDFDF;
$radius-3: 3px;