@import "./src/assets/styles/app";

.summary-index {
  margin-top: 77px;
  background: #e5f4ff;
  min-height: 100vh;
  @media screen and (max-width: 991px) {
    margin-top: 57px;
  }

  .consultation-profile {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-column-gap: 20px;
    width: 80%;
    margin: 77px auto;
    padding: 25px 0;

    @media screen and (max-width: 991px) {
      margin-top: 57px;
      grid-template-columns: auto;
      grid-column-gap: 0;
      width: 100%;
    }

    &__main-section {
      .paper-effect {
        position: relative;
        padding: 28px 32px;
        background-color: $white;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.13);
        border-radius: 5px;
        z-index: 1;
        @media screen and (max-width: 991px) {
          padding: 20px 15px;
          border-radius: 0;
          box-shadow: none;
        }
      }

      .heading {
        @include general-text($font-size: 16px, $weight: bold);
      }

      .inner-space {
        padding: 28px 32px 10px !important;
        @media screen and (max-width: 991px) {
          padding: 20px 15px 0;
        }
      }

      #highchartContainer {
        .highcharts-root {
          text-transform: capitalize;
          .highcharts-xaxis-labels {
            text {
              font-size: 14px !important;
              color: #151515 !important;
              fill: #151515 !important;
            }
          }
        }
      }

      .summary-content {
        @include general-text;
        @media screen {
          font-size: 14px;
        }
      }

      .what-resp-text {
        font-size: 13px;
        color: #939393;
        text-decoration: underline;
        cursor: default;
      }

      .response-container {
        padding: 25px 0;
        border-bottom: 1px solid $divider-border;
        &:last-child {
          border-bottom: none;
        }
        .vote-section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .vote-count {
            display: flex;
            align-items: center;
            color: #a6a6a6;

            span:nth-child(odd) {
              font-size: 24px;
              margin-right: 5px;
              cursor: pointer;
            }

            span:nth-child(even) {
              font-size: 14px;
            }

            .active {
              color: $primary-color !important;

              &__btn {
                border: 1px solid $primary-color;
                border-radius: 50%;
                padding: 5px 10px;
              }
            }
          }
        }
        .text-16 {
          @media screen and (max-width: 991px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.response-block {
  .answers {
    .answer {
      margin: 0 24px;
      padding: 24px 0;
      border-bottom: 1px solid rgba(213, 219, 226, 0.5);

      .question-text {
        font-size: 14px;
        color: #878787;
        &__number {
          width: 15px;
          margin-right: 5px;
        }
      }

      .answer-text {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.06em;
        color: #151515;
        margin: 16px 20px 0;
      }

      .question-answer {
        background: #F2F2F2;
        border-radius: 4px;
        padding: 4px;
      }
    }
    &:last-child {
      .answer {
        border-bottom: none;
      }
    }
  }
}
