<div class="summary-index">
  <div class="consultation-profile">
      <section class="consultation-profile__sidebar-section">
        <app-profile-card [profile]='profileData' [summaryData]="summaryData"></app-profile-card>
      </section>
      <section class="consultation-profile__main-section">

        <div *ngIf="publicResponses?.length">
          <div class="d-flex justify-content-between align-items-center">
            <p class="text-18 text-16-sm m-0 bold-text">Public responses</p>
            <p 
              class="what-resp-text" 
              tooltip="If you feel passionately about this Consultation, you can make your response public, 
              for others to use as a template. Your first name is shared with the Government if you make your response public.
              If you’re not sure what to write, you can choose other people’s responses to send as your own." 
              placement="left"
              container="body"
            >
              What are public responses?
          </p>
          </div>

          <div class="paper-effect my-4 m-0-sm ">
            <ng-container *ngFor="let response of publicResponses">
              <div class="response-container">
                <div class="d-inline-flex align-items-center">
                    <img class="avatar avatar--42" 
                    appDefaultImage [type]="'user'"
                    (click)="openUserProfile(response?.node?.user)"
                    [src]="'null'" />
                  <p class="regular-text bold-text m-0 ml-2">{{response?.node?.user?.firstName}}</p>
                </div>
                <p class="text-16" [innerHTML]="response.node?.responseText"></p>
                <div class="vote-section">
                  <div class="vote-count">
                    <div>
                        <span><i class="fa fa-thumbs-up"></i></span>
                        <span>{{response.node?.upVoteCount ? response.node?.upVoteCount : '' }}</span>
                    </div>
                    <div>
                        <span class="ml-4"><i class="fa fa-thumbs-down"></i></span>
                        <span>{{ response.node?.downVoteCount ? response.node?.downVoteCount : ''}}</span>
                    </div>
                    <div>
                        <span class="ml-4 mr-2"><i class="fa fa-refresh"></i></span>
                        <span>{{response.node?.templatesCount ? response.node?.templatesCount : ''}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>  
        </div>

        <div *ngIf="annonymousResponses?.length">
          <div>
              <p class="text-18 text-16-sm m-0 bold-text">Other responses</p>
          </div>
          
          <div class="paper-effect my-4 m-0-sm" *ngFor="let response of annonymousResponses">
            <ng-container>
              <div class="response-container">
                <div class="d-inline-flex align-items-center">
                  <div>
                    <img class="avatar avatar--42" 
                    appDefaultImage [type]="'user'"
                    [src]="'null'" />
                  </div>
                  <p class="regular-text bold-text m-0 ml-2">
                    {{'Citizen Leader [Name undisclosed]'}}
                  </p>
                </div>
                <p class="text-16" [innerHTML]="response.node?.responseText"></p>
              </div>
            </ng-container>
          </div>  
        </div>
      </section>
  </div>
</div>
<div *ngIf="selectedUser && showLeaderProfileModal">
  <app-user-profile-modal (close)="closeModal($event)" [userId]="selectedUser"></app-user-profile-modal>
</div>
<app-footer></app-footer>