<div class="feedback-index">
    <div bsModal #feedbackModal="bs-modal" class="modal fade" tabindex="-1" [ngClass]="showFeedbackModal ? 'align-center' : ''"
      [config]="{show: true, backdrop: 'static', ignoreBackdropClick: true, keyboard: false}" role="dialog"
      aria-labelledby="feedbackModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="heading" *ngIf="!responseSubmitted">{{'How satisfied are you with this draft?' | translate}}</p>
            <p class="heading" *ngIf="responseSubmitted">
              {{'Here’re the overall satisfation levels for this draft from people' | translate}}</p>
          </div>
          <div class="modal-body">
            <label class="radio-block">
              <div class="radio-btn">
                <div class="radio-text" [class.active-text]="responseSubmitted && responseFeedback === 'dissatisfied'">
                  {{'Dissatisfied' | translate}}</div>
                <div class="mx-2 count-text" *ngIf="responseFeedback && responseSubmitted">{{satisfactionRatingDistribution?.dissatisfied ?
                    satisfactionRatingDistribution?.dissatisfied : 0}}</div>
                <div *ngIf="responseFeedback" class="progress-color"
                  [class.active-progress]="responseSubmitted && responseFeedback === 'dissatisfied'"
                  [ngStyle]="{'width': satisfactionRatingDistribution?.dissatisfied ? getPercentageValue(satisfactionRatingDistribution, 'dissatisfied') + '%' : '0%' }">
                </div>
              </div>
              <div class="input-space">
                <input type="radio" class="cm-radio ml-3" name="feedback" value="dissatisfied"
                  [(ngModel)]="responseFeedback" (ngModelChange)="choose($event)"
                  [disabled]="(responseSubmitted && responseFeedback && responseFeedback !== 'dissatisfied')">
              </div>
            </label>
            <label class="radio-block">
              <div class="radio-btn">
                <div class="radio-text"
                  [class.active-text]="responseSubmitted && responseFeedback === 'somewhat_dissatisfied'">
                  {{'Somewhat Dissatisfied' | translate}}</div>
                <div class="mx-2 count-text" *ngIf="responseFeedback && responseSubmitted">{{satisfactionRatingDistribution?.somewhat_dissatisfied
                    ? satisfactionRatingDistribution?.somewhat_dissatisfied : 0}}</div>
                <div *ngIf="responseFeedback" class="progress-color"
                  [class.active-progress]="responseSubmitted && responseFeedback === 'somewhat_dissatisfied'"
                  [ngStyle]="{'width': satisfactionRatingDistribution?.somewhat_dissatisfied ? getPercentageValue(satisfactionRatingDistribution, 'somewhat_dissatisfied') + '%' : '0%' }">
                </div>
              </div>
              <div class="input-space">
                <input type="radio" class="cm-radio ml-3" name="feedback" value="somewhat_dissatisfied"
                  [(ngModel)]="responseFeedback" (ngModelChange)="choose($event)"
                  [disabled]="(responseSubmitted && responseFeedback && responseFeedback !== 'somewhat_dissatisfied')">
              </div>
            </label>
            <label class="radio-block">
              <div class="radio-btn">
                <div class="radio-text"
                  [class.active-text]="responseSubmitted && responseFeedback === 'somewhat_satisfied'">
                  {{'Somewhat Satisfied' | translate}}</div>
                <div class="mx-2 count-text" *ngIf="responseFeedback && responseSubmitted">{{satisfactionRatingDistribution?.somewhat_satisfied
                    ? satisfactionRatingDistribution?.somewhat_satisfied : 0}}</div>
                <div *ngIf="responseFeedback" class="progress-color"
                  [class.active-progress]="responseSubmitted && responseFeedback === 'somewhat_satisfied'"
                  [ngStyle]="{'width': satisfactionRatingDistribution?.somewhat_satisfied ? getPercentageValue(satisfactionRatingDistribution, 'somewhat_satisfied') + '%' : '0%' }">
                </div>
              </div>
              <div class="input-space">
                <input type="radio" class="cm-radio ml-3" name="feedback" value="somewhat_satisfied"
                  [(ngModel)]="responseFeedback" (ngModelChange)="choose($event)"
                  [disabled]="(responseSubmitted && responseFeedback && responseFeedback !== 'somewhat_satisfied')">
              </div>
            </label>
            <label class="radio-block">
              <div class="radio-btn">
                <div class="radio-text" [class.active-text]="responseSubmitted && responseFeedback === 'satisfied'">
                  {{'Satisfied' | translate}}</div>
                <div class="mx-2 count-text" *ngIf="responseFeedback && responseSubmitted">{{satisfactionRatingDistribution?.satisfied ?
                    satisfactionRatingDistribution?.satisfied : 0}}</div>
                <div *ngIf="responseFeedback" class="progress-color"
                  [class.active-progress]="responseSubmitted && responseFeedback === 'satisfied'"
                  [ngStyle]="{'width': satisfactionRatingDistribution?.satisfied ? getPercentageValue(satisfactionRatingDistribution, 'satisfied') + '%' : '0%' }">
                </div>
              </div>
              <div class="input-space">
                <input type="radio" class="cm-radio ml-3" name="feedback" value="satisfied" [(ngModel)]="responseFeedback"
                  (ngModelChange)="choose($event)"
                  [disabled]="(responseSubmitted && responseFeedback && responseFeedback !== 'satisfied')">
              </div>
            </label>
            <div class="footer-space" [ngClass]="responseSubmitted ? 'justify-content-between' : 'justify-content-end'">
              <div class="footer-space__left" *ngIf="responseSubmitted">
                <div class="points-text">{{'You get ' + earnedPoints + ' points for submitting this!'}}</div>
                <div class="link">{{'View Leaderboard' | translate}}</div>
              </div>
              <div class="footer-space__right">
                <button class="app-btn secondary mt-xs" *ngIf="responseSubmitted" (click)="closeModal()">
                  <p class="m-0">
                    <span class="submit-logo">
                      <picture class="citizen-logo">
                        <source srcset="assets/images/Vector.webp" type="image/webp">
                        <source srcset="assets/images/Vector.jpg" type="image/jpeg">
                        <img src="assets/images/Vector.jpg" />
                      </picture>
                    </span>
                    {{'Ok Great' | translate}}
                  </p>
                  <i class="fa fa-angle-right"></i>
                </button>
                <span class="mr-2" *ngIf="responseSubmitLoading">
                  <img src="assets/images/loading.svg">
                </span>
                <button class="app-btn secondary" *ngIf="!responseSubmitted" (click)="createResponse()">
                  <p class="m-0">
                    <span class="submit-logo">
                      <picture class="citizen-logo">
                        <source srcset="assets/images/Vector.webp" type="image/webp">
                        <source srcset="assets/images/Vector.jpg" type="image/jpeg">
                        <img src="assets/images/Vector.jpg" />
                      </picture>
                    </span>
                    {{'Select and submit' | translate}}
                  </p>
                  <i class="fa fa-angle-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>