.feedback-index {
    .align-center {
      display: flex !important;
      align-items: center;
    }
  
    .modal {
      background: rgba(14, 115, 185, 0.6);
      height: 100vh;
  
      .modal-dialog {
        width: 50%;
        max-width: 50% !important;
        @media screen and (max-width: 991px) {
          width: 100%;
          max-width: unset !important;
          margin: 0;
        }
  
        .modal-content {
          .modal-header {
            .heading {
              font-weight: 500;
              font-size: 21px;
              line-height: 124.7%;
              letter-spacing: 0.02em;
              color: #525252;
              margin-bottom: 0;
            }
          }
          .modal-body {
            padding: 15px 30px;
  
            .radio-block {
              width: 100%;
              display: flex;
              align-items: center;
  
              .radio-btn {
                position: relative;
                width: 95%;
                display: flex;
                background: #f7f7f7;
                padding: 10px;
                justify-content: space-between;
  
                .radio-text,
                .count-text {
                  z-index: 2;
                }
  
                .active-text {
                  font-weight: bold;
                }
  
                .progress-color {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  background-color: #e3f1fc;
                  z-index: 1;
                }
  
                .active-progress {
                  background-color: #7ec6ff;
                }
              }
            }
  
            .footer-space {
              margin-top: 50px;
              display: flex;
              justify-content: space-between;
              @media screen and (max-width: 991px) {
                flex-wrap: wrap;
                justify-content: flex-start !important;
              }
  
              &__left {
                .points-text {
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 124.7%;
                  letter-spacing: 0.02em;
                  color: #525252;
                  margin-bottom: 5px;
                }
                .link {
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 106.6%;
                  /* or 15px */
  
                  letter-spacing: 0.08em;
                  text-decoration-line: underline;
                  cursor: pointer;
                  color: #0e73b9;
                }
              }
  
              &__right {
                @media screen and (max-width: 991px) {
                  width: 100%;
                }
                button {
                  display: flex;
                  justify-content: space-between;
                  width: 282px;
                  padding: 10px 15px;
                  border: none;
                  @media screen and (max-width: 991px) {
                    width: 100%;
                  }
                  i {
                    font-size: 18px;
                    line-height: 22px;
                  }
                }
                .mt-xs {
                  @media screen and (max-width: 991px) {
                    margin-top: 15px;
                  }
                }
                .submit-logo {
                  margin-right: 5px;
                  vertical-align: text-bottom;
                }
              }
            }
          }
        }
      }
    }
}