<div
  bsModal
  #authModal="bs-modal"
  class="modal fade logout-confirm-modal"
  tabindex="-1"
  [config]="{
    show: true,
    backdrop: false,
    ignoreBackdropClick: true,
    keyboard: false
  }"
  role="dialog"
  aria-labelledby="authModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close-btn" (click)="onClose()" [attr.aria-label]="'Close the modal' | translate" >          
          <img src="assets/images/close.png" alt="" aria-hidden="true"/>
        </button>
        <div class="auth-modal">
          <img class="modal-img mb-3" src="assets/images/signup-modal.png" alt="" aria-hidden="true"/>
          <!-- TODO: Can heading be improved to say something more meaningful and related to authentication -->
          <p id="modal-heading" class="heading-text mb-2">Just one more step!</p>
          <p id="modal-description" class="sub-heading-text mb-4 text-center">
            {{ 'Your response will be submitted as soon as you create an account for verification' | translate }}
          </p>
          <div class="d-flex">
            <button tabindex="0" class="login-btn mr-3" (click)="redirectTo('google')" aria-labelledby="google-auth-text">
              <img class="icon-img" src="assets/images/auth-google.png" alt="" aria-hidden="true" />
              <p *ngIf="!signin" id="google-auth-text" class="login-btn-text">{{ 'Sign up with Google' | translate }}</p>
              <p *ngIf="signin" id="google-auth-text" class="login-btn-text">{{ 'Sign in with Google' | translate }}</p>  
            </button>
            <button tabindex="0" class="login-btn" (click)="redirectTo('facebook')" aria-labelledby="facebook-auth-text">
              <img class="icon-img" src="assets/images/auth-fb.png" alt="" aria-hidden="true" />
              <p *ngIf="!signin" id="facebook-auth-text" class="login-btn-text">{{ 'Sign up with Facebook' | translate }}</p>
              <p *ngIf="signin" id="facebook-auth-text" class="login-btn-text">{{ 'Sign in with Facebook' | translate }}</p>    
            </button>
          </div>
          <button
            tabindex="0"
            class="login-btn login-btn-email"
            *ngIf="!signup && !signin"
            aria-labelledby="signup-btn-text"
            (click)="signup = true"
          >
            <img class="icon-img" src="assets/images/auth-email.png" alt="" aria-hidden="true" />
            <p id="signup-btn-text" class="login-btn-text">{{ 'Sign up with Email' | translate }}</p>
          </button>
          <p class="signup-text" *ngIf="signup">{{ 'Sign up with Email' | translate }}</p>

          <app-signup-form class="width__100" [showCityInputOption]="true" *ngIf="signup" (onSubmit)="submitSignupForm($event)"></app-signup-form>

          <div class="hline" *ngIf="signin"><span>Or</span></div>
          
          <app-login-form class="width__100" *ngIf="signin" (onSubmit)="submitLoginForm($event)"></app-login-form>

          <div class="app-hr"></div>
          <div 
            role="button" 
            tabindex="0"
            (click)="switchAuthOption()" 
            class="d-flex" aria-labelledby="auth-switch-label">
            <p class="normal-text mb-2">
              {{
                signin
                  ? "Don'\t have an existing account?"
                  : 'Already have an account?'| translate
              }}
              <span 
                class="normal-text normal-text-link mb-2"
                *ngIf="(!signin && signup) || (!signup && !signin)">{{ 'Sign in' | translate }}</span>
              <span 
                class="normal-text normal-text-link mb-2"
                *ngIf="signin">{{ 'Sign Up' | translate }}</span>
            </p>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
