@import "./src/assets/styles/app";

.read-response-container {
  .paper-effect {
    position: relative;
    padding: 28px 32px;
    background-color: $white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    z-index: 1;
    @media screen and (max-width: 991px) {
      padding: 20px 15px;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .heading {
    @include general-text($font-size: 16px, $weight: bold);
  }

  .summary-content {
    @include general-text;
    @media screen {
      font-size: 14px;
    }
  }

  .what-resp-text {
    font-size: 13px;
    color: #939393;
    text-decoration: underline;
    cursor: default;
  }

  .response-container {
    padding: 25px 0;
    border-bottom: 1px solid $divider-border;
    &:last-child {
      border-bottom: none;
    }
    .vote-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .vote-count {
        display: flex;
        align-items: center;
        color: #a6a6a6;

        span:nth-child(odd) {
          font-size: 24px;
          margin-right: 5px;
          cursor: pointer;
        }

        span:nth-child(even) {
          font-size: 14px;
        }

        .active {
          color: $primary-color !important;

          &__btn {
            border: 1px solid $primary-color;
            border-radius: 50%;
            padding: 5px 10px;
          }
        }
        .fs-20 {
          font-size: 20px !important;
        }
        .share-block {
          position: relative;

          &__position {
            position: absolute;
            bottom: 35px;
            .share-pop-up {
              width: 250px;
              display: flex;
              justify-content: center;
              margin-bottom: 10px;
              margin-left: -35%;
              background: white;
              padding: 10px;
              box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.13);
              border-radius: 5px;
              position: relative;

              &:after {
                content: "";
                position: absolute;
                bottom: -10px;
                margin: 0 auto;
                width: 0;
                height: 0;
                border-top: 10px solid white;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
              }
              .tweet-block {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0.3125em;
                border: none;
                border-radius: 5px;
                background-color: #00acee;
                min-width: 3.8em;

                &:visited {
                  color: transparent;
                }
                &:hover {
                  color: transparent;
                }
                &:active {
                  color: transparent;
                }

                i {
                  color: $white;
                  font-size: 18px;
                }
              }
            }
          }
        }
      }

      .response-btn {
        padding: 5px 10px;
        color: $primary-color;
        background-color: transparent;
        border-radius: 3px;
        border: 1px solid #1894ea;
      }
    }
    .text-16 {
      @media screen and (max-width: 991px) {
        font-size: 14px;
      }
    }
  }

  .response-index {
    min-height: 386px;
    height: 386px;
    background: #ffffff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    position: relative;

    &__nav {
      height: 60px;
      background: #f2f2f2;
      border-radius: 5px 5px 0 0;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .heading {
        font-weight: bold;
        font-size: 18px;
        line-height: 106.6%;
        color: #525252;
      }

      .link {
        font-size: 14px;
        line-height: 106.6%;
        text-decoration-line: underline;
        color: #0e73b9;
        cursor: pointer;
      }

      .info-mark {
        font-size: 40px;
        color: rgba(196, 196, 196, 0.5);
      }
    }

    &__content {
      padding: 5px 30px;
      height: calc(100% - 115px);

      ckeditor {
        .cke {
          height: 100% !important;
          border: none !important;
          .cke_inner {
            height: 100% !important;
            .cke_top {
              display: none;
            }
            .cke_contents {
              height: 100% !important;
            }
          }
        }
      }
    }

    &__footer {
      position: absolute;
      bottom: 0;
      width: 100%;

      .checkbox-area {
        min-height: 40px;
        background: #f8f8f8;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;

        label {
          font-size: 14px;
          line-height: 124.7%;
          letter-spacing: 0.02em;
          color: #5a5a5a;
        }

        .link {
          margin-left: 5px;
          font-size: 12px;
          line-height: 124.7%;
          letter-spacing: 0.02em;
          text-decoration-line: underline;
          color: #939393;
          cursor: pointer;
        }

        .auto-save-text {
          font-size: 14px;
          color: $primary-color;
          margin: 0;
          @media screen and (max-width: 991px) {
            width: 100%;
            margin: 15px 0;
          }
        }
      }

      .draggable-area {
        height: 20px;
        background: #e3e3e3;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .drag-bars {
          width: 30px;
          border: 2px solid #ffffff;

          &:nth-child(1) {
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}

.email-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.035em;
  color: #929292;
}

.draft-box {
  .draft-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #2D2D2D;
    margin-bottom: 16px;
  }
  .draft-img {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
  }
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: $white;
  font-weight: 600;
  padding: 10px 15px;
  margin: 0 auto;
  background-color: #CACACA;
  border: none;
  border-radius: 4px;
  i {
    font-size: 18px;
    line-height: 22px;
  }
  span {
    margin-right: 5px;
    vertical-align: text-bottom;
  }
}

.active {
  background-color: #F0653A;
}

.question-box {
  .heading {
    padding: 21px;
    background-color: #f2f2f2;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #525252;
    border-radius: 5px;
  }
  .questions-container {
    .question {
      margin: 0 24px;
      padding: 24px 0;
      border-bottom: 1px solid #D5DBE2;
    }
    .question-text {
      margin-bottom: 20px;
      font-size: 16px;
      &__number {
        width: 15px;
        margin-right: 5px;
      }
    }
    .answer {
      padding: 0 20px;

      &__tips {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.06em;
        color: rgba(21, 21, 21, 0.5);
      }

      .option-box { 
        background: #F2F2F2;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 8px;

        label {
          margin-bottom: 0;
          span {
            margin-left: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.06em;
            color: #151515;
          }
          input.cm-radio[type='radio'] {
            width: 18px;
            height: 18px;
          }
        }
      }

      .text-area {
        textarea {
          width: 100%;
          height: 110px;
          border: 1px solid #AEAEAE;
        }
      }
    }
  }
}

.response-block {
  margin-top: 28px;
  .answers {
    .answer {
      margin: 0 24px;
      padding: 24px 0;
      border-bottom: 1px solid rgba(213, 219, 226, 0.5);

      .question-text {
        font-size: 14px;
        color: #878787;
        &__number {
          width: 15px;
          margin-right: 5px;
        }
      }

      .answer-text {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.06em;
        color: #151515;
        margin: 16px 20px 0;
      }

      .question-answer {
        background: #F2F2F2;
        border-radius: 4px;
        padding: 4px;
      }
    }
  }
}
.feedback-index {
  .align-center {
    display: flex !important;
    align-items: center;
  }

  .modal {
    background: rgba(14, 115, 185, 0.6);
    height: 100vh;

    .modal-dialog {
      width: 50%;
      max-width: 50% !important;
      @media screen and (max-width: 991px) {
        width: 100%;
        max-width: unset !important;
        margin: 0;
      }

      .modal-content {
        .modal-header {
          .heading {
            font-weight: 500;
            font-size: 21px;
            line-height: 124.7%;
            letter-spacing: 0.02em;
            color: #525252;
            margin-bottom: 0;
          }
        }
        .modal-body {
          padding: 15px 30px;

          .radio-block {
            width: 100%;
            display: flex;
            align-items: center;

            .radio-btn {
              position: relative;
              width: 95%;
              display: flex;
              background: #f7f7f7;
              padding: 10px;
              justify-content: space-between;

              .radio-text,
              .count-text {
                z-index: 2;
              }

              .active-text {
                font-weight: bold;
              }

              .progress-color {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                background-color: #e3f1fc;
                z-index: 1;
              }

              .active-progress {
                background-color: #7ec6ff;
              }
            }
          }

          .footer-space {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 991px) {
              flex-wrap: wrap;
              justify-content: flex-start !important;
            }

            &__left {
              .points-text {
                font-weight: 600;
                font-size: 18px;
                line-height: 124.7%;
                letter-spacing: 0.02em;
                color: #525252;
                margin-bottom: 5px;
              }
              .link {
                font-weight: normal;
                font-size: 14px;
                line-height: 106.6%;
                /* or 15px */

                letter-spacing: 0.08em;
                text-decoration-line: underline;
                cursor: pointer;
                color: #0e73b9;
              }
            }

            &__right {
              @media screen and (max-width: 991px) {
                width: 100%;
              }
              button {
                display: flex;
                justify-content: space-between;
                width: 282px;
                padding: 10px 15px;
                border: none;
                @media screen and (max-width: 991px) {
                  width: 100%;
                }
                i {
                  font-size: 18px;
                  line-height: 22px;
                }
              }
              .mt-xs {
                @media screen and (max-width: 991px) {
                  margin-top: 15px;
                }
              }
              .submit-logo {
                margin-right: 5px;
                vertical-align: text-bottom;
              }
            }
          }
        }
      }
    }
  }
}
