@import "./src/assets/styles/app";

.read-response-container {
  .paper-effect {
    position: relative;
    padding: 28px 32px;
    background-color: $white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    z-index: 1;
    @media screen and (max-width: 991px) {
      padding: 20px 15px;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .heading {
    @include general-text($font-size: 16px, $weight: bold);
  }

  .summary-content {
    @include general-text;
    @media screen {
      font-size: 14px;
    }
  }

  .what-resp-text {
    font-size: 13px;
    color: #939393;
    text-decoration: underline;
    cursor: default;
  }

  .satisfactory-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #2D2D2D;
    margin-bottom: 8px;
  }

  .satisfactory-tip {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(21, 21, 21, 0.5);
    margin-bottom: 24px;
  }



  .options-block {
    display: flex;
    justify-content: space-evenly;

    button {
      border: none;
      border-radius: 24px;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #151515;
      padding: 8px 16px 8px 46px;
    }

    .dis-satisfied-bg {
      background: #FDE7DA;
    }

    .satisfied-bg {
      background: #FDF5DA;
    }

    .grey-bg {
      background: #F2F2F2;
      color: #151515;
    }

    .active {
      background: rgba(14, 115, 185, 0.1);
      color: #0E73B9;
    }
  }

  .hr-line {
    margin-top: 24px;
    border-bottom: 1px solid #D5DBE2;
  }

  .error-msg {
    margin: 10px 0;
    color: #f0653a;
    font-size: 14px;
    text-align: center;
  }

  .response-container {
    padding: 25px 0;
    border-bottom: 1px solid $divider-border;
    &:last-child {
      border-bottom: none;
    }
    .vote-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 24px;
      background: #F8F9FA;
      border-radius: 0px 0px 4px 4px;
      .vote-count {
        display: flex;
        align-items: center;
        
        .vote-item {
          margin-right: 24px;
          padding: 8px 16px;
          font-size: 14px;
          color: #151515;
          background-color: #ffffff;
          border: 1px solid #C1C7D0;
          border-radius: 24px;
          cursor: pointer;
          span:nth-child(2) {
            margin-left: 4px;
          }
        }

        .share-block {
          position: relative;
          padding: 8px 16px;
          font-size: 14px;
          color: #151515;
          background-color: #ffffff;
          border: 1px solid #C1C7D0;
          border-radius: 24px;
          cursor: pointer;

          &__position {
            position: absolute;
            bottom: 35px;
            .share-pop-up {
              width: 250px;
              display: flex;
              justify-content: center;
              margin-bottom: 10px;
              margin-left: -45%;
              background: white;
              padding: 10px;
              box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.13);
              border-radius: 5px;
              position: relative;

              &:after {
                content: "";
                position: absolute;
                bottom: -10px;
                margin: 0 auto;
                width: 0;
                height: 0;
                border-top: 10px solid white;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
              }
              .share-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0.3125em;
                border: none;
                border-radius: 5px;
                width: 57px;
                height: 35px;

                &:visited {
                  color: transparent;
                }
                &:hover {
                  color: transparent;
                }
                &:active {
                  color: transparent;
                }

                i {
                  color: $white;
                  font-size: 18px;
                }

                &:nth-child(1) {
                  background-color: #4267b2
                }
                &:nth-child(2) {
                  background-color: #00acee;
                }
                &:nth-child(3) {
                  background-color: #25D366;
                }
                &:nth-child(4) {
                  background-color: #0e76a8;
                }
              }
            }
          }
          span:nth-child(3) {
            margin-left: 4px;
          }
        }
      }

      .response-btn {
        padding: 5px 10px;
        color: $primary-color;
        background-color: transparent;
        border-radius: 3px;
        border: 1px solid #1894ea;
      }
    }
    .text-16 {
      @media screen and (max-width: 991px) {
        font-size: 14px;
      }
    }
  }

  .response-index {
    min-height: 386px;
    height: 386px;
    background: #ffffff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    position: relative;

    &__nav {
      height: 60px;
      background: #f2f2f2;
      border-radius: 5px 5px 0 0;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .heading {
        font-weight: bold;
        font-size: 18px;
        line-height: 106.6%;
        color: #525252;
      }

      .link {
        font-size: 14px;
        line-height: 106.6%;
        text-decoration-line: underline;
        color: #0e73b9;
        cursor: pointer;
      }

      .info-mark {
        font-size: 40px;
        color: rgba(196, 196, 196, 0.5);
      }
    }

    &__content {
      padding: 5px 30px;
      height: calc(100% - 115px);

      ckeditor {
        .cke {
          height: 100% !important;
          border: none !important;
          .cke_inner {
            height: 100% !important;
            .cke_top {
              display: none;
            }
            .cke_contents {
              height: 100% !important;
            }
          }
        }
      }
    }

    &__footer {
      position: absolute;
      bottom: 0;
      width: 100%;

      .draggable-area {
        height: 20px;
        background: #e3e3e3;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .drag-bars {
          width: 30px;
          border: 2px solid #ffffff;

          &:nth-child(1) {
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}

.checkbox-area {
  min-height: 40px;
  background: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  label {
    font-size: 14px;
    line-height: 124.7%;
    letter-spacing: 0.02em;
    color: #5a5a5a;
  }

  .link {
    margin-left: 5px;
    font-size: 12px;
    line-height: 124.7%;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #939393;
    cursor: pointer;
  }

  .auto-save-text {
    font-size: 14px;
    color: $primary-color;
    margin: 0;
    @media screen and (max-width: 991px) {
      width: 100%;
      margin: 15px 0;
    }
  }
}

.email-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.035em;
  color: #929292;
}

.draft-box {
  .draft-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #2D2D2D;
    margin-bottom: 16px;
  }
  .draft-img {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
  }
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: $white;
  font-weight: 600;
  padding: 10px 15px;
  margin: 0 auto;
  background-color: #CACACA;
  border: none;
  border-radius: 4px;
  i {
    font-size: 18px;
    line-height: 22px;
  }
  span {
    margin-right: 5px;
    vertical-align: text-bottom;
  }
}

.active {
  background-color: #F0653A;
}

.question-box {
  .questions-container {
    .question-index {
      &:last-child {
        .question {
          border-bottom: none !important;
        }
      }
    }
    .question {
      padding: 24px 0;
      border-bottom: 1px solid #D5DBE2;
    }
    .question-text {
      margin-bottom: 20px;
      font-size: 16px;
      &__number {
        width: 15px;
        margin-right: 5px;
      }
    }
    .answer {
      padding: 0 20px;

      &__tips {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.06em;
        color: rgba(21, 21, 21, 0.5);
      }

      .option-box { 
        background: #F2F2F2;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 8px;

        label {
          margin-bottom: 0;
          span {
            margin-left: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.06em;
            color: #151515;
          }
          input.cm-radio[type='radio'] {
            width: 18px;
            height: 18px;
          }
        }
      }

      .text-area {
        textarea {
          width: 100%;
          height: 110px;
          border: 1px solid #AEAEAE;
        }
      }

    }
  }
  .checkbox-area {
    margin: 0 -32px;
    @media screen and (max-width: 991px) {
      margin: 0 -15px;
    }
  }
}

.feedback-index {
  .align-center {
    display: flex !important;
    align-items: center;
  }

  .modal {
    background: rgba(14, 115, 185, 0.6);
    height: 100vh;

    .modal-dialog {
      width: 50%;
      max-width: 50% !important;
      @media screen and (max-width: 991px) {
        width: 100%;
        max-width: unset !important;
        margin: 0;
      }

      .modal-content {
        .modal-header {
          .heading {
            font-weight: 500;
            font-size: 21px;
            line-height: 124.7%;
            letter-spacing: 0.02em;
            color: #525252;
            margin-bottom: 0;
          }
        }
        .modal-body {
          padding: 15px 30px;

          .radio-block {
            width: 100%;
            display: flex;
            align-items: center;

            .radio-btn {
              position: relative;
              width: 95%;
              display: flex;
              background: #f7f7f7;
              padding: 10px;
              justify-content: space-between;

              .radio-text,
              .count-text {
                z-index: 2;
              }

              .active-text {
                font-weight: bold;
              }

              .progress-color {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                background-color: #e3f1fc;
                z-index: 1;
              }

              .active-progress {
                background-color: #7ec6ff;
              }
            }
          }

          .footer-space {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 991px) {
              flex-wrap: wrap;
              justify-content: flex-start !important;
            }

            &__left {
              .points-text {
                font-weight: 600;
                font-size: 18px;
                line-height: 124.7%;
                letter-spacing: 0.02em;
                color: #525252;
                margin-bottom: 5px;
              }
              .link {
                font-weight: normal;
                font-size: 14px;
                line-height: 106.6%;
                /* or 15px */

                letter-spacing: 0.08em;
                text-decoration-line: underline;
                cursor: pointer;
                color: #0e73b9;
              }
            }

            &__right {
              @media screen and (max-width: 991px) {
                width: 100%;
              }
              button {
                display: flex;
                justify-content: space-between;
                width: 282px;
                padding: 10px 15px;
                border: none;
                @media screen and (max-width: 991px) {
                  width: 100%;
                }
                i {
                  font-size: 18px;
                  line-height: 22px;
                }
              }
              .mt-xs {
                @media screen and (max-width: 991px) {
                  margin-top: 15px;
                }
              }
              .submit-logo {
                margin-right: 5px;
                vertical-align: text-bottom;
              }
            }
          }
        }
      }
    }
  }
}

// Thankyou modal styles
.thankyou-modal  {

  .modal {
    background: rgba(14, 115, 185, 0.6);
    .modal-dialog {
      max-width: 528px;
      .modal-content {
        .modal-body {
          padding: 24px 20px 0;
          border: 1px solid #EBECF0;
          border-radius: 4px;
        }
      }
    }
  }

  .thankyou-inner {

    .close-btn {
      position: absolute;
      top: 24px;
      right: 24px;
      background-color: transparent;
      border: none;
    }

    &__top {
     text-align: center; 
     padding-bottom: 24px;
     .thankyou-img {
       width: 64px;
       height: 64px;
     }
     .thankyou-content {
       margin-top: 24px;
       p:nth-child(1) {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        color: #151515;
        margin-bottom: 8px;
       }
       p:nth-child(2) {
        font-size: 16px;
        color: rgba(21, 21, 21, 0.5);
        line-height: 24px;
        margin: 0;
      }
     }
    }

    &__bottom {
      padding-bottom: 24px;
      border-top: 1px solid #D5DBE2;
      .social-list {
        display: grid;
        grid-template-columns: repeat(5, 36px);
        grid-gap: 24px;
        justify-content: center;
        margin-top: 24px;
        .social-item {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px;
          border-radius: 50%;
          transition: all .2s linear;
          cursor: pointer;
          &:hover {
            background-color: #F4F5F7;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

