<section class="read-response-container" *ngIf="!loading">
  <div class="paper-effect">
    <p class="heading">
      {{'Summary' | translate}}
      <span>{{profileData?.readingTime ? '(' + profileData?.readingTime + ' min)' : '' }}</span>
    </p>
    <div *ngIf="profileData?.page || profileData?.summaryHindi">
      <app-page-content-renderer [page]="useSummaryHindi ? profileData?.summaryHindi : profileData?.page">
      </app-page-content-renderer>
    </div>
  </div>
  <!-- *ngIf="showCreateResponse()" -->

  <div >
    <div *ngIf="questionnaireExist ; else responseTextContainer">
      <app-consultation-questionnaire [profileData]="profileData" (openThankYouModal)="showThankYouModal = true; earnedPoints = $event">
      </app-consultation-questionnaire>
    </div>
    <ng-template #responseTextContainer>
      <app-consultation-response-text [profileData]="profileData" (openThankYouModal)="showThankYouModal = true; earnedPoints = $event"></app-consultation-response-text>
    </ng-template>
  </div>
  <div *ngIf="profileData?.reviewType !== 'policy'">
    <app-satisfaction-rating-distribution [satisfactionRatingDistribution]="satisfactionRatingDistribution"></app-satisfaction-rating-distribution>
    <app-consultation-public-responses></app-consultation-public-responses>
  </div>   
</section>

<app-thank-you-modal *ngIf="showThankYouModal" [points]="earnedPoints" [profileData]="profileData" (closeThankYouModal)="showThankYouModal = false">
</app-thank-you-modal>
