<div class="modal fade-in" bsModal #citySelectionModal="bs-modal" [config]="{ show: true, backdrop: 'static', keyboard: false }" (onHidden)="close()"
  tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" i18n>Update your location</h4>
      </div>
      <app-linear-loader *ngIf="loading"></app-linear-loader>
      <div class="modal-body">
        <p i18n>
          We have noticed that your account does not have a city associated with it.
          To help us serve you better, please select a city from the dropdown below.
        </p>
        <div class="d-flex">
            <ng-select class="w-50" id="locations" #city="ngModel" name="city" [loading]="loading" [clearable]="false"
            [items]="cities" bindLabel="name" [virtualScroll]="true" dropdownPosition="bottom" 
            bindValue="id" [notFoundText]="dropdownText" [clearable]="true" loadingText="Searching..."
            (search)="onCitySearch($event)" [(ngModel)]="user.cityId" placeholder="Type to search" required>
            </ng-select>  
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-blue" [disabled]="!user?.cityId" (click)="submit()">{{'Save' }}</button>
      </div>
    </div>
  </div>
</div>