<div class="login-index row no-gutters">

    <div class="login-index__left col-md-4">
        <div class="overlay"></div>
        <div class="cover-detail">
        <button class="back-btn" [routerLink]="['/auth-private', 'login']">
            <span><i class="fa fa-angle-left back-arrow"></i></span>
            Back
        </button>
    
        <div class="info-box">
            <p class="info-box__title">
            IN THE PAST
            </p>
            <p class="info-box__heading">
            National Urban Policy Framework, 2018
            </p>
            <p class="info-box__sub-heading">
            Ministry of Housing and Urban Affairs
            </p>
            <p class="info-box__message mb-4">
            <span><i class="fa fa-line-chart mr-2"></i></span>3251 citizen leaders participated
            </p>
            <button class="app-btn circular read-case-btn">READ CASE STUDY</button>
        </div>
        </div>
    </div>
    <div class="login-index__right col-md-8 col-12">
        <div class="header">
        <div class="logo-container">
            <img class="logo" [routerLink]="['/']" src='assets/images/brand-logo/brand-logo.svg' />
        </div>
        <div class="sign-up-container">
            <p class="auth-text"> 
            Don't have an account with Civis?
            </p>
            <button class="app-btn circular auth-btn" [routerLink]="['/auth-private', 'sign-up']">Sign Up</button>
        </div>
        <div class="sign-up-mobile-container">
            <div>
                <button class="app-btn primary sign-up-btn" [routerLink]="['/auth-private', 'sign-up']">Sign Up</button>
            </div>
            </div>
        </div>
        <!-- <p class="logo-heading">Forgot Your Password?</p> -->
    
        <div class="form-space row no-gutters mt-md-5 mt-2">
            <div class="form-space__left col-md-5">
                <div *ngIf="!resetPasswordToken">
                    <p class="logo-heading">Forgot Your Password?</p>
                    <p class="info-tip">
                        Enter your email address below and we'll email you a link to reset your password.
                    </p>
                    <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)" autocomplete="off">
                        <div class="input-box">
                            <label class="d-flex justify-content-between" for="email">
                                <span>
                                    Email
                                </span>
                                <span class="success-msg" *ngIf="showSuccessMessage">
                                    <i class="fa fa-check-circle"></i>
                                    Email Sent
                                </span>
                            </label>
                            <div class="input-box__border">
                                <input placeholder="Email" type="email" id="email" #email="ngModel" name="email" (focus)="showSuccessMessage = false" [(ngModel)]="forgotObject.email" required email />
                            </div>
                            <div *ngIf="email.invalid && (email.touched || emailFormSubmitted)" class="error-msg">
                                <div *ngIf="email.errors.required">Email is Required</div>
                                <div *ngIf="email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div>
                        <div class="d-flex align-items-center">
                            <button class="app-btn secondary get-start-btn" type="submit">
                                <p class="m-0">SEND EMAIL</p>
                                <i class="fa fa-angle-right"></i>
                            </button>
                            <span class="ml-2" *ngIf="loading">
                                <img src="assets/images/loading.svg">
                            </span>
                        </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="resetPasswordToken">
                    <p class="logo-heading">Reset Password</p>
                    <form #resetForm="ngForm" (ngSubmit)="reset(resetForm)" autocomplete="off">
                            <div class="input-box">
                                <label for="password">New Password</label>
                                <div class="input-box__border">
                                    <input placeholder="Password" type="password" id="newPassword" #newPassword="ngModel" name="newPassword" [(ngModel)]="resetObject.newPassword" required />
                                </div>
                                <div *ngIf="newPassword.invalid && (newPassword.touched || resetForm.submitted)" class="error-msg">Password is Required</div>
                            </div>
                            <div class="input-box">
                                <label for="password">Confirm Password</label>
                                <div class="input-box__border">
                                    <input placeholder="Password" type="password" id="confirmPassword" #confirmPassword="ngModel" name="confirmPassword" [(ngModel)]="resetObject.confirmPassword" required />
                                </div>
                                <div *ngIf="confirmPassword.invalid && (confirmPassword.touched || resetForm.submitted)" class="error-msg">Password is Required</div>
                                <div *ngIf="passwordMismatch && (confirmPassword.touched || resetForm.submitted)" class="error-msg">
                                    Passwords do not match.
                                </div>
                            </div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <button class="app-btn secondary get-start-btn" type="submit">
                                        <p class="m-0">Reset Password</p>
                                        <i class="fa fa-angle-right"></i>
                                    </button>
                                    <div class="ml-2" *ngIf="loading">
                                        <img src="assets/images/loading.svg">
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
      