.content-container {

  .ordered-list,
    .unordered-list {
      padding-left: 24px;
    }
  
    .media-img {
      border-radius: 3px;
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
  
    .video-frame {
      width: 100%;
      height: 339px;
      border-radius: 10px;
      margin-bottom: 1rem;
    }
  }