@import './src/assets/styles/app';

.glossary-wrapper {
  background-color: #FFFFFF;

  &__inner-container {
    margin: 0 auto;
    height: 300px;
    background-color: #E5F4FF;
    overflow-y: auto;
    overflow-x: hidden;
    @media screen and (max-width: 991px) {
    }
    .container-body {
      &__data-row {
        display: flex;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid #BFE4FF;
        transition: all .2s linear;
        &:hover {
          background-color: #BFE4FF;
          box-shadow: 0px 0px 3px #A0D4F8;
        }
        
          th{
            font-size: 16px;
            font-weight: 600;
            color: $black;
            text-align: center;
          }
          th:nth-child(1){
            text-align: left;
            width: 50px;
          }
          th:nth-child(2){
            width: 100px;
          }
          th:nth-child(3){
            width: 372px;
          }
          
          td{
            text-align: center;
            font-size: 16px;
          }
          td:nth-child(1){
            text-align: left;
            width: 50px;
            color: #6DB4E4;
            font-weight: 600;
          }
          td:nth-child(2){
            text-align: left;
            width: 100px;
            color: $black;
            font-weight: 600;
          }
          td:nth-child(3){
            width: 372px;
            color: $primary-color;
            text-align: left;
            padding-left: 15px;
          }
      }
    }
  }
}

.modal-dialog {
  max-width: 600px !important;
}

.align-center {
display: flex !important;
align-items: center;
}
