<div bsModal 
  #glossaryModal="bs-modal" 
  class="modal fade"
  tabindex="-1"
  [config]="{
    show: true,
    backdrop: false,
    ignoreBackdropClick: true,
    keyboard: false
  }"
  role="dialog"
  aria-labelledby="glossary-label"
  [ngClass]="showModal ? 'align-center' : ''">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 id="glossary-label" class="title">{{'Legal Terms Simplified' | translate}}</h1>
        <div 
          class="pointer" 
          aria-label="Close"
          role="button"
          tabindex="0"
          (click)="closeModal()"><img src="assets/images/close.svg" role="presentation"></div>
      </div>
      <div class="modal-body">
        <div class="glossary-wrapper">
          <ng-container *ngFor="let item of glossaryWordArray">
            <!-- Adding tabindex to make each item individually na=vigable-->
            <div tabindex="0" class="glossary-wrapper__item mb-2">
              <span class="legal-title">{{item?.wordindex.word}}</span>
              <span class="legal-description">{{item?.wordindex.description}}
              </span>
            </div>
          </ng-container>
          <button (click)="closeModal()" class="glossary-wrapper__btn">
            RETURN TO SUMMARY
          </button>
          <div class="glossary-wrapper__icon">
            Powered By:
            <a href="https://bit.ly/33rz72e" target="_blank"><img src="assets/images/nyaaya.svg" alt="nyaaya" class="mt-2"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
