<div class="consultation-container">
  <div class="consultation-index row align-items-center" *ngIf="step == 1">
    <div class="consultation-index__left col-5">
      <div class="heading-text">
        {{'Somebody’s taking initiative!' | translate}}
      </div>
      <div class="heading-tips">
        {{"Discovered a consultation draft? Tell us and we’ll put it up here for citizens to participate." | translate}}
      </div>

    </div>
    <div class="consultation-index__right offset-3 col-4">
      <div class="form-space">
          <form #consultationForm1="ngForm" (ngSubmit)="stepNext(consultationForm1.valid)" autocomplete="off">
            <div class="input-block">
              <label for="title">{{'Title of  the Consultation' | translate}}</label>
              <div class="input-block__border">
                  <input type="text" placeholder="Enter Title" name="title" #title="ngModel" id="title" [(ngModel)]="consultationInfo.title" required />
              </div>
              <div *ngIf="title.invalid && (title.touched || consultationForm1.submitted)" class="error-msg">
                {{'Title is Required' | translate}}
              </div>
              <div class="input-block__tips">
                {{'The title has to match the title of the consultation as used by the department' | translate}}
              </div>
            </div>
          <div class="input-block">
              <label for="url">{{'Paste URL of consultation PDF' | translate}}</label>
              <div class="input-block__border">
                  <input type="text" placeholder="http://" name="url" #url="ngModel" id="url" [(ngModel)]="consultationInfo.url" required
                  pattern="https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]' +
                  '+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,}" />
              </div>
              <div *ngIf="url.invalid && (url.touched || consultationForm1.submitted)" class="error-msg">
                {{'Url is invalid' | translate}}
              </div>
              <div class="input-block__tips">
                {{"This is the URL of the PDF or any other document on the department's website" | translate}}
              </div>
          </div>
          <div class="input-block">
              <label for="deadline">{{'Response submission deadline' | translate}}</label>
              <div class="input-block__border">
                  <input placeholder="dd / mm / yyyy" name="deadline" #deadline="ngModel" id="deadline" [(ngModel)]="consultationInfo.responseDeadline" bsDatepicker [bsConfig]="bsConfig" required />
              </div>
              <div *ngIf="deadline.invalid && (deadline.touched || consultationForm1.submitted)" class="error-msg">
                {{'Deadline is Required' | translate}}
              </div>
          </div>
          <div class="input-block">
            <label for="email">{{'Government Email ID to submit feedback' | translate}}</label>
            <div class="input-block__border">
                <input type="email" placeholder="Enter Email" name="email" #email="ngModel" id="email" [(ngModel)]="consultationInfo.consultationFeedbackEmail" email />
            </div>
            <div *ngIf="email.invalid && (email.touched || consultationForm1.submitted)" class="error-msg">
              <div *ngIf="email.errors.required">{{'Email is Required' | translate}}</div>
              <div *ngIf="email.errors.email">{{'Email must be a valid email address' | translate}}</div>
          </div>
          </div>
          <div>
              <button type="submit" class="btn submit-btn d-flex justify-content-between" [ngClass]="{'active-btn' : consultationForm1.valid}">
                <p class="m-0">{{'NEXT:  DEPARTMENT INFO' | translate}}</p>  
                <span><i class="fa fa-angle-right"></i></span>
              </button>
          </div>
          <div class="query-block">
            <p class="query-heading">{{'Get Queries?' | translate}}</p>
            <p class="query-content">{{'If you may need any kind of help with the upload of the consultation, please' | translate}}&nbsp;<a href="mailto:info@civis.vote" class="clr-blue">{{'get in touch' | translate}}</a>&nbsp;{{'with us.' | translate}}</p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="ministry-index row" *ngIf="step == 2">
    <div class="ministry-index__left col-6">
      <div class="heading-text">
        {{'Which ministry is this consultation by?' | translate}}
      </div>
      <div class="heading-tips">
        {{'To publish the consultation, help us with the name of the corresponding department' | translate}}
      </div>
    </div>
    <div class="ministry-index__right offset-2 col-4">
        <form #consultationForm2="ngForm" (ngSubmit)="submit(consultationForm2.valid)" autocomplete="off">
          <div class="input-block">
            <label for="ministry">{{'Ministry' | translate}}</label>
              <div class="location-box__border">
                  <ng-select id="ministry" #ministry="ngModel" name="ministry" [loading]="loadingMinistries"
                  [items]="ministries" bindLabel="name" [virtualScroll]="true" dropdownPosition="bottom" 
                  bindValue="id" [notFoundText]="dropdownText" [clearable]="true" loadingText="Searching..."
                  (search)="onSearch($event)" placeholder="Select" (open)="getMinistriesList()" [(ngModel)]="departmentInfo.ministryId" required> 
                  </ng-select>  
              </div>    
              <div *ngIf="ministry.invalid && (ministry.touched || consultationForm2.submitted)" class="error-msg">
                {{' Ministry is Required' | translate}}
              </div>
            <div #addMinistryElement>
                <button class="add-ministry-block w-100 d-flex justify-content-between" *ngIf="searchText && showAddMinistryBlock" (click)="openAddMinistryModal($event)">
                    <p class="m-0">{{' Add Ministry' | translate}}</p>
                    <span><i class="fa fa-plus"></i></span>
                  </button>
            </div>
          </div>
          <div>
            <button type="submit" class="btn submit-btn d-flex justify-content-between" [ngClass]="{'active-btn': consultationForm2.valid}">
              <p class="m-0">{{' SUBMIT CONSULTATION' | translate}} </p>
              <span><i class="fa fa-angle-right"></i></span>
            </button>
          </div>
        </form>
        <div class="back-btn" (click)="step = 1">
          <span><i class="fa fa-angle-left"></i></span>{{' BACK TO CONSULTATION INFO' | translate}}
        </div>
        <div class="query-block">
            <p class="query-heading">{{'Get Queries?' | translate}}</p>
            <p class="query-content">{{'If you need any kind of help with creating a consultation, please' | translate}} <a href="mailto:info@civis.vote" class="clr-blue">{{'get in touch' | translate}}</a> {{' with us.' | translate}}</p>
          </div>
    </div>
  </div>

  <div class="consultation-success-index" *ngIf="step === 3">
      <div class="success-message">
        <div class="heading">
          {{'Hooraah!' | translate}}
        </div>
        <div class="text">
          {{'Thank you for submitting the consultation.' | translate}}
        </div>
        <div class="text">
          {{'We’ll notify and post your draft within 24-36 hours    ' | translate}}
        </div>
        <div class="link">
          {{'You’ve been mailed the draft. Preview it here' | translate}}
        </div>
      </div>
      <div class="succes-image">
        <picture>
          <source srcset="assets/images/success.webp" type="image/webp">
          <source srcset="assets/images/success.jpg" type="image/jpeg">
          <img src="assets/images/success.jpg" alt="steps image" />
        </picture>
      </div>
    </div>

<div bsModal #addMinistryModal="bs-modal" class="modal fade ministry-modal" tabindex="-1" (onHidden)="hideAddMinistryModal()"
     [config]="{show: false}"
     role="dialog" aria-labelledby="addMinistryModal">
  <div class="modal-dialog post-create-modal">
    <div class="modal-content">
      <div class="space-around">
          <div class="modal-header">
              <p class="subheader-text">
                {{'ADD A MINISTRY' | translate}}
                  <br>
                  <span class="light-text">{{'Or,' | translate}}</span>
                  <span class="link-text" (click)="hideAddMinistryModal()"  >{{'Select an existing department' | translate}}</span>
              </p>
              <div class="modal-close-btn" (click)="hideAddMinistryModal()"><i class="fa fa-times"></i></div>
            </div>
            <div class="modal-body py-0 mb-4 d-flex">
      
              <div class="form-space">
                  <form #ministryForm="ngForm" (ngSubmit)="addMinistry(ministryForm.valid)" autocomplete="off">
                    <div class="input-block">
                      <label for="name">{{'Ministry*' | translate}}</label>
                      <div class="input-block__border">
                          <input type="text" placeholder="Ministry Name" name="name" #name="ngModel" id="name" [(ngModel)]="ministryObject.name" required />
                      </div>
                      <div *ngIf="name.invalid && (name.touched || ministryForm.submitted)" class="error-msg">
                        {{'Ministry Name is Required' | translate}}
                      </div>
                    </div>
                  <div class="input-block">
                      <label for="category">{{'Category' | translate}}</label>
                        <ng-select id="category" #category="ngModel" name="category" 
                        [items]="categoriesList" bindLabel="name" [virtualScroll]="true" dropdownPosition="bottom" 
                        bindValue="id" [searchable]="false"
                        [(ngModel)]="ministryObject.categoryId" required> 
                        </ng-select> 
                        <div *ngIf="category.invalid && (category.touched || ministryForm.submitted)" class="error-msg">
                          {{'Category is Required' | translate}}
                        </div>
                  </div>
                  <div class="input-block">
                      <label for="deadline">{{'Department Logo' | translate}}</label>   
                      <div class="input-block__upload-field">
                        <label class="w-100 m-0">
                          <input type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" hidden required /> 
                          <span><i class="fa fa-cloud-upload"></i></span>
                          {{ ministryObject?.logoFile?.filename ? ministryObject.logoFile.filename :  'Select File'  }}
                        </label>
                    </div>     
                  </div>
                  <div class="input-block">
                    <label for="level">{{'Level*' | translate}}</label>
                      <ng-select id="level" #level="ngModel" name="level"  
                      [items]="levels" bindLabel="name" [virtualScroll]="true" dropdownPosition="bottom" 
                      bindValue="name" [searchable]="false"
                      [(ngModel)]="ministryObject.level" required> 
                      </ng-select>  
                      <div *ngIf="level.invalid && (level.touched || ministryForm.submitted)" class="error-msg">
                        {{'Level is Required' | translate}}
                      </div>
                </div>
                  <div class="input-block">
                      <label for="category">{{'Primary email address of the ministry POC' | translate}}</label>
                      <div class="input-block__border">
                          <input type="text" placeholder="Enter email" name="primaryEmail" #primaryEmail="ngModel" id="primary_email" [(ngModel)]="ministryObject.pocEmailPrimary" required email/>
                      </div>
                      <div *ngIf="primaryEmail.invalid && (primaryEmail.touched || ministryForm.submitted)" class="error-msg">
                          <div *ngIf="primaryEmail.errors.required">{{'Primary Email is Required' | translate}}</div>
                          <div *ngIf="primaryEmail.errors.email">{{'Primary Email must be a valid email address' | translate}}</div>
                      </div>
                      <div class="input-block__tips">
                        {{'This is the point-of-contact or person who will be sent the responses' | translate}}
                    </div>
                  </div>
                  <div class="input-block">
                      <label for="category">{{'Secondary email address of the ministry POC' | translate}}</label>
                      <div class="input-block__border">
                          <input type="text" placeholder="Enter email" name="secondaryEmail" #secondaryEmail="ngModel" id="secondary_email" [(ngModel)]="ministryObject.pocEmailSecondary" />
                      </div>
                  </div>
                  <div>
                    <button type="submit" class="btn submit-btn d-flex justify-content-between">
                      <p class="m-0">{{'Add Ministry' | translate}}</p>
                      <span><i class="fa fa-angle-right"></i></span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>