<div>
  <div class="consultation-index row align-items-center" *ngIf="step == 1">
    <div class="consultation-index__left col-4">
      <div class="heading-text">
          Somebody’s taking initiative!
      </div>
      <div class="heading-tips">
         Discovered a consultation draft? Tell us and we’ll put it up here for citizens to participate.
      </div>

    </div>
    <div class="consultation-index__right offset-4 col-4">
      <div class="form-space">
          <form #consultationForm1="ngForm" (ngSubmit)="stepNext(consultationForm1.valid)" autocomplete="off">
            <div class="input-block">
              <label for="title">Title of  the Consultation</label>
              <div class="input-block__border">
                  <input type="text" placeholder="Enter Title" name="title" #title="ngModel" id="title" [(ngModel)]="consultationInfo.title" required />
              </div>
              <div *ngIf="title.invalid && (title.touched || consultationForm1.submitted)" class="error-msg">
                Title is Required
              </div>
              <div class="input-block__tips">
                  The Title has to much the title of the consultation as used by the department
              </div>
            </div>
          <div class="input-block">
              <label for="url">Paste URL of consultation PDF</label>
              <div class="input-block__border">
                  <input type="text" placeholder="http://" name="url" #url="ngModel" id="url" [(ngModel)]="consultationInfo.url" required />
              </div>
              <div *ngIf="url.invalid && (url.touched || consultationForm1.submitted)" class="error-msg">
                  Url is Required
                </div>
              <div class="input-block__tips">
                This is the URL of the PDF file on the government department sites
              </div>
          </div>
          <div class="input-block">
              <label for="deadline">Response submission deadline</label>
              <div class="input-block__border">
                  <input placeholder="dd / mm / yyyy" name="deadline" #deadline="ngModel" id="deadline" [(ngModel)]="consultationInfo.responseDeadline" bsDatepicker [bsConfig]="bsConfig" required />
              </div>
              <div *ngIf="deadline.invalid && (deadline.touched || consultationForm1.submitted)" class="error-msg">
                  Deadline is Required
              </div>
          </div>
          <div>
              <button type="submit" class="btn submit-btn" [ngClass]="{'active-btn' : consultationForm1.valid}">NEXT DEPARTMENT INFO  ></button>
          </div>
          <div class="query-block">
              <div>Get Queries?</div>
              <div>If you may need any kind of help with the upload of the consultation, please get in touch woth us.</div>
            </div>
        </form>
      </div>
    </div>
  </div>

  <div class="ministry-index row" *ngIf="step == 2">
    <div class="ministry-index__left col-4">
      <div class="heading-text">
          Which ministry is this consultation by? 
      </div>
      <div class="heading-tips">
        To publish the consultation, help us with the name of the corresponding department
      </div>
    </div>
    <div class="ministry-index__right offset-4 col-4">
        <form #consultationForm2="ngForm" (ngSubmit)="submit(consultationForm2.valid)" autocomplete="off">
          <div class="input-block">
            <label for="ministry">Ministry</label>
              <div class="location-box__border">
                  <ng-select id="ministry" #ministry="ngModel" name="ministry" [loading]="loadingMinistries"
                  [items]="ministries" bindLabel="name" [virtualScroll]="true" dropdownPosition="bottom" 
                  bindValue="id" notFoundText="Ministry not found" [clearable]="true" loadingText="Searching..."
                  (search)="onSearch($event)" (close)="onClose()" [(ngModel)]="departmentInfo.ministryId" required> 
                  </ng-select>  
              </div>    
              <div *ngIf="ministry.invalid && (ministry.touched || consultationForm2.submitted)" class="error-msg">
                Ministry is Required
              </div>
       
            <button class="add-ministry-block w-100" *ngIf="searchText && showAddMinistryBlock" (click)="openAddMinistryModal($event)">
              Add Ministry {{'"' + searchText + '"'}}
            </button>
          </div>
          <div>
              <button type="submit" class="btn submit-btn" [ngClass]="{'active-btn': consultationForm2.valid}">SUBMIT CONSULTATION  ></button>
          </div>
        </form>
        <div class="back-btn" (click)="step = 1">
            BACK TO CONSULTATION INFO
        </div>
        <div class="query-block">
            <div>Get Queries?</div>
            <div>If you need any kind of help with creating a consultation, please get in touch with us.</div>
          </div>
    </div>
  </div>

<div bsModal #addMinistryModal="bs-modal" class="modal fade ministry-modal" tabindex="-1" (onHidden)="hideAddMinistryModal()"
     [config]="{show: false}"
     role="dialog" aria-labelledby="addMinistryModal">
  <div class="modal-dialog post-create-modal">
    <div class="modal-content">
      <div class="space-around">
          <div class="modal-header">
              <p class="subheader-text">
                  ADD A MINISTRY 
                  <br>
                  <span class="light-text">Or, </span>
                  <span class="link-text" (click)="hideAddMinistryModal()"  >Select an existing department</span>
              </p>
              <span class="cm-close" (click)="hideAddMinistryModal()">X</span>
            </div>
            <div class="modal-body py-0 mb-4 d-flex">
      
              <div class="form-space">
                  <form #ministryForm="ngForm" (ngSubmit)="addMinistry(ministryForm.valid)" autocomplete="off">
                    <div class="input-block">
                      <label for="name">Ministry</label>
                      <div class="input-block__border">
                          <input type="text" placeholder="Ministry Name" name="name" #name="ngModel" id="name" [(ngModel)]="ministryObject.name" required />
                      </div>
                      <div *ngIf="name.invalid && (name.touched || ministryForm.submitted)" class="error-msg">
                          Ministry Name is Required
                      </div>
                    </div>
                  <div class="input-block">
                      <label for="category">Category</label>
                        <ng-select id="category" #category="ngModel" name="category" 
                        [items]="categoriesList" bindLabel="name" [virtualScroll]="true" dropdownPosition="bottom" 
                        bindValue="id" [searchable]="false"
                        [(ngModel)]="ministryObject.categoryId" required> 
                        </ng-select> 
                        <div *ngIf="category.invalid && (category.touched || ministryForm.submitted)" class="error-msg">
                            Category is Required
                        </div>
                  </div>
                  <div class="input-block">
                      <label for="deadline">Department Logo</label>   
                      <div class="input-block__border">
                        <label>
                          <input type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" hidden required /> 
                          {{ ministryObject?.logoFile?.filename ? ministryObject.logoFile.filename :  'Select File'  }}
                        </label>
                    </div>     
                  </div>
                  <div class="input-block">
                    <label for="level">Level</label>
                      <ng-select id="level" #level="ngModel" name="level"  
                      [items]="levels" bindLabel="name" [virtualScroll]="true" dropdownPosition="bottom" 
                      bindValue="name" [searchable]="false"
                      [(ngModel)]="ministryObject.level" required> 
                      </ng-select>  
                      <div *ngIf="level.invalid && (level.touched || ministryForm.submitted)" class="error-msg">
                          Level is Required
                      </div>
                </div>
                  <div class="input-block">
                      <label for="category">Primary email address of the ministry POC</label>
                      <div class="input-block__border">
                          <input type="text" placeholder="Enter email" name="primaryEmail" #primaryEmail="ngModel" id="primary_email" [(ngModel)]="ministryObject.pocEmailPrimary" required email/>
                      </div>
                      <div *ngIf="primaryEmail.invalid && (primaryEmail.touched || ministryForm.submitted)" class="error-msg">
                          <div *ngIf="primaryEmail.errors.required">Primary Email is Required</div>
                          <div *ngIf="primaryEmail.errors.email">Primary Email must be a valid email address</div>
                      </div>
                      <div class="input-block__tips">
                        This is the point-of-contact or person who will be sent the responses
                    </div>
                  </div>
                  <div class="input-block">
                      <label for="category">Secondary email address of the ministry POC</label>
                      <div class="input-block__border">
                          <input type="text" placeholder="Enter email" name="secondaryEmail" #secondaryEmail="ngModel" id="secondary_email" [(ngModel)]="ministryObject.pocEmailSecondary" />
                      </div>
                  </div>
                  <div>
                      <button type="submit" class="btn submit-btn">Add Ministry</button>
                  </div>
                </form>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
</div>