<div class="paper-effect mt-4 m-0-sm" *ngIf="responseList?.length"  #responsesListContainer>
    <div class="d-flex justify-content-between">
      <p class="text-16 m-0 bold-text">{{'Public responses' | translate}}</p>
      <p class="what-resp-text" tooltip="If you feel passionately about this Consultation, you can make your response public, 
        for others to use as a template. Your first name is shared with the Government if you make your response public.
        If you’re not sure what to write, you can choose other people’s responses to send as your own."
        placement="left" container="body">
        {{'What are public responses?' | translate}}
      </p>
    </div>
    <div class="tabs-block" *ngIf="responseRounds.length > 1">
      <p *ngFor="let round of responseRounds" 
        (click)="setActiveRound(round.roundNumber)"
        [ngClass]="{'active-tab': (roundNumber === round?.roundNumber)}">
        {{'Round ' + round.roundNumber}}
      </p>
    </div>    <ng-container *ngFor="let response of responseList" >
      <div class="response-container pb-0" [id]="response?.node?.id" *ngIf="publicResponsesLength && response?.node?.roundNumber == roundNumber">
        <div class="d-inline-flex align-items-center">
          <img class="avatar avatar--42 pointer" appDefaultImage [type]="'user'"
            [src]="response?.node?.user?.profilePicture?.url" (click)="openUserProfile(response?.node?.user)" />
            <p class="regular-text bold-text m-0 ml-2">{{response?.node?.user?.firstName}}</p>
        </div>     
        <p class="text-16" *ngIf="!response?.node?.answers ; else responseAnswers" [innerHTML]="response.node?.responseText"></p>
        <ng-template #responseAnswers>
          <app-response-answers [showOnlyLongTextAnswer]="true" [response]="response?.node"></app-response-answers>
        </ng-template>
        <app-response-footer [response]="response"></app-response-footer>
      </div>
    </ng-container>
</div> 
<div *ngIf="selectedUser && showUserProfileModal">
  <app-user-profile-modal (close)="showUserProfileModal = false" [userId]="selectedUser"></app-user-profile-modal>
</div>